{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content dashboard deployments">
	<div class="ui container fluid padded">
		<div id="deployments-insights" data-global-init="initDeploymentsInsights"></div>
	</div>
</div>
{{template "base/footer" .}}
