{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content dashboard deployments">
	<div class="ui container fluid padded">
		<div id="deployments-new" data-global-init="initDeploymentsNew"></div>
	</div>
</div>
{{template "base/footer" .}}
