#planning-project {
  min-height: 20rem;
}

.planning-table table {
  table-layout: fixed;
  width: 100%;
}

.planning-table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--color-body);
}

.planning-table .planning-table-group td {
  background: var(--color-secondary-bg);
}
