{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content dashboard planning">
	<div id="planning-project" data-global-init="initPlanningProject"></div>
</div>
{{template "base/footer" .}}
