{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content dashboard planning">
	<div class="ui container fluid padded">
		<div id="planning-settings" data-global-init="initPlanningSettings"></div>
	</div>
</div>
{{template "base/footer" .}}
