{{if and .EnableSwimlanes .Repository .Project}}
<div class="ui container flex-text-block tw-mb-2" id="planning-swimlanes">
	<a href="{{AppSubUrl}}/planning/projects/{{.Repository.OwnerName}}/{{.Repository.Name}}/{{.Project.ID}}?view=board">Open in Projects board</a>
</div>
{{end}}
