gitea-theme-meta-info {
  --theme-display-name: "Dracula Pro Buffy Dark";
  --theme-color-scheme: "dark";
}

:root {
  --is-dark-theme: true;
  --color-primary: #9580ff;
  --color-primary-contrast: #241e24;
  --color-primary-dark-1: #9e8cfb;
  --color-primary-dark-2: #a797f8;
  --color-primary-dark-3: #b0a2f5;
  --color-primary-dark-4: #b8acf3;
  --color-primary-dark-5: #c7bfef;
  --color-primary-dark-6: #ddd9f3;
  --color-primary-dark-7: #f5f4fb;
  --color-primary-light-1: #755af9;
  --color-primary-light-2: #5536f0;
  --color-primary-light-3: #3b1ae0;
  --color-primary-light-4: #351db1;
  --color-primary-light-5: #25195f;
  --color-primary-light-6: #110c28;
  --color-primary-light-7: #05040c;
  --color-primary-alpha-10: #9580ff19;
  --color-primary-alpha-20: #9580ff33;
  --color-primary-alpha-30: #9580ff4b;
  --color-primary-alpha-40: #9580ff66;
  --color-primary-alpha-50: #9580ff80;
  --color-primary-alpha-60: #9580ff99;
  --color-primary-alpha-70: #9580ffb3;
  --color-primary-alpha-80: #9580ffcc;
  --color-primary-alpha-90: #9580ffe1;
  --color-primary-hover: var(--color-primary-light-1);
  --color-primary-active: var(--color-primary-light-2);
  --color-secondary: #4c3b4c;
  --color-secondary-dark-1: #534253;
  --color-secondary-dark-2: #5d4b5d;
  --color-secondary-dark-3: #6e5a6e;
  --color-secondary-dark-4: #806c80;
  --color-secondary-dark-5: #8e7b8e;
  --color-secondary-dark-6: #998a99;
  --color-secondary-dark-7: #a499a4;
  --color-secondary-dark-8: #b1a8b1;
  --color-secondary-dark-9: #b8aeb8;
  --color-secondary-dark-10: #c3bbc3;
  --color-secondary-dark-11: #cfc8cf;
  --color-secondary-dark-12: #d7d2d7;
  --color-secondary-dark-13: #d9d5d9;
  --color-secondary-light-1: #3f323f;
  --color-secondary-light-2: #342a34;
  --color-secondary-light-3: #251e25;
  --color-secondary-light-4: #1d181d;
  --color-secondary-alpha-10: #4c3b4c19;
  --color-secondary-alpha-20: #4c3b4c33;
  --color-secondary-alpha-30: #4c3b4c4b;
  --color-secondary-alpha-40: #4c3b4c66;
  --color-secondary-alpha-50: #4c3b4c80;
  --color-secondary-alpha-60: #4c3b4c99;
  --color-secondary-alpha-70: #4c3b4cb3;
  --color-secondary-alpha-80: #4c3b4ccc;
  --color-secondary-alpha-90: #4c3b4ce1;
  --color-secondary-button: var(--color-secondary-dark-4);
  --color-secondary-hover: var(--color-secondary-dark-3);
  --color-secondary-active: var(--color-secondary-dark-2);
  /* console colors - used for actions console and console files */
  --color-console-fg: #f8f2f8;
  --color-console-fg-subtle: #ceb8ce;
  --color-console-bg: #201920;
  --color-console-border: #3c303c;
  --color-console-hover-bg: #342934;
  --color-console-active-bg: #3c303c;
  --color-console-menu-bg: #322832;
  --color-console-menu-border: #524552;
  --color-console-link: #a196a1;
  /* named colors */
  --color-red: #ff9580;
  --color-orange: #ffca80;
  --color-yellow: #ffff80;
  --color-olive: #c4ff80;
  --color-green: #8aff80;
  --color-teal: #80ffea;
  --color-blue: #80c0ff;
  --color-violet: #9580ff;
  --color-purple: #ea80ff;
  --color-pink: #ff80bf;
  --color-brown: #cb974e;
  --color-black: #292029;
  /* light variants - produced via Sass scale-color(color, $lightness: +10%) */
  --color-red-light: #fc9f8d;
  --color-orange-light: #facd8d;
  --color-yellow-light: #ffff80;
  --color-olive-light: #c2fd7e;
  --color-green-light: #97f98f;
  --color-teal-light: #74ffe8;
  --color-blue-light: #8bc4fb;
  --color-violet-light: #a18ffd;
  --color-purple-light: #ea8efc;
  --color-pink-light: #fc8ac3;
  --color-brown-light: #cda062;
  --color-black-light: #514451;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #f97459;
  --color-orange-dark-1: #fccc88;
  --color-yellow-dark-1: #fefe59;
  --color-olive-dark-1: #b2fd5b;
  --color-green-dark-1: #69f65d;
  --color-teal-dark-1: #5fffe5;
  --color-blue-dark-1: #5babfa;
  --color-violet-dark-1: #745af9;
  --color-purple-dark-1: #de5af8;
  --color-pink-dark-1: #fb59a9;
  --color-brown-dark-1: #bf893d;
  --color-black-dark-1: #372d37;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #f15536;
  --color-orange-dark-2: #fdcb85;
  --color-yellow-dark-2: #ffff2d;
  --color-olive-dark-2: #9ffb36;
  --color-green-dark-2: #4ce83f;
  --color-teal-dark-2: #3cffdf;
  --color-blue-dark-2: #3695f1;
  --color-violet-dark-2: #5738f2;
  --color-purple-dark-2: #d137ef;
  --color-pink-dark-2: #f43393;
  --color-brown-dark-2: #a57839;
  --color-black-dark-2: #322832;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #241e24;
  --color-ansi-red: #ff9580;
  --color-ansi-green: #8aff80;
  --color-ansi-yellow: #ffff80;
  --color-ansi-blue: #9580ff;
  --color-ansi-magenta: #ff80bf;
  --color-ansi-cyan: #80ffea;
  --color-ansi-white: var(--color-console-fg-subtle);
  --color-ansi-bright-black: #9a7e9a;
  --color-ansi-bright-red: #ff9580;
  --color-ansi-bright-green: #8aff80;
  --color-ansi-bright-yellow: #ffff80;
  --color-ansi-bright-blue: #9580ff;
  --color-ansi-bright-magenta: #ff80bf;
  --color-ansi-bright-cyan: #80ffea;
  --color-ansi-bright-white: var(--color-console-fg);
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #483c48;
  --color-grey-light: #968996;
  --color-gold: #e0e04e;
  --color-white: #ffffff;
  --color-diff-added-fg: #8aff80;
  --color-diff-added-linenum-bg: #294227;
  --color-diff-added-row-bg: #213220;
  --color-diff-added-row-border: #334e31;
  --color-diff-added-word-bg: #3a8434;
  --color-diff-moved-row-bg: #a6a638;
  --color-diff-moved-row-border: #ffff80;
  --color-diff-removed-fg: #ff9580;
  --color-diff-removed-linenum-bg: #482721;
  --color-diff-removed-row-bg: #30211e;
  --color-diff-removed-row-border: #634943;
  --color-diff-removed-word-bg: #6f3d33;
  --color-diff-inactive: #2e252e;
  --color-error-border: #7d4034;
  --color-error-bg: #322522;
  --color-error-bg-active: #492c26;
  --color-error-bg-hover: #3c2824;
  --color-error-text: #ff9580;
  --color-success-border: #297d21;
  --color-success-bg: #20391d;
  --color-success-text: #8aff80;
  --color-warning-border: #88881c;
  --color-warning-bg: #3e3e23;
  --color-warning-text: #ffff80;
  --color-info-border: #299281;
  --color-info-bg: #1b3a35;
  --color-info-text: #80ffea;
  --color-priority-border: #7c268d;
  --color-priority-bg: #341c39;
  --color-priority-text: #ea80ff;
  --color-red-badge: #ff9580;
  --color-red-badge-bg: #ff95801a;
  --color-red-badge-hover-bg: #ff95804d;
  --color-green-badge: #8aff80;
  --color-green-badge-bg: #8aff801a;
  --color-green-badge-hover-bg: #8aff804d;
  --color-yellow-badge: #ffff80;
  --color-yellow-badge-bg: #ffff801a;
  --color-yellow-badge-hover-bg: #ffff804d;
  --color-orange-badge: #ffca80;
  --color-orange-badge-bg: #ffca801a;
  --color-orange-badge-hover-bg: #ffca804d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #241e24;
  --color-box-header: #221b22;
  --color-box-body: #1b161b;
  --color-box-body-highlight: #282028;
  --color-text-dark: #f8f2f8;
  --color-text: #dec8de;
  --color-text-light: #cdb7cd;
  --color-text-light-1: #b8a5b8;
  --color-text-light-2: #a196a1;
  --color-text-light-3: #8f808f;
  --color-footer: var(--color-nav-bg);
  --color-timeline: #443744;
  --color-input-text: var(--color-text-dark);
  --color-input-background: #201920;
  --color-input-toggle-background: #3c313c;
  --color-input-border: var(--color-secondary-dark-1);
  --color-light: #0e0c0e28;
  --color-light-border: #f4f3f428;
  --color-hover: #f4f3f419;
  --color-hover-opaque: #2c232c; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #f4f3f424;
  --color-menu: #201920;
  --color-card: #201920;
  --color-markup-table-row: #f4f3f40f;
  --color-markup-code-block: #f4f3f412;
  --color-markup-code-inline: #f4f3f428;
  --color-button: #201920;
  --color-code-bg: #1b161b;
  --color-shadow: #0e0c0e58;
  --color-shadow-opaque: #0e0c0e;
  --color-secondary-bg: #352c35;
  --color-expand-button: #3d323d;
  --color-placeholder-text: var(--color-text-light-3);
  --color-editor-line-highlight: var(--color-secondary-alpha-40);
  --color-editor-selection: var(--color-primary-alpha-50);
  --color-project-column-bg: var(--color-secondary-light-2);
  --color-caret: var(--color-text); /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #f4f3f412;
  --color-reaction-hover-bg: var(--color-primary-light-4);
  --color-reaction-active-bg: var(--color-primary-light-5);
  --color-tooltip-text: #f9f5f9;
  --color-tooltip-bg: #372a37;
  --color-nav-bg: #1e181e;
  --color-nav-hover-bg: var(--color-secondary-light-1);
  --color-nav-text: var(--color-text);
  --color-secondary-nav-bg: #1f191f;
  --color-label-text: var(--color-text);
  --color-label-bg: #8a7a8a4b;
  --color-label-hover-bg: #8a7a8aa0;
  --color-label-active-bg: #8a7a8aff;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-highlight-fg: #b4b419;
  --color-highlight-bg: #53532a;
  --color-overlay-backdrop: #0a090ac0;
  --color-danger: var(--color-red);
  --color-transparency-grid-light: #2e2a2e;
  --color-transparency-grid-dark: #1d1a1d;
  --color-workflow-edge-hover: #746574;
  --color-syntax-keyword: #9580ff;
  --color-syntax-bool: #9580ff;
  --color-syntax-control: #9580ff;
  --color-syntax-name: #8aff80;
  --color-syntax-type: #80ffea;
  --color-syntax-number: #9580ff;
  --color-syntax-operator: #9580ff;
  --color-syntax-regexp: #ff9580;
  --color-syntax-string: #ffff80;
  --color-syntax-comment: #9a7e9a;
  --color-syntax-invalid: #ff9580;
  --color-syntax-link: var(--color-primary);
  --color-syntax-tag: #9580ff;
  --color-syntax-attribute: #8aff80;
  --color-syntax-property: #80ffea;
  --color-syntax-variable: #f8f2f8;
  --color-syntax-string-special: #ffff80;
  --color-syntax-escape: #9580ff;
  --color-syntax-entity: #9580ff;
  --color-syntax-preproc: #9580ff;
  --color-syntax-preproc-file: #ffff80;
  --color-syntax-decorator: #8aff80;
  --color-syntax-namespace: #f8f2f8;
  --color-syntax-name-pseudo: #8aff80;
  --color-syntax-comment-special: #9a7e9a;
  --color-syntax-text: #f8f2f8;
  --color-syntax-text-alt: #9a7e9a;
  --color-syntax-punctuation: #f8f2f8;
  --color-syntax-whitespace: #9a7e9a;
  --color-syntax-diff-fg: #f8f2f8;
  --color-syntax-deleted-bg: #ff9580;
  --color-syntax-inserted-bg: #8aff80;
  --color-syntax-emph: #ffff80;
  --color-syntax-strong: #ffca80;
  --color-syntax-heading: #9580ff;
  --color-syntax-subheading: #80ffea;
  --color-syntax-output: #f8f2f8;
  --color-syntax-prompt: #8aff80;
  --color-syntax-traceback: #ff9580;
  --color-syntax-matching-bracket-bg: #80ffea48;
  --color-syntax-nonmatching-bracket-bg: #ff958048;
  accent-color: var(--color-accent);
  color-scheme: dark;
}

/* invert emojis that are hard to read otherwise */
.emoji[aria-label="check mark"],
.emoji[aria-label="currency exchange"],
.emoji[aria-label="TOP arrow"],
.emoji[aria-label="END arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label="copyright"],
.emoji[aria-label="registered"],
.emoji[aria-label="trade mark"],
.emoji[aria-label="multiply"],
.emoji[aria-label="plus"],
.emoji[aria-label="minus"],
.emoji[aria-label="divide"],
.emoji[aria-label="curly loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy dash"],
.emoji[aria-label="paw prints"],
.emoji[aria-label="musical note"],
.emoji[aria-label="musical notes"] {
  filter: invert(100%) hue-rotate(180deg);
}
