gitea-theme-meta-info {
  --theme-display-name: "Dracula Pro Morbius Dark";
  --theme-color-scheme: "dark";
}

:root {
  --is-dark-theme: true;
  --color-primary: #9580ff;
  --color-primary-contrast: #221c1e;
  --color-primary-dark-1: #937efa;
  --color-primary-dark-2: #917cfc;
  --color-primary-dark-3: #907dee;
  --color-primary-dark-4: #8d79f2;
  --color-primary-dark-5: #a093e3;
  --color-primary-dark-6: #d0c9f1;
  --color-primary-dark-7: #f1effb;
  --color-primary-light-1: #7a60fc;
  --color-primary-light-2: #2a00fb;
  --color-primary-light-3: #a79fcf;
  --color-primary-light-4: #280cb3;
  --color-primary-light-5: #27138e;
  --color-primary-light-6: #170d49;
  --color-primary-light-7: #09061b;
  --color-primary-alpha-10: #9580ff19;
  --color-primary-alpha-20: #9580ff33;
  --color-primary-alpha-30: #9580ff4b;
  --color-primary-alpha-40: #9580ff66;
  --color-primary-alpha-50: #9580ff80;
  --color-primary-alpha-60: #9580ff99;
  --color-primary-alpha-70: #9580ffb3;
  --color-primary-alpha-80: #9580ffcc;
  --color-primary-alpha-90: #9580ffe1;
  --color-primary-hover: #9581fb;
  --color-primary-active: #9582f7;
  --color-secondary: #3a3335;
  --color-secondary-dark-1: #423a3c;
  --color-secondary-dark-2: #4e4346;
  --color-secondary-dark-3: #615256;
  --color-secondary-dark-4: #776268;
  --color-secondary-dark-5: #896f76;
  --color-secondary-dark-6: #987c84;
  --color-secondary-dark-7: #a48b92;
  --color-secondary-dark-8: #b19ca2;
  --color-secondary-dark-9: #b7a4a9;
  --color-secondary-dark-10: #c3b2b7;
  --color-secondary-dark-11: #cec1c5;
  --color-secondary-dark-12: #d7cccf;
  --color-secondary-dark-13: #d9cfd2;
  --color-secondary-light-1: #312a2c;
  --color-secondary-light-2: #282324;
  --color-secondary-light-3: #1d191a;
  --color-secondary-light-4: #171415;
  --color-secondary-alpha-10: #3a333519;
  --color-secondary-alpha-20: #3a333533;
  --color-secondary-alpha-30: #3a33354b;
  --color-secondary-alpha-40: #3a333566;
  --color-secondary-alpha-50: #3a333580;
  --color-secondary-alpha-60: #21171a;
  --color-secondary-alpha-70: #3a3335b3;
  --color-secondary-alpha-80: #3a3335cc;
  --color-secondary-alpha-90: #3a3335e1;
  --color-secondary-button: var(--color-secondary-dark-4);
  --color-secondary-hover: var(--color-secondary-dark-3);
  --color-secondary-active: var(--color-secondary-dark-2);
  /* console colors - used for actions console and console files */
  --color-console-fg: #ffffff;
  --color-console-fg-subtle: #f8f4f4;
  --color-console-bg: #262626;
  --color-console-border: #3c3c3c;
  --color-console-hover-bg: #363636;
  --color-console-active-bg: #3c3c3c;
  --color-console-menu-bg: #353535;
  --color-console-menu-border: #4f4f4f;
  --color-console-link: #c3adb1;
  /* named colors */
  --color-red: #ff9580;
  --color-orange: #ffca80;
  --color-yellow: #ffff80;
  --color-olive: #c4ff80;
  --color-green: #8aff80;
  --color-teal: #80ffea;
  --color-blue: #80c0ff;
  --color-violet: #9580ff;
  --color-purple: #ea80ff;
  --color-pink: #ff80bf;
  --color-brown: #cb974e;
  --color-black: #2d2d2d;
  /* light variants - produced via Sass scale-color(color, $lightness: +10%) */
  --color-red-light: #fd9e8b;
  --color-orange-light: #facc8b;
  --color-yellow-light: #fdfd88;
  --color-olive-light: #c2fd7e;
  --color-green-light: #86ff7b;
  --color-teal-light: #74ffe8;
  --color-blue-light: #8dc6ff;
  --color-violet-light: #a18ffd;
  --color-purple-light: #eb8efd;
  --color-pink-light: #fc8ac3;
  --color-brown-light: #cda062;
  --color-black-light: #4e4e4e;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #fb7358;
  --color-orange-dark-1: #fccb87;
  --color-yellow-dark-1: #fcfc59;
  --color-olive-dark-1: #b2fd5b;
  --color-green-dark-1: #6cfc60;
  --color-teal-dark-1: #5fffe5;
  --color-blue-dark-1: #56abfe;
  --color-violet-dark-1: #745af9;
  --color-purple-dark-1: #e059fb;
  --color-pink-dark-1: #fb59a9;
  --color-brown-dark-1: #bf893d;
  --color-black-dark-1: #393939;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #f55232;
  --color-orange-dark-2: #fdcb84;
  --color-yellow-dark-2: #f7f731;
  --color-olive-dark-2: #9ffb36;
  --color-green-dark-2: #4cf73d;
  --color-teal-dark-2: #3cffdf;
  --color-blue-dark-2: #2c95fc;
  --color-violet-dark-2: #5738f2;
  --color-purple-dark-2: #d534f5;
  --color-pink-dark-2: #f43393;
  --color-brown-dark-2: #a57839;
  --color-black-dark-2: #353535;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #221c1e;
  --color-ansi-red: #ff9580;
  --color-ansi-green: #8aff80;
  --color-ansi-yellow: #ffff80;
  --color-ansi-blue: #9580ff;
  --color-ansi-magenta: #ff80bf;
  --color-ansi-cyan: #80ffea;
  --color-ansi-white: var(--color-console-fg-subtle);
  --color-ansi-bright-black: #918386;
  --color-ansi-bright-red: #ff9580;
  --color-ansi-bright-green: #8aff80;
  --color-ansi-bright-yellow: #ffff80;
  --color-ansi-bright-blue: #9580ff;
  --color-ansi-bright-magenta: #ff80bf;
  --color-ansi-bright-cyan: #80ffea;
  --color-ansi-bright-white: var(--color-console-fg);
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #474747;
  --color-grey-light: #decace;
  --color-gold: #e0e04e;
  --color-white: #e6edf3;
  --color-diff-added-fg: #8aff80;
  --color-diff-added-linenum-bg: #294227;
  --color-diff-added-row-bg: #1df00b26;
  --color-diff-added-row-border: #1df00b4d;
  --color-diff-added-word-bg: #1df00b66;
  --color-diff-moved-row-bg: #a6a638;
  --color-diff-moved-row-border: #ffff80;
  --color-diff-removed-fg: #ff9580;
  --color-diff-removed-linenum-bg: #482721;
  --color-diff-removed-row-bg: #fd816926;
  --color-diff-removed-row-border: #fd81694d;
  --color-diff-removed-word-bg: #fd816966;
  --color-diff-inactive: #2a2527;
  --color-error-border: #ff563566;
  --color-error-bg: #b63b23;
  --color-error-bg-active: #492c26;
  --color-error-bg-hover: #3c2824;
  --color-error-text: #ff9580;
  --color-success-border: #8af78166;
  --color-success-bg: #275923;
  --color-success-text: #8aff80;
  --color-warning-border: #ffff2b66;
  --color-warning-bg: #ffff2b1a;
  --color-warning-text: #ffff80;
  --color-info-border: #76ffe866;
  --color-info-bg: #76ffe81a;
  --color-info-text: #80ffea;
  --color-priority-border: #7c268d;
  --color-priority-bg: #341c39;
  --color-priority-text: #ea80ff;
  --color-red-badge: #ff9580;
  --color-red-badge-bg: #ff95801a;
  --color-red-badge-hover-bg: #ff95804d;
  --color-green-badge: #8aff80;
  --color-green-badge-bg: #8aff801a;
  --color-green-badge-hover-bg: #8aff804d;
  --color-yellow-badge: #ffff80;
  --color-yellow-badge-bg: #ffff801a;
  --color-yellow-badge-hover-bg: #ffff804d;
  --color-orange-badge: #ffca80;
  --color-orange-badge-bg: #ffca801a;
  --color-orange-badge-hover-bg: #ffca804d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #221c1e;
  --color-box-header: #2a2527;
  --color-box-body: #221c1e;
  --color-box-body-highlight: #2d2d2d;
  --color-text-dark: #f8f2f3;
  --color-text: #f8f2f3;
  --color-text-light: #decace;
  --color-text-light-1: #b09498;
  --color-text-light-2: #decace;
  --color-text-light-3: #997279;
  --color-footer: #161b22;
  --color-timeline: #323031;
  --color-input-text: #adbac7;
  --color-input-background: #323132;
  --color-input-toggle-background: #3d3d3d;
  --color-input-border: var(--color-secondary-dark-1);
  --color-light: #323132;
  --color-light-border: #3f3d3e;
  --color-hover: #393738;
  --color-hover-opaque: #393738; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #323132;
  --color-menu: #2a2527;
  --color-card: #221c1e;
  --color-markup-table-row: #f4f3f30f;
  --color-markup-code-block: #7b636b66;
  --color-markup-code-inline: #f4f3f328;
  --color-button: #323132;
  --color-code-bg: #221c1e;
  --color-shadow: #18181858;
  --color-shadow-opaque: #181818;
  --color-secondary-bg: #3a3335;
  --color-expand-button: #221c1e;
  --color-placeholder-text: var(--color-text-light-3);
  --color-editor-line-highlight: #0d1117;
  --color-editor-selection: var(--color-primary-alpha-50);
  --color-project-column-bg: var(--color-secondary-light-2);
  --color-caret: #bbc0ca; /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #f4f3f312;
  --color-reaction-hover-bg: var(--color-primary-light-4);
  --color-reaction-active-bg: var(--color-primary-light-5);
  --color-tooltip-text: #ffffff;
  --color-tooltip-bg: #383838;
  --color-nav-bg: #1b060d;
  --color-nav-hover-bg: #b1bac41f;
  --color-nav-text: var(--color-text);
  --color-secondary-nav-bg: #1d1b1c;
  --color-label-text: #4493f8;
  --color-label-bg: #fd387a1a;
  --color-label-hover-bg: #eb1f63;
  --color-label-active-bg: #8a7a7fff;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-highlight-fg: #b4b419;
  --color-highlight-bg: #53532a;
  --color-overlay-backdrop: #141414c0;
  --color-danger: var(--color-red);
  --color-transparency-grid-light: #343434;
  --color-transparency-grid-dark: #262626;
  --color-workflow-edge-hover: #73666a;
  --color-syntax-keyword: #9580ff;
  --color-syntax-bool: #9580ff;
  --color-syntax-control: #9580ff;
  --color-syntax-name: #8aff80;
  --color-syntax-type: #80ffea;
  --color-syntax-number: #9580ff;
  --color-syntax-operator: #9580ff;
  --color-syntax-regexp: #ff9580;
  --color-syntax-string: #ffff80;
  --color-syntax-comment: #918386;
  --color-syntax-invalid: #ff9580;
  --color-syntax-link: var(--color-primary);
  --color-syntax-tag: #9580ff;
  --color-syntax-attribute: #8aff80;
  --color-syntax-property: #80ffea;
  --color-syntax-variable: #f8f2f3;
  --color-syntax-string-special: #ffff80;
  --color-syntax-escape: #9580ff;
  --color-syntax-entity: #9580ff;
  --color-syntax-preproc: #9580ff;
  --color-syntax-preproc-file: #ffff80;
  --color-syntax-decorator: #8aff80;
  --color-syntax-namespace: #f8f2f3;
  --color-syntax-name-pseudo: #8aff80;
  --color-syntax-comment-special: #918386;
  --color-syntax-text: #f8f2f3;
  --color-syntax-text-alt: #918386;
  --color-syntax-punctuation: #f8f2f3;
  --color-syntax-whitespace: #918386;
  --color-syntax-diff-fg: #f8f2f3;
  --color-syntax-deleted-bg: #ff9580;
  --color-syntax-inserted-bg: #8aff80;
  --color-syntax-emph: #ffff80;
  --color-syntax-strong: #ffca80;
  --color-syntax-heading: #9580ff;
  --color-syntax-subheading: #80ffea;
  --color-syntax-output: #f8f2f3;
  --color-syntax-prompt: #8aff80;
  --color-syntax-traceback: #ff9580;
  --color-syntax-matching-bracket-bg: #80ffea48;
  --color-syntax-nonmatching-bracket-bg: #ff958048;
  accent-color: var(--color-accent);
  color-scheme: dark;
}

a,
.ui.breadcrumb a {
  color: var(--color-blue);
}

/* invert emojis that are hard to read otherwise */
.emoji[aria-label="check mark"],
.emoji[aria-label="currency exchange"],
.emoji[aria-label="TOP arrow"],
.emoji[aria-label="END arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label="copyright"],
.emoji[aria-label="registered"],
.emoji[aria-label="trade mark"],
.emoji[aria-label="multiply"],
.emoji[aria-label="plus"],
.emoji[aria-label="minus"],
.emoji[aria-label="divide"],
.emoji[aria-label="curly loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy dash"],
.emoji[aria-label="paw prints"],
.emoji[aria-label="musical note"],
.emoji[aria-label="musical notes"] {
  filter: invert(100%) hue-rotate(180deg);
}
