gitea-theme-meta-info {
  --theme-display-name: "Dracula Pro Dark Ruby Dark";
  --theme-color-scheme: "dark";
}

:root {
  --is-dark-theme: true;
  --color-primary: #9580ff;
  --color-primary-contrast: #0d0b0c;
  --color-primary-dark-1: #9e8cfb;
  --color-primary-dark-2: #a797f8;
  --color-primary-dark-3: #b0a2f5;
  --color-primary-dark-4: #b8acf3;
  --color-primary-dark-5: #c7bfef;
  --color-primary-dark-6: #ddd9f3;
  --color-primary-dark-7: #f5f4fb;
  --color-primary-light-1: #755af9;
  --color-primary-light-2: #5536f0;
  --color-primary-light-3: #3b1ae0;
  --color-primary-light-4: #351db1;
  --color-primary-light-5: #25195f;
  --color-primary-light-6: #110c28;
  --color-primary-light-7: #05040c;
  --color-primary-alpha-10: #9580ff19;
  --color-primary-alpha-20: #9580ff33;
  --color-primary-alpha-30: #9580ff4b;
  --color-primary-alpha-40: #9580ff66;
  --color-primary-alpha-50: #9580ff80;
  --color-primary-alpha-60: #9580ff99;
  --color-primary-alpha-70: #9580ffb3;
  --color-primary-alpha-80: #9580ffcc;
  --color-primary-alpha-90: #9580ffe1;
  --color-primary-hover: var(--color-primary-light-1);
  --color-primary-active: var(--color-primary-light-2);
  --color-secondary: #434047;
  --color-secondary-dark-1: #4a474e;
  --color-secondary-dark-2: #535058;
  --color-secondary-dark-3: #635f69;
  --color-secondary-dark-4: #75707c;
  --color-secondary-dark-5: #837d8c;
  --color-secondary-dark-6: #918b98;
  --color-secondary-dark-7: #9e99a4;
  --color-secondary-dark-8: #aca8b1;
  --color-secondary-dark-9: #b2aeb8;
  --color-secondary-dark-10: #bebbc3;
  --color-secondary-dark-11: #cbc8cf;
  --color-secondary-dark-12: #d4d2d7;
  --color-secondary-dark-13: #d7d5d9;
  --color-secondary-light-1: #38363b;
  --color-secondary-light-2: #2f2d31;
  --color-secondary-light-3: #211f24;
  --color-secondary-light-4: #1a191c;
  --color-secondary-alpha-10: #43404719;
  --color-secondary-alpha-20: #43404733;
  --color-secondary-alpha-30: #4340474b;
  --color-secondary-alpha-40: #43404766;
  --color-secondary-alpha-50: #43404780;
  --color-secondary-alpha-60: #43404799;
  --color-secondary-alpha-70: #434047b3;
  --color-secondary-alpha-80: #434047cc;
  --color-secondary-alpha-90: #434047e1;
  --color-secondary-button: var(--color-secondary-dark-4);
  --color-secondary-hover: var(--color-secondary-dark-3);
  --color-secondary-active: var(--color-secondary-dark-2);
  /* console colors - used for actions console and console files */
  --color-console-fg: #f8f9fa;
  --color-console-fg-subtle: #bdc5cc;
  --color-console-bg: #090808;
  --color-console-border: #2a2226;
  --color-console-hover-bg: #201a1d;
  --color-console-active-bg: #2a2226;
  --color-console-menu-bg: #1e181b;
  --color-console-menu-border: #463b41;
  --color-console-link: #969ca1;
  /* named colors */
  --color-red: #a4133c;
  --color-orange: #f37128;
  --color-yellow: #ffff80;
  --color-olive: #c4ff80;
  --color-green: #8aff80;
  --color-teal: #80ffea;
  --color-blue: #80c0ff;
  --color-violet: #9580ff;
  --color-purple: #fe66ff;
  --color-pink: #ff4d6d;
  --color-brown: #874e2e;
  --color-black: #120e10;
  /* light variants - produced via Sass scale-color(color, $lightness: +10%) */
  --color-red-light: #c01a49;
  --color-orange-light: #f7a576;
  --color-yellow-light: #ffff80;
  --color-olive-light: #c2fd7e;
  --color-green-light: #97f98f;
  --color-teal-light: #74ffe8;
  --color-blue-light: #8bc4fb;
  --color-violet-light: #a18ffd;
  --color-purple-light: #fa78fb;
  --color-pink-light: #fb607c;
  --color-brown-light: #a05f3a;
  --color-black-light: #453a40;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #951539;
  --color-orange-dark-1: #f59158;
  --color-yellow-dark-1: #fefe59;
  --color-olive-dark-1: #b2fd5b;
  --color-green-dark-1: #69f65d;
  --color-teal-dark-1: #5fffe5;
  --color-blue-dark-1: #5babfa;
  --color-violet-dark-1: #745af9;
  --color-purple-dark-1: #f645f8;
  --color-pink-dark-1: #fa2f53;
  --color-brown-dark-1: #7a482c;
  --color-black-dark-1: #241e21;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #871636;
  --color-orange-dark-2: #f48445;
  --color-yellow-dark-2: #ffff2d;
  --color-olive-dark-2: #9ffb36;
  --color-green-dark-2: #4ce83f;
  --color-teal-dark-2: #3cffdf;
  --color-blue-dark-2: #3695f1;
  --color-violet-dark-2: #5738f2;
  --color-purple-dark-2: #ed27ee;
  --color-pink-dark-2: #f31139;
  --color-brown-dark-2: #6c422a;
  --color-black-dark-2: #1e181b;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #0d0b0c;
  --color-ansi-red: #a4133c;
  --color-ansi-green: #8aff80;
  --color-ansi-yellow: #ffff80;
  --color-ansi-blue: #9580ff;
  --color-ansi-magenta: #ff4d6d;
  --color-ansi-cyan: #80ffea;
  --color-ansi-white: var(--color-console-fg-subtle);
  --color-ansi-bright-black: #6d6875;
  --color-ansi-bright-red: #a4133c;
  --color-ansi-bright-green: #8aff80;
  --color-ansi-bright-yellow: #ffff80;
  --color-ansi-bright-blue: #9580ff;
  --color-ansi-bright-magenta: #ff4d6d;
  --color-ansi-bright-cyan: #80ffea;
  --color-ansi-bright-white: var(--color-console-fg);
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #393035;
  --color-grey-light: #899096;
  --color-gold: #e0e04e;
  --color-white: #ffffff;
  --color-diff-added-fg: #8aff80;
  --color-diff-added-linenum-bg: #294227;
  --color-diff-added-row-bg: #213220;
  --color-diff-added-row-border: #334e31;
  --color-diff-added-word-bg: #3a8434;
  --color-diff-moved-row-bg: #a6a638;
  --color-diff-moved-row-border: #ffff80;
  --color-diff-removed-fg: #a4133c;
  --color-diff-removed-linenum-bg: #48212c;
  --color-diff-removed-row-bg: #301e23;
  --color-diff-removed-row-border: #61424b;
  --color-diff-removed-word-bg: #6f3344;
  --color-diff-inactive: #191416;
  --color-error-border: #672e3e;
  --color-error-bg: #322227;
  --color-error-bg-active: #492630;
  --color-error-bg-hover: #3c242b;
  --color-error-text: #a4133c;
  --color-success-border: #297d21;
  --color-success-bg: #20391d;
  --color-success-text: #8aff80;
  --color-warning-border: #88881c;
  --color-warning-bg: #3e3e23;
  --color-warning-text: #ffff80;
  --color-info-border: #299281;
  --color-info-bg: #1b3a35;
  --color-info-text: #80ffea;
  --color-priority-border: #8c268d;
  --color-priority-bg: #391c39;
  --color-priority-text: #fe66ff;
  --color-red-badge: #a4133c;
  --color-red-badge-bg: #a4133c1a;
  --color-red-badge-hover-bg: #a4133c4d;
  --color-green-badge: #8aff80;
  --color-green-badge-bg: #8aff801a;
  --color-green-badge-hover-bg: #8aff804d;
  --color-yellow-badge: #ffff80;
  --color-yellow-badge-bg: #ffff801a;
  --color-yellow-badge-hover-bg: #ffff804d;
  --color-orange-badge: #f37128;
  --color-orange-badge-bg: #f371281a;
  --color-orange-badge-hover-bg: #f371284d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #0d0b0c;
  --color-box-header: #0b090a;
  --color-box-body: #060506;
  --color-box-body-highlight: #110e10;
  --color-text-dark: #f8f9fa;
  --color-text: #ced6dd;
  --color-text-light: #bcc4cb;
  --color-text-light-1: #a8afb7;
  --color-text-light-2: #969ca1;
  --color-text-light-3: #80888f;
  --color-footer: var(--color-nav-bg);
  --color-timeline: #342a2f;
  --color-input-text: var(--color-text-dark);
  --color-input-background: #090808;
  --color-input-toggle-background: #2a2327;
  --color-input-border: var(--color-secondary-dark-1);
  --color-light: #00000028;
  --color-light-border: #f4f3f328;
  --color-hover: #f4f3f319;
  --color-hover-opaque: #161214; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #f4f3f324;
  --color-menu: #090808;
  --color-card: #090808;
  --color-markup-table-row: #f4f3f30f;
  --color-markup-code-block: #f4f3f312;
  --color-markup-code-inline: #f4f3f328;
  --color-button: #090808;
  --color-code-bg: #060506;
  --color-shadow: #00000058;
  --color-shadow-opaque: #000000;
  --color-secondary-bg: #302f32;
  --color-expand-button: #2c2428;
  --color-placeholder-text: var(--color-text-light-3);
  --color-editor-line-highlight: var(--color-secondary-alpha-40);
  --color-editor-selection: var(--color-primary-alpha-50);
  --color-project-column-bg: var(--color-secondary-light-2);
  --color-caret: var(--color-text); /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #f4f3f312;
  --color-reaction-hover-bg: var(--color-primary-light-4);
  --color-reaction-active-bg: var(--color-primary-light-5);
  --color-tooltip-text: #fafbfc;
  --color-tooltip-bg: #231b1f;
  --color-nav-bg: #080708;
  --color-nav-hover-bg: var(--color-secondary-light-1);
  --color-nav-text: var(--color-text);
  --color-secondary-nav-bg: #1c1a1e;
  --color-label-text: var(--color-text);
  --color-label-bg: #8a7a824b;
  --color-label-hover-bg: #8a7a82a0;
  --color-label-active-bg: #8a7a82ff;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-highlight-fg: #b4b419;
  --color-highlight-bg: #53532a;
  --color-overlay-backdrop: #000000c0;
  --color-danger: var(--color-red);
  --color-transparency-grid-light: #1a1819;
  --color-transparency-grid-dark: #080808;
  --color-workflow-edge-hover: #71636a;
  --color-syntax-keyword: #9580ff;
  --color-syntax-bool: #9580ff;
  --color-syntax-control: #9580ff;
  --color-syntax-name: #8aff80;
  --color-syntax-type: #80ffea;
  --color-syntax-number: #9580ff;
  --color-syntax-operator: #9580ff;
  --color-syntax-regexp: #a4133c;
  --color-syntax-string: #ffff80;
  --color-syntax-comment: #6d6875;
  --color-syntax-invalid: #a4133c;
  --color-syntax-link: var(--color-primary);
  --color-syntax-tag: #9580ff;
  --color-syntax-attribute: #8aff80;
  --color-syntax-property: #80ffea;
  --color-syntax-variable: #f8f9fa;
  --color-syntax-string-special: #ffff80;
  --color-syntax-escape: #9580ff;
  --color-syntax-entity: #9580ff;
  --color-syntax-preproc: #9580ff;
  --color-syntax-preproc-file: #ffff80;
  --color-syntax-decorator: #8aff80;
  --color-syntax-namespace: #f8f9fa;
  --color-syntax-name-pseudo: #8aff80;
  --color-syntax-comment-special: #6d6875;
  --color-syntax-text: #f8f9fa;
  --color-syntax-text-alt: #6d6875;
  --color-syntax-punctuation: #f8f9fa;
  --color-syntax-whitespace: #6d6875;
  --color-syntax-diff-fg: #f8f9fa;
  --color-syntax-deleted-bg: #a4133c;
  --color-syntax-inserted-bg: #8aff80;
  --color-syntax-emph: #ffff80;
  --color-syntax-strong: #ffca80;
  --color-syntax-heading: #9580ff;
  --color-syntax-subheading: #80ffea;
  --color-syntax-output: #f8f9fa;
  --color-syntax-prompt: #8aff80;
  --color-syntax-traceback: #a4133c;
  --color-syntax-matching-bracket-bg: #80ffea48;
  --color-syntax-nonmatching-bracket-bg: #a4133c48;
  accent-color: var(--color-accent);
  color-scheme: dark;
}

/* invert emojis that are hard to read otherwise */
.emoji[aria-label="check mark"],
.emoji[aria-label="currency exchange"],
.emoji[aria-label="TOP arrow"],
.emoji[aria-label="END arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label="copyright"],
.emoji[aria-label="registered"],
.emoji[aria-label="trade mark"],
.emoji[aria-label="multiply"],
.emoji[aria-label="plus"],
.emoji[aria-label="minus"],
.emoji[aria-label="divide"],
.emoji[aria-label="curly loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy dash"],
.emoji[aria-label="paw prints"],
.emoji[aria-label="musical note"],
.emoji[aria-label="musical notes"] {
  filter: invert(100%) hue-rotate(180deg);
}
