gitea-theme-meta-info {
  --theme-display-name: "Dracula Pro Tokyo Night Light";
  --theme-color-scheme: "light";
}

:root {
  --is-dark-theme: false;
  --color-primary: #7836e7;
  --color-primary-contrast: #ffffff;
  --color-primary-dark-1: #681ee3;
  --color-primary-dark-2: #5e1bcd;
  --color-primary-dark-3: #5319b4;
  --color-primary-dark-4: #49189b;
  --color-primary-dark-5: #33116c;
  --color-primary-dark-6: #1d0a3d;
  --color-primary-dark-7: #0f071d;
  --color-primary-light-1: #7e41e5;
  --color-primary-light-2: #844ce4;
  --color-primary-light-3: #8b56e3;
  --color-primary-light-4: #9160e2;
  --color-primary-light-5: #ab88e7;
  --color-primary-light-6: #d6c4f3;
  --color-primary-light-7: #f2edfb;
  --color-primary-alpha-10: #7836e719;
  --color-primary-alpha-20: #7836e733;
  --color-primary-alpha-30: #7836e74b;
  --color-primary-alpha-40: #7836e766;
  --color-primary-alpha-50: #7836e780;
  --color-primary-alpha-60: #7836e799;
  --color-primary-alpha-70: #7836e7b3;
  --color-primary-alpha-80: #7836e7cc;
  --color-primary-alpha-90: #7836e7e1;
  --color-primary-hover: #681ee3;
  --color-primary-active: #5e1bcd;
  --color-secondary: #ced1e0;
  --color-secondary-dark-1: #c5c8d7;
  --color-secondary-dark-2: #b7bac9;
  --color-secondary-dark-3: #979aa9;
  --color-secondary-dark-4: #888b98;
  --color-secondary-dark-5: #7a7c88;
  --color-secondary-dark-6: #6a6c78;
  --color-secondary-dark-7: #5b5d69;
  --color-secondary-dark-8: #4b4d59;
  --color-secondary-dark-9: #3c3e4a;
  --color-secondary-dark-10: #2c2e3a;
  --color-secondary-dark-11: #1d1f2b;
  --color-secondary-dark-12: #0d0f1b;
  --color-secondary-dark-13: #00020b;
  --color-secondary-light-1: #dde0ed;
  --color-secondary-light-2: #e3e6f3;
  --color-secondary-light-3: #ebedf9;
  --color-secondary-light-4: #f1f3ff;
  --color-secondary-alpha-10: #ced1e019;
  --color-secondary-alpha-20: #ced1e033;
  --color-secondary-alpha-30: #ced1e04b;
  --color-secondary-alpha-40: #ced1e066;
  --color-secondary-alpha-50: #ced1e080;
  --color-secondary-alpha-60: #ced1e099;
  --color-secondary-alpha-70: #ced1e0b3;
  --color-secondary-alpha-80: #ced1e0cc;
  --color-secondary-alpha-90: #ced1e0e1;
  --color-secondary-button: #888b98;
  --color-secondary-hover: #7a7c88;
  --color-secondary-active: #6a6c78;
  /* console colors - used for actions console and console files */
  --color-console-fg: #0b0f19;
  --color-console-fg-subtle: #3d4250;
  --color-console-bg: #eaebf4;
  --color-console-border: #bdc1df;
  --color-console-hover-bg: #dadcf0;
  --color-console-active-bg: #bdc1df;
  --color-console-menu-bg: #dfe1f6;
  --color-console-menu-border: #bdc1df;
  --color-console-link: #5c606d;
  /* named colors */
  --color-red: #d31e40;
  --color-orange: #e1522d;
  --color-yellow: #d4912f;
  --color-olive: #afb430;
  --color-green: #4e7326;
  --color-teal: #176c9e;
  --color-blue: #1c32c7;
  --color-violet: #6620de;
  --color-purple: #dd4ae5;
  --color-pink: #e2378a;
  --color-brown: #a35541;
  --color-black: #1d1e28;
  /* light variants - produced via Sass scale-color(color, $lightness: +25%) */
  --color-red-light: #e5506c;
  --color-orange-light: #ed7b5d;
  --color-yellow-light: #e9af59;
  --color-olive-light: #d6dc4f;
  --color-green-light: #77b831;
  --color-teal-light: #199fee;
  --color-blue-light: #3e54ec;
  --color-violet-light: #8e5de1;
  --color-purple-light: #e479ea;
  --color-pink-light: #e96aa8;
  --color-brown-light: #c47a67;
  --color-black-light: #4b4e68;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #bd1c3a;
  --color-orange-dark-1: #d7421c;
  --color-yellow-dark-1: #c68423;
  --color-olive-dark-1: #a0a529;
  --color-green-dark-1: #466821;
  --color-teal-dark-1: #136290;
  --color-blue-dark-1: #172bb5;
  --color-violet-dark-1: #5d20c5;
  --color-purple-dark-1: #d730e0;
  --color-pink-dark-1: #dd207c;
  --color-brown-dark-1: #934d3b;
  --color-black-dark-1: #2c2d39;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #a81934;
  --color-orange-dark-2: #c13a17;
  --color-yellow-dark-2: #b5761a;
  --color-olive-dark-2: #909521;
  --color-green-dark-2: #3f5e1d;
  --color-teal-dark-2: #0f5782;
  --color-blue-dark-2: #1225a3;
  --color-violet-dark-2: #531ead;
  --color-purple-dark-2: #c820d2;
  --color-pink-dark-2: #c31d6e;
  --color-brown-dark-2: #834333;
  --color-black-dark-2: #131419;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #1a1b26;
  --color-ansi-red: #f7768e;
  --color-ansi-green: #9ece6a;
  --color-ansi-yellow: #e0af68;
  --color-ansi-blue: #bb9af3;
  --color-ansi-magenta: #ff007c;
  --color-ansi-cyan: #7dcfff;
  --color-ansi-white: #3d4250;
  --color-ansi-bright-black: #565f89;
  --color-ansi-bright-red: #f7768e;
  --color-ansi-bright-green: #9ece6a;
  --color-ansi-bright-yellow: #e0af68;
  --color-ansi-bright-blue: #bb9af3;
  --color-ansi-bright-magenta: #ff007c;
  --color-ansi-bright-cyan: #7dcfff;
  --color-ansi-bright-white: #0b0f19;
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #696a77;
  --color-grey-light: #353b4d;
  --color-gold: #956f37;
  --color-white: #ffffff;
  --color-diff-added-fg: #466722;
  --color-diff-added-linenum-bg: #e5f8d1;
  --color-diff-added-row-bg: #f3ffe6;
  --color-diff-added-row-border: #f3ffe6;
  --color-diff-added-word-bg: #d1f2ac;
  --color-diff-moved-row-bg: #d0eaf9;
  --color-diff-moved-row-border: #76c0eb;
  --color-diff-removed-fg: #c81d3d;
  --color-diff-removed-linenum-bg: #ffcbd5;
  --color-diff-removed-row-bg: #ffeef1;
  --color-diff-removed-row-border: #f1c0c9;
  --color-diff-removed-word-bg: #fdb8c5;
  --color-diff-inactive: #d9dbf0;
  --color-error-border: #ff819866;
  --color-error-bg: #ffe9ed;
  --color-error-bg-active: #ffcbd5;
  --color-error-bg-hover: #ffd7de;
  --color-error-text: #d61f41;
  --color-success-border: #88bb5166;
  --color-success-bg: #ebfbda;
  --color-success-text: #4e7326;
  --color-warning-border: #c28c3e66;
  --color-warning-bg: #ffe7c5;
  --color-warning-text: #80561a;
  --color-info-border: #fa59a766;
  --color-info-bg: #ddf2ff;
  --color-info-text: #1c88c7;
  --color-priority-border: #faa1ff66;
  --color-priority-bg: #fee7ff;
  --color-priority-text: #dd4ae5;
  --color-red-badge: #e02346;
  --color-red-badge-bg: #e023461a;
  --color-red-badge-hover-bg: #e023464d;
  --color-green-badge: #70a536;
  --color-green-badge-bg: #70a5361a;
  --color-green-badge-hover-bg: #70a5364d;
  --color-yellow-badge: #d4912f;
  --color-yellow-badge-bg: #d4912f1a;
  --color-yellow-badge-hover-bg: #d4912f4d;
  --color-orange-badge: #e1522d;
  --color-orange-badge-bg: #e1522d1a;
  --color-orange-badge-hover-bg: #e1522d4d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #eaebf4;
  --color-box-header: #ced1f2;
  --color-box-body: #e4e5f0;
  --color-box-body-highlight: #ced3ff;
  --color-text-dark: #06070a;
  --color-text: #212532;
  --color-text-light: #353b4d;
  --color-text-light-1: #444b5e;
  --color-text-light-2: #5c6378;
  --color-text-light-3: #737b94;
  --color-footer: #dddff6;
  --color-timeline: #bdc1df;
  --color-input-text: #06070a;
  --color-input-background: #eaebf4;
  --color-input-toggle-background: #bdc1df;
  --color-input-border: #c5c8d7;
  --color-light: #00021706;
  --color-light-border: #0002171d;
  --color-hover: #92939933;
  --color-hover-opaque: #d4d6e7; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #a7a9c333;
  --color-menu: #dfe1f6;
  --color-card: #dfe1f6;
  --color-markup-table-row: #000a600a;
  --color-markup-code-block: #a7a9c333;
  --color-markup-code-inline: #000a6012;
  --color-button: #dddff6;
  --color-code-bg: #dbdfff;
  --color-shadow: #00021726;
  --color-shadow-opaque: #b7bad7;
  --color-secondary-bg: #f2f3f8;
  --color-expand-button: #b4bbff;
  --color-placeholder-text: #737b94;
  --color-editor-line-highlight: #ced1e04b;
  --color-editor-selection: #7836e74b;
  --color-project-column-bg: #f1f3ff;
  --color-caret: #06070a;
  --color-reaction-bg: #0002170a;
  --color-reaction-hover-bg: #ab88e7;
  --color-reaction-active-bg: #d6c4f3;
  --color-tooltip-text: #fbfcff;
  --color-tooltip-bg: #25262e;
  --color-nav-bg: #dddff6;
  --color-nav-hover-bg: #dde0ed;
  --color-nav-text: #212532;
  --color-secondary-nav-bg: #f9f9fb;
  --color-label-text: #212532;
  --color-label-bg: #a7a9c333;
  --color-label-hover-bg: #a7a9c3a0;
  --color-label-active-bg: #a7a9c3ff;
  --color-accent: #7e41e5;
  --color-small-accent: #d6c4f3;
  --color-highlight-fg: #e38c0b;
  --color-highlight-bg: #f5e2c5;
  --color-overlay-backdrop: #080808c0;
  --color-danger: #d31e40;
  --color-transparency-grid-light: #e5e6f1;
  --color-transparency-grid-dark: #cfd0e0;
  --color-workflow-edge-hover: #a9abbf;
  --color-syntax-keyword: #431295;
  --color-syntax-bool: #300d6c;
  --color-syntax-control: #320d70;
  --color-syntax-name: #3d5a1e;
  --color-syntax-type: #1080c1;
  --color-syntax-number: #4b14a9;
  --color-syntax-operator: #431295;
  --color-syntax-regexp: #ec163e;
  --color-syntax-string: #563a12;
  --color-syntax-comment: #4a5276;
  --color-syntax-invalid: #b20e2d;
  --color-syntax-link: #7836e7;
  --color-syntax-tag: #431295;
  --color-syntax-attribute: #86c244;
  --color-syntax-property: #0e75b2;
  --color-syntax-variable: #303964;
  --color-syntax-string-special: #684615;
  --color-syntax-escape: #300d6b;
  --color-syntax-entity: #6a21e5;
  --color-syntax-preproc: #3c1087;
  --color-syntax-preproc-file: #9d6a20;
  --color-syntax-decorator: #4d7225;
  --color-syntax-namespace: #374273;
  --color-syntax-name-pseudo: #86c244;
  --color-syntax-comment-special: #646e9e;
  --color-syntax-text: inherit;
  --color-syntax-text-alt: #3e4564;
  --color-syntax-punctuation: inherit;
  --color-syntax-whitespace: #abb1cb;
  --color-syntax-diff-fg: #000000;
  --color-syntax-deleted-bg: #fce0e5;
  --color-syntax-inserted-bg: #eef7e5;
  --color-syntax-emph: #734e18;
  --color-syntax-strong: inherit;
  --color-syntax-heading: #320d70;
  --color-syntax-subheading: #084060;
  --color-syntax-output: #3e4a82;
  --color-syntax-prompt: #4b6f25;
  --color-syntax-traceback: #b20e2d;
  --color-syntax-matching-bracket-bg: #0e6fa738;
  --color-syntax-nonmatching-bracket-bg: #ec173f38;
  accent-color: var(--color-accent);
  color-scheme: light;
}

a,
.ui.breadcrumb a {
  color: var(--color-blue);
}
