gitea-theme-meta-info {
  --theme-display-name: "Dracula Pro Nord Light";
  --theme-color-scheme: "light";
}

:root {
  --is-dark-theme: false;
  --color-primary: #a5789d;
  --color-primary-contrast: #ffffff;
  --color-primary-dark-1: #a06295;
  --color-primary-dark-2: #955489;
  --color-primary-dark-3: #87457c;
  --color-primary-dark-4: #793a6e;
  --color-primary-dark-5: #5b2251;
  --color-primary-dark-6: #361130;
  --color-primary-dark-7: #1b0918;
  --color-primary-light-1: #b373a8;
  --color-primary-light-2: #bf70b1;
  --color-primary-light-3: #cc6dbb;
  --color-primary-light-4: #d76bc4;
  --color-primary-light-5: #e788d6;
  --color-primary-light-6: #f3c4eb;
  --color-primary-light-7: #fbedf9;
  --color-primary-alpha-10: #a5789d19;
  --color-primary-alpha-20: #a5789d33;
  --color-primary-alpha-30: #a5789d4b;
  --color-primary-alpha-40: #a5789d66;
  --color-primary-alpha-50: #a5789d80;
  --color-primary-alpha-60: #a5789d99;
  --color-primary-alpha-70: #a5789db3;
  --color-primary-alpha-80: #a5789dcc;
  --color-primary-alpha-90: #a5789de1;
  --color-primary-hover: #a06295;
  --color-primary-active: #955489;
  --color-secondary: #d0d5de;
  --color-secondary-dark-1: #c7ccd5;
  --color-secondary-dark-2: #b9bec7;
  --color-secondary-dark-3: #999ea7;
  --color-secondary-dark-4: #898e97;
  --color-secondary-dark-5: #7a7f88;
  --color-secondary-dark-6: #6a6f78;
  --color-secondary-dark-7: #5b6069;
  --color-secondary-dark-8: #4b5059;
  --color-secondary-dark-9: #3c414a;
  --color-secondary-dark-10: #2c313a;
  --color-secondary-dark-11: #1d222b;
  --color-secondary-dark-12: #0d121b;
  --color-secondary-dark-13: #00040b;
  --color-secondary-light-1: #dee3ec;
  --color-secondary-light-2: #e4e9f2;
  --color-secondary-light-3: #ebf0f9;
  --color-secondary-light-4: #f1f6ff;
  --color-secondary-alpha-10: #d0d5de19;
  --color-secondary-alpha-20: #d0d5de33;
  --color-secondary-alpha-30: #d0d5de4b;
  --color-secondary-alpha-40: #d0d5de66;
  --color-secondary-alpha-50: #d0d5de80;
  --color-secondary-alpha-60: #d0d5de99;
  --color-secondary-alpha-70: #d0d5deb3;
  --color-secondary-alpha-80: #d0d5decc;
  --color-secondary-alpha-90: #d0d5dee1;
  --color-secondary-button: #898e97;
  --color-secondary-hover: #7a7f88;
  --color-secondary-active: #6a6f78;
  /* console colors - used for actions console and console files */
  --color-console-fg: #0b0f19;
  --color-console-fg-subtle: #3d4250;
  --color-console-bg: #dbe1ec;
  --color-console-border: #b5c2db;
  --color-console-hover-bg: #ccd7eb;
  --color-console-active-bg: #b5c2db;
  --color-console-menu-bg: #cedbf1;
  --color-console-menu-border: #b5c2db;
  --color-console-link: #5c606d;
  /* named colors */
  --color-red: #ac454f;
  --color-orange: #cb6a43;
  --color-yellow: #da9f29;
  --color-olive: #9faa3a;
  --color-green: #4b6237;
  --color-teal: #337082;
  --color-blue: #5c4d96;
  --color-violet: #99658f;
  --color-purple: #ac83a5;
  --color-pink: #a4759b;
  --color-brown: #95634f;
  --color-black: #1d2128;
  /* light variants - produced via Sass scale-color(color, $lightness: +25%) */
  --color-red-light: #d1646f;
  --color-orange-light: #e28b68;
  --color-yellow-light: #ecba56;
  --color-olive-light: #c9d655;
  --color-green-light: #71aa3f;
  --color-teal-light: #2eb2d9;
  --color-blue-light: #7259d1;
  --color-violet-light: #c07eb3;
  --color-purple-light: #cc97c3;
  --color-pink-light: #ca89bd;
  --color-brown-light: #bc856f;
  --color-black-light: #4b5568;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #9f3a44;
  --color-orange-dark-1: #c45a2f;
  --color-yellow-dark-1: #cb911e;
  --color-olive-dark-1: #929d31;
  --color-green-dark-1: #435a2f;
  --color-teal-dark-1: #29677a;
  --color-blue-dark-1: #4e3d8f;
  --color-violet-dark-1: #905585;
  --color-purple-dark-1: #aa669e;
  --color-pink-dark-1: #a35a95;
  --color-brown-dark-1: #885946;
  --color-black-dark-1: #2c3139;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #922f39;
  --color-orange-dark-2: #b44d24;
  --color-yellow-dark-2: #b98316;
  --color-olive-dark-2: #858f27;
  --color-green-dark-2: #3c5328;
  --color-teal-dark-2: #215e70;
  --color-blue-dark-2: #412f86;
  --color-violet-dark-2: #864579;
  --color-purple-dark-2: #a64c96;
  --color-pink-dark-2: #9a468a;
  --color-brown-dark-2: #7b4d3b;
  --color-black-dark-2: #131519;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #2e3440;
  --color-ansi-red: #bf616a;
  --color-ansi-green: #a3be8c;
  --color-ansi-yellow: #ebcb8b;
  --color-ansi-blue: #b48ead;
  --color-ansi-magenta: #b48ead;
  --color-ansi-cyan: #88c0d0;
  --color-ansi-white: #3d4250;
  --color-ansi-bright-black: #4c566a;
  --color-ansi-bright-red: #bf616a;
  --color-ansi-bright-green: #a3be8c;
  --color-ansi-bright-yellow: #ebcb8b;
  --color-ansi-bright-blue: #b48ead;
  --color-ansi-bright-magenta: #b48ead;
  --color-ansi-bright-cyan: #88c0d0;
  --color-ansi-bright-white: #0b0f19;
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #696e77;
  --color-grey-light: #353b4d;
  --color-gold: #997733;
  --color-white: #ffffff;
  --color-diff-added-fg: #435831;
  --color-diff-added-linenum-bg: #e3f8d1;
  --color-diff-added-row-bg: #f2ffe6;
  --color-diff-added-row-border: #f2ffe6;
  --color-diff-added-word-bg: #ccf2ac;
  --color-diff-moved-row-bg: #d3eef6;
  --color-diff-moved-row-border: #8ec3d3;
  --color-diff-removed-fg: #a3424b;
  --color-diff-removed-linenum-bg: #ffcbd0;
  --color-diff-removed-row-bg: #ffeef0;
  --color-diff-removed-row-border: #f1c0c5;
  --color-diff-removed-word-bg: #fdb8be;
  --color-diff-inactive: #cbd6ea;
  --color-error-border: #fb859066;
  --color-error-bg: #ffe9eb;
  --color-error-bg-active: #ffcbd0;
  --color-error-bg-hover: #ffd7db;
  --color-error-text: #ae4751;
  --color-success-border: #83b25a66;
  --color-success-bg: #e9fbda;
  --color-success-text: #4b6237;
  --color-warning-border: #c4973c66;
  --color-warning-bg: #ffecc5;
  --color-warning-text: #835f17;
  --color-info-border: #e86bd266;
  --color-info-bg: #ddf7ff;
  --color-info-text: #408da3;
  --color-priority-border: #f7a9e966;
  --color-priority-bg: #ffe7fb;
  --color-priority-text: #ac83a5;
  --color-red-badge: #b74c57;
  --color-red-badge-bg: #b74c571a;
  --color-red-badge-hover-bg: #b74c574d;
  --color-green-badge: #6b8c4f;
  --color-green-badge-bg: #6b8c4f1a;
  --color-green-badge-hover-bg: #6b8c4f4d;
  --color-yellow-badge: #da9f29;
  --color-yellow-badge-bg: #da9f291a;
  --color-yellow-badge-hover-bg: #da9f294d;
  --color-orange-badge: #cb6a43;
  --color-orange-badge-bg: #cb6a431a;
  --color-orange-badge-hover-bg: #cb6a434d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #dbe1ec;
  --color-box-header: #beceed;
  --color-box-body: #d5dbe8;
  --color-box-body-highlight: #b9d2ff;
  --color-text-dark: #06070a;
  --color-text: #212532;
  --color-text-light: #353b4d;
  --color-text-light-1: #444b5e;
  --color-text-light-2: #5c6378;
  --color-text-light-3: #737b94;
  --color-footer: #ccd9f1;
  --color-timeline: #b5c2db;
  --color-input-text: #06070a;
  --color-input-background: #dbe1ec;
  --color-input-toggle-background: #b5c2db;
  --color-input-border: #c7ccd5;
  --color-light: #00081706;
  --color-light-border: #0008171d;
  --color-hover: #92949933;
  --color-hover-opaque: #c9d1e1; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #a4aec133;
  --color-menu: #cedbf1;
  --color-card: #cedbf1;
  --color-markup-table-row: #0022600a;
  --color-markup-code-block: #a4aec133;
  --color-markup-code-inline: #00226012;
  --color-button: #ccd9f1;
  --color-code-bg: #c5d9ff;
  --color-shadow: #00081726;
  --color-shadow-opaque: #b0bdd3;
  --color-secondary-bg: #f2f4f8;
  --color-expand-button: #a3c4ff;
  --color-placeholder-text: #737b94;
  --color-editor-line-highlight: #d0d5de4b;
  --color-editor-selection: #a5789d4b;
  --color-project-column-bg: #f1f6ff;
  --color-caret: #06070a;
  --color-reaction-bg: #0008170a;
  --color-reaction-hover-bg: #e788d6;
  --color-reaction-active-bg: #f3c4eb;
  --color-tooltip-text: #fbfcff;
  --color-tooltip-bg: #25282e;
  --color-nav-bg: #ccd9f1;
  --color-nav-hover-bg: #dee3ec;
  --color-nav-text: #212532;
  --color-secondary-nav-bg: #f9fafb;
  --color-label-text: #212532;
  --color-label-bg: #a4aec133;
  --color-label-hover-bg: #a4aec1a0;
  --color-label-active-bg: #a4aec1ff;
  --color-accent: #b373a8;
  --color-small-accent: #f3c4eb;
  --color-highlight-fg: #e69c08;
  --color-highlight-bg: #f5e5c5;
  --color-overlay-backdrop: #080808c0;
  --color-danger: #ac454f;
  --color-transparency-grid-light: #d7dde9;
  --color-transparency-grid-dark: #c6cdd9;
  --color-workflow-edge-hover: #a7aebd;
  --color-syntax-keyword: #64435e;
  --color-syntax-bool: #493044;
  --color-syntax-control: #4b3246;
  --color-syntax-name: #3b4d2b;
  --color-syntax-type: #3b8296;
  --color-syntax-number: #724b6b;
  --color-syntax-operator: #64435e;
  --color-syntax-regexp: #b64c56;
  --color-syntax-string: #59400f;
  --color-syntax-comment: #505b70;
  --color-syntax-invalid: #89373f;
  --color-syntax-link: #a5789d;
  --color-syntax-tag: #64435e;
  --color-syntax-attribute: #80a561;
  --color-syntax-property: #36778a;
  --color-syntax-variable: #35445f;
  --color-syntax-string-special: #6b4d12;
  --color-syntax-escape: #483044;
  --color-syntax-entity: #9c6a93;
  --color-syntax-preproc: #5b3c55;
  --color-syntax-preproc-file: #a1751c;
  --color-syntax-decorator: #4a6037;
  --color-syntax-namespace: #3d4e6d;
  --color-syntax-name-pseudo: #80a561;
  --color-syntax-comment-special: #6c7a96;
  --color-syntax-text: inherit;
  --color-syntax-text-alt: #444d5e;
  --color-syntax-punctuation: inherit;
  --color-syntax-whitespace: #b0b7c6;
  --color-syntax-diff-fg: #000000;
  --color-syntax-deleted-bg: #f5e7e8;
  --color-syntax-inserted-bg: #eef3e9;
  --color-syntax-emph: #775614;
  --color-syntax-strong: inherit;
  --color-syntax-heading: #4b3246;
  --color-syntax-subheading: #1d414b;
  --color-syntax-output: #45587b;
  --color-syntax-prompt: #485f35;
  --color-syntax-traceback: #89373f;
  --color-syntax-matching-bracket-bg: #33708238;
  --color-syntax-nonmatching-bracket-bg: #b74c5738;
  accent-color: var(--color-accent);
  color-scheme: light;
}

a,
.ui.breadcrumb a {
  color: var(--color-blue);
}
