gitea-theme-meta-info {
  --theme-display-name: "Dracula Pro Lincoln Light";
  --theme-color-scheme: "light";
}

:root {
  --is-dark-theme: false;
  --color-primary: #5335e9;
  --color-primary-contrast: #ffffff;
  --color-primary-dark-1: #4020e1;
  --color-primary-dark-2: #3a1fc2;
  --color-primary-dark-3: #351fa5;
  --color-primary-dark-4: #301e88;
  --color-primary-dark-5: #221854;
  --color-primary-dark-6: #110c28;
  --color-primary-dark-7: #05040c;
  --color-primary-light-1: #664ce7;
  --color-primary-light-2: #7963e6;
  --color-primary-light-3: #8b78e6;
  --color-primary-light-4: #9c8de7;
  --color-primary-light-5: #bdb4ea;
  --color-primary-light-6: #ddd9f3;
  --color-primary-light-7: #f5f4fb;
  --color-primary-alpha-10: #5335e919;
  --color-primary-alpha-20: #5335e933;
  --color-primary-alpha-30: #5335e94b;
  --color-primary-alpha-40: #5335e966;
  --color-primary-alpha-50: #5335e980;
  --color-primary-alpha-60: #5335e999;
  --color-primary-alpha-70: #5335e9b3;
  --color-primary-alpha-80: #5335e9cc;
  --color-primary-alpha-90: #5335e9e1;
  --color-primary-hover: var(--color-primary-dark-1);
  --color-primary-active: var(--color-primary-dark-2);
  --color-secondary: #d8d9d5;
  --color-secondary-dark-1: #cfcfcd;
  --color-secondary-dark-2: #c1c1bf;
  --color-secondary-dark-3: #a1a29e;
  --color-secondary-dark-4: #92948c;
  --color-secondary-dark-5: #84877b;
  --color-secondary-dark-6: #74786a;
  --color-secondary-dark-7: #65695b;
  --color-secondary-dark-8: #56594b;
  --color-secondary-dark-9: #464a3c;
  --color-secondary-dark-10: #373a2c;
  --color-secondary-dark-11: #282b1d;
  --color-secondary-dark-12: #181b0d;
  --color-secondary-dark-13: #080b00;
  --color-secondary-light-1: #e7e9e1;
  --color-secondary-light-2: #eef0e6;
  --color-secondary-light-3: #f5f8ec;
  --color-secondary-light-4: #fbfef2;
  --color-secondary-alpha-10: #d8d9d519;
  --color-secondary-alpha-20: #d8d9d533;
  --color-secondary-alpha-30: #d8d9d54b;
  --color-secondary-alpha-40: #d8d9d566;
  --color-secondary-alpha-50: #d8d9d580;
  --color-secondary-alpha-60: #d8d9d599;
  --color-secondary-alpha-70: #d8d9d5b3;
  --color-secondary-alpha-80: #d8d9d5cc;
  --color-secondary-alpha-90: #d8d9d5e1;
  --color-secondary-button: var(--color-secondary-dark-4);
  --color-secondary-hover: var(--color-secondary-dark-5);
  --color-secondary-active: var(--color-secondary-dark-6);
  /* console colors - used for actions console and console files */
  --color-console-fg: #121212;
  --color-console-fg-subtle: #464646;
  --color-console-bg: #fcfcfa;
  --color-console-border: #e2e2c8;
  --color-console-hover-bg: #f5f5ea;
  --color-console-active-bg: #e2e2c8;
  --color-console-menu-bg: #fafaf1;
  --color-console-menu-border: #e2e2c8;
  --color-console-link: #6d6d5c;
  /* named colors */
  --color-red: #e04323;
  --color-orange: #e1962d;
  --color-yellow: #e0e023;
  --color-olive: #78c81d;
  --color-green: #28c01b;
  --color-teal: #179e88;
  --color-blue: #1e79d3;
  --color-violet: #3f20de;
  --color-purple: #bc1fdc;
  --color-pink: #e2378c;
  --color-brown: #b07c34;
  --color-black: #28281d;
  /* light variants - produced via Sass scale-color(color, $lightness: +25%) */
  --color-red-light: #e6735c;
  --color-orange-light: #edb15d;
  --color-yellow-light: #efef53;
  --color-olive-light: #9be645;
  --color-green-light: #4fe242;
  --color-teal-light: #19eecb;
  --color-blue-light: #4f9ae5;
  --color-violet-light: #725de1;
  --color-purple-light: #cb5ae2;
  --color-pink-light: #e96aa9;
  --color-brown-light: #cb9e60;
  --color-black-light: #68684b;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #cc3b1d;
  --color-orange-dark-1: #d7891c;
  --color-yellow-dark-1: #d0d019;
  --color-olive-dark-1: #6cb51a;
  --color-green-dark-1: #25ac19;
  --color-teal-dark-1: #13907c;
  --color-blue-dark-1: #1c6dbd;
  --color-violet-dark-1: #3b20c5;
  --color-purple-dark-1: #a81fc3;
  --color-pink-dark-1: #dd207e;
  --color-brown-dark-1: #9e7030;
  --color-black-dark-1: #39392c;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #b4351b;
  --color-orange-dark-2: #c17a17;
  --color-yellow-dark-2: #bcbc13;
  --color-olive-dark-2: #60a116;
  --color-green-dark-2: #219916;
  --color-teal-dark-2: #0f826f;
  --color-blue-dark-2: #1860a8;
  --color-violet-dark-2: #351ead;
  --color-purple-dark-2: #931dac;
  --color-pink-dark-2: #c31d70;
  --color-brown-dark-2: #8b632b;
  --color-black-dark-2: #191913;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #20221c;
  --color-ansi-red: #ff9580;
  --color-ansi-green: #8aff80;
  --color-ansi-yellow: #ffff80;
  --color-ansi-blue: #9580ff;
  --color-ansi-magenta: #ff80bf;
  --color-ansi-cyan: #80ffea;
  --color-ansi-white: var(--color-console-fg-subtle);
  --color-ansi-bright-black: #8d9183;
  --color-ansi-bright-red: #ff9580;
  --color-ansi-bright-green: #8aff80;
  --color-ansi-bright-yellow: #ffff80;
  --color-ansi-bright-blue: #9580ff;
  --color-ansi-bright-magenta: #ff80bf;
  --color-ansi-bright-cyan: #80ffea;
  --color-ansi-bright-white: var(--color-console-fg);
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #777769;
  --color-grey-light: #8a8a7c;
  --color-gold: #aeae1e;
  --color-white: #ffffff;
  --color-diff-added-fg: #197811;
  --color-diff-added-linenum-bg: #d4f8d1;
  --color-diff-added-row-bg: #e8ffe6;
  --color-diff-added-row-border: #e8ffe6;
  --color-diff-added-word-bg: #b1f2ac;
  --color-diff-moved-row-bg: #f9f9d0;
  --color-diff-moved-row-border: #ebeb76;
  --color-diff-removed-fg: #c8391d;
  --color-diff-removed-linenum-bg: #ffd4cb;
  --color-diff-removed-row-bg: #fff1ee;
  --color-diff-removed-row-border: #f1c8c0;
  --color-diff-removed-word-bg: #fdc3b8;
  --color-diff-inactive: #f5f5e9;
  --color-error-border: #ff968166;
  --color-error-bg: #ffede9;
  --color-error-bg-active: #ffd4cb;
  --color-error-bg-hover: #ffded7;
  --color-error-text: #d63d1f;
  --color-success-border: #50c64666;
  --color-success-bg: #ddfbda;
  --color-success-text: #1c8613;
  --color-warning-border: #c7c73966;
  --color-warning-bg: #ffffc5;
  --color-warning-text: #878713;
  --color-info-border: #59fade66;
  --color-info-bg: #ddfff9;
  --color-info-text: #1cc7aa;
  --color-priority-border: #efa1ff66;
  --color-priority-bg: #fbe7ff;
  --color-priority-text: #cb4ae5;
  --color-red-badge: #e04323;
  --color-red-badge-bg: #e043231a;
  --color-red-badge-hover-bg: #e043234d;
  --color-green-badge: #28c01b;
  --color-green-badge-bg: #28c01b1a;
  --color-green-badge-hover-bg: #28c01b4d;
  --color-yellow-badge: #e0e023;
  --color-yellow-badge-bg: #e0e0231a;
  --color-yellow-badge-hover-bg: #e0e0234d;
  --color-orange-badge: #e1962d;
  --color-orange-badge-bg: #e1962d1a;
  --color-orange-badge-hover-bg: #e1962d4d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #fcfcfa;
  --color-box-header: #f5f5ea;
  --color-box-body: #fcfcfa;
  --color-box-body-highlight: #ffffe3;
  --color-text-dark: #070704;
  --color-text: #1c1c1c;
  --color-text-light: #363636;
  --color-text-light-1: #464646;
  --color-text-light-2: #67675b;
  --color-text-light-3: #848474;
  --color-footer: var(--color-nav-bg);
  --color-timeline: #e2e2c8;
  --color-input-text: var(--color-text-dark);
  --color-input-background: #fcfcfa;
  --color-input-toggle-background: #e2e2c8;
  --color-input-border: var(--color-secondary-dark-1);
  --color-light: #17170006;
  --color-light-border: #1717001d;
  --color-hover: #17170008;
  --color-hover-opaque: #f5f5ea; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #17170014;
  --color-menu: #fafaf1;
  --color-card: #fafaf1;
  --color-markup-table-row: #6060000a;
  --color-markup-code-block: #60600010;
  --color-markup-code-inline: #60600012;
  --color-button: #fafaf1;
  --color-code-bg: #fffff2;
  --color-shadow: #17170026;
  --color-shadow-opaque: #d9d9bf;
  --color-secondary-bg: #f6f7f3;
  --color-expand-button: #ffffc5;
  --color-placeholder-text: var(--color-text-light-3);
  --color-editor-line-highlight: var(--color-secondary-alpha-30);
  --color-editor-selection: var(--color-primary-alpha-30);
  --color-project-column-bg: var(--color-secondary-light-4);
  --color-caret: var(--color-text-dark);
  --color-reaction-bg: #1717000a;
  --color-reaction-hover-bg: var(--color-primary-light-5);
  --color-reaction-active-bg: var(--color-primary-light-6);
  --color-tooltip-text: #fffffb;
  --color-tooltip-bg: #2e2e25;
  --color-nav-bg: #fafaef;
  --color-nav-hover-bg: var(--color-secondary-light-1);
  --color-nav-text: var(--color-text);
  --color-secondary-nav-bg: #fafbf9;
  --color-label-text: var(--color-text);
  --color-label-bg: #a6a6944b;
  --color-label-hover-bg: #a6a694a0;
  --color-label-active-bg: #a6a694ff;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-6);
  --color-highlight-fg: #eeee00;
  --color-highlight-bg: #f5f5c5;
  --color-overlay-backdrop: #080808c0;
  --color-danger: var(--color-red);
  --color-transparency-grid-light: #f8f8f4;
  --color-transparency-grid-dark: #e5e5da;
  --color-workflow-edge-hover: #c0c0ad;
  --color-syntax-keyword: #240d9a;
  --color-syntax-bool: #1a0970;
  --color-syntax-control: #1b0974;
  --color-syntax-name: #116f09;
  --color-syntax-type: #10c1a4;
  --color-syntax-number: #290eaf;
  --color-syntax-operator: #240d9a;
  --color-syntax-regexp: #ec3916;
  --color-syntax-string: #606008;
  --color-syntax-comment: #62665a;
  --color-syntax-invalid: #b2290e;
  --color-syntax-link: var(--color-primary);
  --color-syntax-tag: #240d9a;
  --color-syntax-attribute: #2aec1a;
  --color-syntax-property: #0eb297;
  --color-syntax-variable: #606034;
  --color-syntax-string-special: #747409;
  --color-syntax-escape: #1a096f;
  --color-syntax-entity: #3c1aec;
  --color-syntax-preproc: #210b8c;
  --color-syntax-preproc-file: #afaf0e;
  --color-syntax-decorator: #158c0b;
  --color-syntax-namespace: #6f6f3b;
  --color-syntax-name-pseudo: #2aec1a;
  --color-syntax-comment-special: #848979;
  --color-syntax-text: inherit;
  --color-syntax-text-alt: #53564c;
  --color-syntax-punctuation: inherit;
  --color-syntax-whitespace: #bdbfb7;
  --color-syntax-diff-fg: #000000;
  --color-syntax-deleted-bg: #fce4e0;
  --color-syntax-inserted-bg: #e2fce0;
  --color-syntax-emph: #81810a;
  --color-syntax-strong: inherit;
  --color-syntax-heading: #1b0974;
  --color-syntax-subheading: #086052;
  --color-syntax-output: #7d7d43;
  --color-syntax-prompt: #15890b;
  --color-syntax-traceback: #b2290e;
  --color-syntax-matching-bracket-bg: #0ea78e38;
  --color-syntax-nonmatching-bracket-bg: #ec3a1738;
  accent-color: var(--color-accent);
  color-scheme: light;
}
