gitea-theme-meta-info {
  --theme-display-name: "Dark";
  --theme-color-scheme: "dark";
}

:root {
  --is-dark-theme: true;
  --color-primary: #238636;
  --color-primary-contrast: #ffffff;
  --color-primary-dark-1: #2aa141;
  --color-primary-dark-2: #26a641;
  --color-primary-dark-3: #42ce5d;
  --color-primary-dark-4: #39d353;
  --color-primary-dark-5: #93e3a2;
  --color-primary-dark-6: #c9f1d1;
  --color-primary-dark-7: #effbf1;
  --color-primary-light-1: #207931;
  --color-primary-light-2: #006d32;
  --color-primary-light-3: #71798e;
  --color-primary-light-4: #0e4429;
  --color-primary-light-5: #0e3616;
  --color-primary-light-6: #071b0b;
  --color-primary-light-7: #020803;
  --color-primary-alpha-10: #23863619;
  --color-primary-alpha-20: #23863633;
  --color-primary-alpha-30: #2386364b;
  --color-primary-alpha-40: #23863666;
  --color-primary-alpha-50: #23863680;
  --color-primary-alpha-60: #23863699;
  --color-primary-alpha-70: #238636b3;
  --color-primary-alpha-80: #238636cc;
  --color-primary-alpha-90: #238636e1;
  --color-primary-hover: #29903b;
  --color-primary-active: #2e9a40;
  --color-secondary: #30363d;
  --color-secondary-dark-1: #373d45;
  --color-secondary-dark-2: #404751;
  --color-secondary-dark-3: #4f5864;
  --color-secondary-dark-4: #606b79;
  --color-secondary-dark-5: #6d7b8b;
  --color-secondary-dark-6: #7c8998;
  --color-secondary-dark-7: #8b97a4;
  --color-secondary-dark-8: #9ca6b1;
  --color-secondary-dark-9: #a4adb7;
  --color-secondary-dark-10: #b2bac3;
  --color-secondary-dark-11: #c1c7ce;
  --color-secondary-dark-12: #ccd1d7;
  --color-secondary-dark-13: #cfd4d9;
  --color-secondary-light-1: #282d33;
  --color-secondary-light-2: #21262a;
  --color-secondary-light-3: #181b1e;
  --color-secondary-light-4: #131518;
  --color-secondary-alpha-10: #30363d19;
  --color-secondary-alpha-20: #30363d33;
  --color-secondary-alpha-30: #30363d4b;
  --color-secondary-alpha-40: #30363d66;
  --color-secondary-alpha-50: #30363d80;
  --color-secondary-alpha-60: #161b22;
  --color-secondary-alpha-70: #30363db3;
  --color-secondary-alpha-80: #30363dcc;
  --color-secondary-alpha-90: #30363de1;
  --color-secondary-button: var(--color-secondary-dark-4);
  --color-secondary-hover: var(--color-secondary-dark-3);
  --color-secondary-active: var(--color-secondary-dark-2);
  /* console colors - used for actions console and console files */
  --color-console-fg: #f8f8f8;
  --color-console-fg-subtle: #c1c3c8;
  --color-console-bg: #191a1c;
  --color-console-border: #313338;
  --color-console-hover-bg: #2a2c30;
  --color-console-active-bg: #313338;
  --color-console-menu-bg: #292b2e;
  --color-console-menu-border: #46494f;
  --color-console-link: #969aa1;
  /* named colors */
  --color-red: #da3633;
  --color-orange: #c9510c;
  --color-yellow: #d29922;
  --color-olive: #91a313;
  --color-green: #238636;
  --color-teal: #00918a;
  --color-blue: #4493f8;
  --color-violet: #906ae1;
  --color-purple: #8957e5;
  --color-pink: #d22e8b;
  --color-brown: #a47252;
  --color-black: #202225;
  /* light variants - produced via Sass scale-color(color, $lightness: +10%) */
  --color-red-light: #de4a47;
  --color-orange-light: #f69a65;
  --color-yellow-light: #dea631;
  --color-olive-light: #abc016;
  --color-green-light: #16ab39;
  --color-teal-light: #00b6ad;
  --color-blue-light: #579ef9;
  --color-violet-light: #9b79e4;
  --color-purple-light: #9568e8;
  --color-pink-light: #d74397;
  --color-brown-light: #b08061;
  --color-black-light: #45484e;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #cd2825;
  --color-orange-dark-1: #f37a34;
  --color-yellow-dark-1: #bd8a1f;
  --color-olive-dark-1: #839311;
  --color-green-dark-1: #207931;
  --color-teal-dark-1: #00837c;
  --color-blue-dark-1: #2681f7;
  --color-violet-dark-1: #7b4edb;
  --color-purple-dark-1: #763ce1;
  --color-pink-dark-1: #be297d;
  --color-brown-dark-1: #94674a;
  --color-black-dark-1: #2e3033;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #b62421;
  --color-orange-dark-2: #f16514;
  --color-yellow-dark-2: #a87a1b;
  --color-olive-dark-2: #74820f;
  --color-green-dark-2: #1c6b2b;
  --color-teal-dark-2: #00746e;
  --color-blue-dark-2: #0970f4;
  --color-violet-dark-2: #6733d6;
  --color-purple-dark-2: #6322db;
  --color-pink-dark-2: #a9246f;
  --color-brown-dark-2: #835b42;
  --color-black-dark-2: #292b2e;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #202225;
  --color-ansi-red: #cc4848;
  --color-ansi-green: #87ab63;
  --color-ansi-yellow: #cc9903;
  --color-ansi-blue: #3a8ac6;
  --color-ansi-magenta: #d22e8b;
  --color-ansi-cyan: #00918a;
  --color-ansi-white: var(--color-console-fg-subtle);
  --color-ansi-bright-black: #45484e;
  --color-ansi-bright-red: #d15a5a;
  --color-ansi-bright-green: #93b373;
  --color-ansi-bright-yellow: #eaaf03;
  --color-ansi-bright-blue: #4e96cc;
  --color-ansi-bright-magenta: #d74397;
  --color-ansi-bright-cyan: #00b6ad;
  --color-ansi-bright-white: var(--color-console-fg);
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #3d3f44;
  --color-grey-light: #a6aab5;
  --color-gold: #b1983b;
  --color-white: #e6edf3;
  --color-diff-added-fg: #93b373;
  --color-diff-added-linenum-bg: #274227;
  --color-diff-added-row-bg: #2ea04326;
  --color-diff-added-row-border: #2ea0434d;
  --color-diff-added-word-bg: #2ea04366;
  --color-diff-moved-row-bg: #818044;
  --color-diff-moved-row-border: #bcca6f;
  --color-diff-removed-fg: #fb5f5b;
  --color-diff-removed-linenum-bg: #482121;
  --color-diff-removed-row-bg: #f8514926;
  --color-diff-removed-row-border: #f851494d;
  --color-diff-removed-word-bg: #f8514966;
  --color-diff-inactive: #161b22;
  --color-error-border: #f8514966;
  --color-error-bg: #b62324;
  --color-error-bg-active: #49262a;
  --color-error-bg-hover: #3c2427;
  --color-error-text: #e6edf3;
  --color-success-border: #2ea04366;
  --color-success-bg: #122117;
  --color-success-text: #238636;
  --color-warning-border: #bb800966;
  --color-warning-bg: #bb80091a;
  --color-warning-text: #d29922;
  --color-info-border: #388bfd66;
  --color-info-bg: #388bfd1a;
  --color-info-text: #4493f8;
  --color-priority-border: #4a268d;
  --color-priority-bg: #251c39;
  --color-priority-text: #a371f7;
  --color-red-badge: #db2828;
  --color-red-badge-bg: #db28281a;
  --color-red-badge-hover-bg: #db28284d;
  --color-green-badge: #21ba45;
  --color-green-badge-bg: #21ba451a;
  --color-green-badge-hover-bg: #21ba454d;
  --color-yellow-badge: #fbbd08;
  --color-yellow-badge-bg: #fbbd081a;
  --color-yellow-badge-hover-bg: #fbbd084d;
  --color-orange-badge: #f2711c;
  --color-orange-badge-bg: #f2711c1a;
  --color-orange-badge-hover-bg: #f2711c4d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #0d1117;
  --color-box-header: #161b22;
  --color-box-body: #0d1117;
  --color-box-body-highlight: #202124;
  --color-text-dark: #bbc0ca;
  --color-text: #bbc0ca;
  --color-text-light: #a6aab5;
  --color-text-light-1: #848d97;
  --color-text-light-2: #a6aab5;
  --color-text-light-3: #6c778b;
  --color-footer: #161b22;
  --color-timeline: #21262d;
  --color-input-text: #adbac7;
  --color-input-background: #22272e;
  --color-input-toggle-background: #323438;
  --color-input-border: var(--color-secondary-dark-1);
  --color-light: #22272e;
  --color-light-border: #30363d;
  --color-hover: #292e36;
  --color-hover-opaque: #292e36; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #22272e;
  --color-menu: #161b22;
  --color-card: #0d1117;
  --color-markup-table-row: #f3f3f40f;
  --color-markup-code-block: #636e7b66;
  --color-markup-code-inline: #f3f3f428;
  --color-button: #22272e;
  --color-code-bg: #0d1117;
  --color-shadow: #0b0b0c58;
  --color-shadow-opaque: #0b0b0c;
  --color-secondary-bg: #30363d;
  --color-expand-button: #0d1117;
  --color-placeholder-text: var(--color-text-light-3);
  --color-editor-line-highlight: #0d1117;
  --color-editor-selection: var(--color-primary-alpha-50);
  --color-project-column-bg: var(--color-secondary-light-2);
  --color-caret: #bbc0ca; /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #f3f3f412;
  --color-reaction-hover-bg: var(--color-primary-light-4);
  --color-reaction-active-bg: var(--color-primary-light-5);
  --color-tooltip-text: #fafafa;
  --color-tooltip-bg: #2b2e33;
  --color-nav-bg: #010409;
  --color-nav-hover-bg: #b1bac41f;
  --color-nav-text: var(--color-text);
  --color-secondary-nav-bg: #1a1b1e;
  --color-label-text: #4493f8;
  --color-label-bg: #388bfd1a;
  --color-label-hover-bg: #1f6feb;
  --color-label-active-bg: #7a7f8aff;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-highlight-fg: #87651e;
  --color-highlight-bg: #443a27;
  --color-overlay-backdrop: #080808c0;
  --color-danger: var(--color-red);
  --color-transparency-grid-light: #2a2a2a;
  --color-transparency-grid-dark: #1a1a1a;
  --color-workflow-edge-hover: #666a73;
  --color-syntax-keyword: #ff8854;
  --color-syntax-bool: #25bbc9;
  --color-syntax-control: #dd9e17;
  --color-syntax-name: #fabd2f;
  --color-syntax-type: #eb8cb3;
  --color-syntax-number: #63b2dd;
  --color-syntax-operator: #ff8854;
  --color-syntax-regexp: #b89de4;
  --color-syntax-string: #95b62a;
  --color-syntax-comment: #8898b0;
  --color-syntax-invalid: #ff8686;
  --color-syntax-link: var(--color-primary);
  --color-syntax-tag: #ff8854;
  --color-syntax-attribute: #c792ff;
  --color-syntax-property: #55afff;
  --color-syntax-variable: #e29b33;
  --color-syntax-string-special: #dd9e17;
  --color-syntax-escape: #c7a618;
  --color-syntax-entity: #c792ff;
  --color-syntax-preproc: #4cbe7a;
  --color-syntax-preproc-file: #63b2dd;
  --color-syntax-decorator: #4cbe7a;
  --color-syntax-namespace: #c9d1d9;
  --color-syntax-name-pseudo: #c792ff;
  --color-syntax-comment-special: #b89de4;
  --color-syntax-text: #c9d1d9;
  --color-syntax-text-alt: #b9bcc7;
  --color-syntax-punctuation: #d2d4db;
  --color-syntax-whitespace: #7f8699;
  --color-syntax-diff-fg: #ffffff;
  --color-syntax-deleted-bg: #5f3737;
  --color-syntax-inserted-bg: #3a523a;
  --color-syntax-emph: #d1a242;
  --color-syntax-strong: #e29b33;
  --color-syntax-heading: #dd9e17;
  --color-syntax-subheading: #95b62a;
  --color-syntax-output: #8898b0;
  --color-syntax-prompt: #e29b33;
  --color-syntax-traceback: #ff8686;
  --color-syntax-matching-bracket-bg: #00918a48;
  --color-syntax-nonmatching-bracket-bg: #cc484848;
  accent-color: var(--color-accent);
  color-scheme: dark;
}

a,
.ui.breadcrumb a {
  color: var(--color-blue);
}

/* invert emojis that are hard to read otherwise */
.emoji[aria-label="check mark"],
.emoji[aria-label="currency exchange"],
.emoji[aria-label="TOP arrow"],
.emoji[aria-label="END arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label="copyright"],
.emoji[aria-label="registered"],
.emoji[aria-label="trade mark"],
.emoji[aria-label="multiply"],
.emoji[aria-label="plus"],
.emoji[aria-label="minus"],
.emoji[aria-label="divide"],
.emoji[aria-label="curly loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy dash"],
.emoji[aria-label="paw prints"],
.emoji[aria-label="musical note"],
.emoji[aria-label="musical notes"] {
  filter: invert(100%) hue-rotate(180deg);
}
