gitea-theme-meta-info {
  --theme-display-name: "Dracula Pro Cyberpunk Light";
  --theme-color-scheme: "light";
}

:root {
  --is-dark-theme: false;
  --color-primary: #ab47bc;
  --color-primary-contrast: #ffffff;
  --color-primary-dark-1: #9d3cae;
  --color-primary-dark-2: #8f359e;
  --color-primary-dark-3: #7f2d8d;
  --color-primary-dark-4: #6f267b;
  --color-primary-dark-5: #4f1859;
  --color-primary-dark-6: #2d0c33;
  --color-primary-dark-7: #160718;
  --color-primary-light-1: #b34dc5;
  --color-primary-light-2: #bb54cc;
  --color-primary-light-3: #c25bd4;
  --color-primary-light-4: #c962db;
  --color-primary-light-5: #d988e7;
  --color-primary-light-6: #ecc4f3;
  --color-primary-light-7: #f9edfb;
  --color-primary-alpha-10: #ab47bc19;
  --color-primary-alpha-20: #ab47bc33;
  --color-primary-alpha-30: #ab47bc4b;
  --color-primary-alpha-40: #ab47bc66;
  --color-primary-alpha-50: #ab47bc80;
  --color-primary-alpha-60: #ab47bc99;
  --color-primary-alpha-70: #ab47bcb3;
  --color-primary-alpha-80: #ab47bccc;
  --color-primary-alpha-90: #ab47bce1;
  --color-primary-hover: var(--color-primary-dark-1);
  --color-primary-active: var(--color-primary-dark-2);
  --color-secondary: #d1d4dd;
  --color-secondary-dark-1: #c8cbd4;
  --color-secondary-dark-2: #babdc6;
  --color-secondary-dark-3: #9a9da6;
  --color-secondary-dark-4: #8a8d96;
  --color-secondary-dark-5: #7a7e88;
  --color-secondary-dark-6: #6a6e78;
  --color-secondary-dark-7: #5b5e69;
  --color-secondary-dark-8: #4b4e59;
  --color-secondary-dark-9: #3c404a;
  --color-secondary-dark-10: #2c303a;
  --color-secondary-dark-11: #1d212b;
  --color-secondary-dark-12: #0d111b;
  --color-secondary-dark-13: #00030b;
  --color-secondary-light-1: #dfe2eb;
  --color-secondary-light-2: #e4e8f2;
  --color-secondary-light-3: #ebeff9;
  --color-secondary-light-4: #f1f5ff;
  --color-secondary-alpha-10: #d1d4dd19;
  --color-secondary-alpha-20: #d1d4dd33;
  --color-secondary-alpha-30: #d1d4dd4b;
  --color-secondary-alpha-40: #d1d4dd66;
  --color-secondary-alpha-50: #d1d4dd80;
  --color-secondary-alpha-60: #d1d4dd99;
  --color-secondary-alpha-70: #d1d4ddb3;
  --color-secondary-alpha-80: #d1d4ddcc;
  --color-secondary-alpha-90: #d1d4dde1;
  --color-secondary-button: var(--color-secondary-dark-4);
  --color-secondary-hover: var(--color-secondary-dark-5);
  --color-secondary-active: var(--color-secondary-dark-6);
  /* console colors - used for actions console and console files */
  --color-console-fg: #0b1219;
  --color-console-fg-subtle: #3d4650;
  --color-console-bg: #fafafc;
  --color-console-border: #c8c8e2;
  --color-console-hover-bg: #eaeaf5;
  --color-console-active-bg: #c8c8e2;
  --color-console-menu-bg: #f1f1fa;
  --color-console-menu-border: #c8c8e2;
  --color-console-link: #5c646d;
  /* named colors */
  --color-red: #d31e1e;
  --color-orange: #e1752d;
  --color-yellow: #e0ba23;
  --color-olive: #4ac81d;
  --color-green: #138660;
  --color-teal: #17969e;
  --color-blue: #1f26c4;
  --color-violet: #a944ba;
  --color-purple: #de51ae;
  --color-pink: #e23754;
  --color-brown: #ab6639;
  --color-black: #1d1d28;
  /* light variants - produced via Sass scale-color(color, $lightness: +25%) */
  --color-red-light: #e55050;
  --color-orange-light: #ed975d;
  --color-yellow-light: #efd053;
  --color-olive-light: #70e645;
  --color-green-light: #21c891;
  --color-teal-light: #19e1ee;
  --color-blue-light: #3f47eb;
  --color-violet-light: #c26ed0;
  --color-purple-light: #e67dc2;
  --color-pink-light: #e96a80;
  --color-brown-light: #c88b63;
  --color-black-light: #4b4b68;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #bd1c1c;
  --color-orange-dark-1: #d7671c;
  --color-yellow-dark-1: #d0ab19;
  --color-olive-dark-1: #43b51a;
  --color-green-dark-1: #117856;
  --color-teal-dark-1: #138990;
  --color-blue-dark-1: #1920b3;
  --color-violet-dark-1: #9a3ca9;
  --color-purple-dark-1: #d937a2;
  --color-pink-dark-1: #dd2040;
  --color-brown-dark-1: #9a5c34;
  --color-black-dark-1: #2c2c39;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #a81919;
  --color-orange-dark-2: #c15b17;
  --color-yellow-dark-2: #bc9a13;
  --color-olive-dark-2: #3ba116;
  --color-green-dark-2: #106b4d;
  --color-teal-dark-2: #0f7b82;
  --color-blue-dark-2: #141aa1;
  --color-violet-dark-2: #8a3398;
  --color-purple-dark-2: #cc2694;
  --color-pink-dark-2: #c31d39;
  --color-brown-dark-2: #88522e;
  --color-black-dark-2: #131319;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #0c0d14;
  --color-ansi-red: #ef4444;
  --color-ansi-green: #10b981;
  --color-ansi-yellow: #facc15;
  --color-ansi-blue: #ab47bc;
  --color-ansi-magenta: #f43f5e;
  --color-ansi-cyan: #00f0ff;
  --color-ansi-white: var(--color-console-fg-subtle);
  --color-ansi-bright-black: #5c647b;
  --color-ansi-bright-red: #ef4444;
  --color-ansi-bright-green: #10b981;
  --color-ansi-bright-yellow: #facc15;
  --color-ansi-bright-blue: #ab47bc;
  --color-ansi-bright-magenta: #f43f5e;
  --color-ansi-bright-cyan: #00f0ff;
  --color-ansi-bright-white: var(--color-console-fg);
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #696977;
  --color-grey-light: #35414d;
  --color-gold: #ab9021;
  --color-white: #ffffff;
  --color-diff-added-fg: #117856;
  --color-diff-added-linenum-bg: #d1f8eb;
  --color-diff-added-row-bg: #e6fff7;
  --color-diff-added-row-border: #e6fff7;
  --color-diff-added-word-bg: #acf2db;
  --color-diff-moved-row-bg: #f9f1d0;
  --color-diff-moved-row-border: #ebd476;
  --color-diff-removed-fg: #c81d1d;
  --color-diff-removed-linenum-bg: #ffcbcb;
  --color-diff-removed-row-bg: #ffeeee;
  --color-diff-removed-row-border: #f1c0c0;
  --color-diff-removed-word-bg: #fdb8b8;
  --color-diff-inactive: #e9e9f5;
  --color-error-border: #ff818166;
  --color-error-bg: #ffe9e9;
  --color-error-bg-active: #ffcbcb;
  --color-error-bg-hover: #ffd7d7;
  --color-error-text: #d61f1f;
  --color-success-border: #46c69c66;
  --color-success-bg: #dafbf0;
  --color-success-text: #138660;
  --color-warning-border: #c7ab3966;
  --color-warning-bg: #fff3c5;
  --color-warning-text: #877013;
  --color-info-border: #59f0fa66;
  --color-info-bg: #ddfdff;
  --color-info-text: #1cbdc7;
  --color-priority-border: #ffa1df66;
  --color-priority-bg: #ffe7f7;
  --color-priority-text: #de51ae;
  --color-red-badge: #e02323;
  --color-red-badge-bg: #e023231a;
  --color-red-badge-hover-bg: #e023234d;
  --color-green-badge: #1bc089;
  --color-green-badge-bg: #1bc0891a;
  --color-green-badge-hover-bg: #1bc0894d;
  --color-yellow-badge: #e0ba23;
  --color-yellow-badge-bg: #e0ba231a;
  --color-yellow-badge-hover-bg: #e0ba234d;
  --color-orange-badge: #e1752d;
  --color-orange-badge-bg: #e1752d1a;
  --color-orange-badge-hover-bg: #e1752d4d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #fafafc;
  --color-box-header: #efeffa;
  --color-box-body: #fafafc;
  --color-box-body-highlight: #e3e3ff;
  --color-text-dark: #06080a;
  --color-text: #212932;
  --color-text-light: #35414d;
  --color-text-light-1: #44515e;
  --color-text-light-2: #5c6a78;
  --color-text-light-3: #738494;
  --color-footer: var(--color-nav-bg);
  --color-timeline: #c8c8e2;
  --color-input-text: var(--color-text-dark);
  --color-input-background: #fafafc;
  --color-input-toggle-background: #c8c8e2;
  --color-input-border: var(--color-secondary-dark-1);
  --color-light: #00001706;
  --color-light-border: #0000171d;
  --color-hover: #92929933;
  --color-hover-opaque: #e1e1ed; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #aaaac433;
  --color-menu: #f1f1fa;
  --color-card: #f1f1fa;
  --color-markup-table-row: #0000600a;
  --color-markup-code-block: #aaaac433;
  --color-markup-code-inline: #00006012;
  --color-button: #efeffa;
  --color-code-bg: #f2f2ff;
  --color-shadow: #00001726;
  --color-shadow-opaque: #bfbfd9;
  --color-secondary-bg: #f2f4f8;
  --color-expand-button: #c5c5ff;
  --color-placeholder-text: var(--color-text-light-3);
  --color-editor-line-highlight: var(--color-secondary-alpha-30);
  --color-editor-selection: var(--color-primary-alpha-30);
  --color-project-column-bg: var(--color-secondary-light-4);
  --color-caret: var(--color-text-dark);
  --color-reaction-bg: #0000170a;
  --color-reaction-hover-bg: var(--color-primary-light-5);
  --color-reaction-active-bg: var(--color-primary-light-6);
  --color-tooltip-text: #fbfdff;
  --color-tooltip-bg: #25252e;
  --color-nav-bg: #efeffa;
  --color-nav-hover-bg: var(--color-secondary-light-1);
  --color-nav-text: var(--color-text);
  --color-secondary-nav-bg: #f9fafb;
  --color-label-text: var(--color-text);
  --color-label-bg: #aaaac433;
  --color-label-hover-bg: #aaaac4a0;
  --color-label-active-bg: #aaaac4ff;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-6);
  --color-highlight-fg: #eebf00;
  --color-highlight-bg: #f5ecc5;
  --color-overlay-backdrop: #080808c0;
  --color-danger: var(--color-red);
  --color-transparency-grid-light: #f4f4f8;
  --color-transparency-grid-dark: #dadae5;
  --color-workflow-edge-hover: #adadc0;
  --color-syntax-keyword: #6f2d7a;
  --color-syntax-bool: #512059;
  --color-syntax-control: #53215c;
  --color-syntax-name: #0a6e4d;
  --color-syntax-type: #10b7c1;
  --color-syntax-number: #7e328b;
  --color-syntax-operator: #6f2d7a;
  --color-syntax-regexp: #eb1717;
  --color-syntax-string: #604e08;
  --color-syntax-comment: #52596e;
  --color-syntax-invalid: #b10f0f;
  --color-syntax-link: var(--color-primary);
  --color-syntax-tag: #6f2d7a;
  --color-syntax-attribute: #1beba6;
  --color-syntax-property: #0ea8b2;
  --color-syntax-variable: #304464;
  --color-syntax-string-special: #745e09;
  --color-syntax-escape: #502058;
  --color-syntax-entity: #ac49bd;
  --color-syntax-preproc: #64286f;
  --color-syntax-preproc-file: #af8f0e;
  --color-syntax-decorator: #0c8b61;
  --color-syntax-namespace: #374e73;
  --color-syntax-name-pseudo: #1beba6;
  --color-syntax-comment-special: #6f7893;
  --color-syntax-text: inherit;
  --color-syntax-text-alt: #454b5d;
  --color-syntax-punctuation: inherit;
  --color-syntax-whitespace: #b1b6c5;
  --color-syntax-diff-fg: #000000;
  --color-syntax-deleted-bg: #fce0e0;
  --color-syntax-inserted-bg: #e0fcf3;
  --color-syntax-emph: #81690a;
  --color-syntax-strong: inherit;
  --color-syntax-heading: #53215c;
  --color-syntax-subheading: #085b60;
  --color-syntax-output: #3f5881;
  --color-syntax-prompt: #0c885f;
  --color-syntax-traceback: #b10f0f;
  --color-syntax-matching-bracket-bg: #0e9ea738;
  --color-syntax-nonmatching-bracket-bg: #eb181838;
  accent-color: var(--color-accent);
  color-scheme: light;
}

a,
.ui.breadcrumb a {
  color: var(--color-blue);
}
