gitea-theme-meta-info {
  --theme-display-name: "Dracula Pro Royal Vampire Dark";
  --theme-color-scheme: "dark";
}

:root {
  --is-dark-theme: true;
  --color-primary: #ec4899;
  --color-primary-contrast: #101017;
  --color-primary-dark-1: #e9539d;
  --color-primary-dark-2: #ec4f9d;
  --color-primary-dark-3: #e368a5;
  --color-primary-dark-4: #e763a4;
  --color-primary-dark-5: #e393bb;
  --color-primary-dark-6: #f1c9dd;
  --color-primary-dark-7: #fbeff5;
  --color-primary-light-1: #e7318b;
  --color-primary-light-2: #c90063;
  --color-primary-light-3: #b98ea3;
  --color-primary-light-4: #88114c;
  --color-primary-light-5: #6c1440;
  --color-primary-light-6: #380c22;
  --color-primary-light-7: #14050c;
  --color-primary-alpha-10: #ec489919;
  --color-primary-alpha-20: #ec489933;
  --color-primary-alpha-30: #ec48994b;
  --color-primary-alpha-40: #ec489966;
  --color-primary-alpha-50: #ec489980;
  --color-primary-alpha-60: #ec489999;
  --color-primary-alpha-70: #ec4899b3;
  --color-primary-alpha-80: #ec4899cc;
  --color-primary-alpha-90: #ec4899e1;
  --color-primary-hover: #e7509b;
  --color-primary-active: #e4579d;
  --color-secondary: #343439;
  --color-secondary-dark-1: #3b3b41;
  --color-secondary-dark-2: #44444d;
  --color-secondary-dark-3: #535360;
  --color-secondary-dark-4: #636376;
  --color-secondary-dark-5: #6f6f89;
  --color-secondary-dark-6: #7d7d97;
  --color-secondary-dark-7: #8b8ba4;
  --color-secondary-dark-8: #9c9cb1;
  --color-secondary-dark-9: #a4a4b7;
  --color-secondary-dark-10: #b2b2c3;
  --color-secondary-dark-11: #c1c1ce;
  --color-secondary-dark-12: #ccccd7;
  --color-secondary-dark-13: #cfcfd9;
  --color-secondary-light-1: #2b2b30;
  --color-secondary-light-2: #232328;
  --color-secondary-light-3: #19191d;
  --color-secondary-light-4: #141417;
  --color-secondary-alpha-10: #34343919;
  --color-secondary-alpha-20: #34343933;
  --color-secondary-alpha-30: #3434394b;
  --color-secondary-alpha-40: #34343966;
  --color-secondary-alpha-50: #34343980;
  --color-secondary-alpha-60: #171721;
  --color-secondary-alpha-70: #343439b3;
  --color-secondary-alpha-80: #343439cc;
  --color-secondary-alpha-90: #343439e1;
  --color-secondary-button: var(--color-secondary-dark-4);
  --color-secondary-hover: var(--color-secondary-dark-3);
  --color-secondary-active: var(--color-secondary-dark-2);
  /* console colors - used for actions console and console files */
  --color-console-fg: #ffffff;
  --color-console-fg-subtle: #f6f6f6;
  --color-console-bg: #1c1c1c;
  --color-console-border: #353536;
  --color-console-hover-bg: #2e2e2e;
  --color-console-active-bg: #353536;
  --color-console-menu-bg: #2d2d2d;
  --color-console-menu-border: #49494d;
  --color-console-link: #b8b8b8;
  /* named colors */
  --color-red: #ff9580;
  --color-orange: #ffca80;
  --color-yellow: #ffff80;
  --color-olive: #c4ff80;
  --color-green: #8aff80;
  --color-teal: #80ffea;
  --color-blue: #7c62f7;
  --color-violet: #ec4899;
  --color-purple: #e234c0;
  --color-pink: #c026d3;
  --color-brown: #cb974e;
  --color-black: #242424;
  /* light variants - produced via Sass scale-color(color, $lightness: +10%) */
  --color-red-light: #fd9e8b;
  --color-orange-light: #facc8b;
  --color-yellow-light: #fdfd88;
  --color-olive-light: #c2fd7e;
  --color-green-light: #86ff7b;
  --color-teal-light: #74ffe8;
  --color-blue-light: #8971f8;
  --color-violet-light: #ed5ca3;
  --color-purple-light: #e549c7;
  --color-pink-light: #c939db;
  --color-brown-light: #cda062;
  --color-black-light: #48484c;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #fb7358;
  --color-orange-dark-1: #fccb87;
  --color-yellow-dark-1: #fcfc59;
  --color-olive-dark-1: #b2fd5b;
  --color-green-dark-1: #6cfc60;
  --color-teal-dark-1: #5fffe5;
  --color-blue-dark-1: #5f3ff6;
  --color-violet-dark-1: #e6318a;
  --color-purple-dark-1: #de20b9;
  --color-pink-dark-1: #ad23be;
  --color-brown-dark-1: #bf893d;
  --color-black-dark-1: #313131;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #f55232;
  --color-orange-dark-2: #fdcb84;
  --color-yellow-dark-2: #f7f731;
  --color-olive-dark-2: #9ffb36;
  --color-green-dark-2: #4cf73d;
  --color-teal-dark-2: #3cffdf;
  --color-blue-dark-2: #411bf5;
  --color-violet-dark-2: #dc1e7c;
  --color-purple-dark-2: #c71da6;
  --color-pink-dark-2: #9920a8;
  --color-brown-dark-2: #a57839;
  --color-black-dark-2: #2d2d2d;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #101017;
  --color-ansi-red: #ff9580;
  --color-ansi-green: #8aff80;
  --color-ansi-yellow: #ffff80;
  --color-ansi-blue: #ec4899;
  --color-ansi-magenta: #c026d3;
  --color-ansi-cyan: #80ffea;
  --color-ansi-white: var(--color-console-fg-subtle);
  --color-ansi-bright-black: #71717a;
  --color-ansi-bright-red: #ff9580;
  --color-ansi-bright-green: #8aff80;
  --color-ansi-bright-yellow: #ffff80;
  --color-ansi-bright-blue: #ec4899;
  --color-ansi-bright-magenta: #c026d3;
  --color-ansi-bright-cyan: #80ffea;
  --color-ansi-bright-white: var(--color-console-fg);
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #414142;
  --color-grey-light: #d4d4d4;
  --color-gold: #e0e04e;
  --color-white: #e6edf3;
  --color-diff-added-fg: #8aff80;
  --color-diff-added-linenum-bg: #294227;
  --color-diff-added-row-bg: #1df00b26;
  --color-diff-added-row-border: #1df00b4d;
  --color-diff-added-word-bg: #1df00b66;
  --color-diff-moved-row-bg: #a6a638;
  --color-diff-moved-row-border: #ffff80;
  --color-diff-removed-fg: #ff9580;
  --color-diff-removed-linenum-bg: #482721;
  --color-diff-removed-row-bg: #fd816926;
  --color-diff-removed-row-border: #fd81694d;
  --color-diff-removed-word-bg: #fd816966;
  --color-diff-inactive: #1a1a21;
  --color-error-border: #ff563566;
  --color-error-bg: #b63b23;
  --color-error-bg-active: #492c26;
  --color-error-bg-hover: #3c2824;
  --color-error-text: #ff9580;
  --color-success-border: #8af78166;
  --color-success-bg: #275923;
  --color-success-text: #8aff80;
  --color-warning-border: #ffff2b66;
  --color-warning-bg: #ffff2b1a;
  --color-warning-text: #ffff80;
  --color-info-border: #76ffe866;
  --color-info-bg: #76ffe81a;
  --color-info-text: #80ffea;
  --color-priority-border: #8d2679;
  --color-priority-bg: #391c33;
  --color-priority-text: #e234c0;
  --color-red-badge: #ff9580;
  --color-red-badge-bg: #ff95801a;
  --color-red-badge-hover-bg: #ff95804d;
  --color-green-badge: #8aff80;
  --color-green-badge-bg: #8aff801a;
  --color-green-badge-hover-bg: #8aff804d;
  --color-yellow-badge: #ffff80;
  --color-yellow-badge-bg: #ffff801a;
  --color-yellow-badge-hover-bg: #ffff804d;
  --color-orange-badge: #ffca80;
  --color-orange-badge-bg: #ffca801a;
  --color-orange-badge-hover-bg: #ffca804d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #101017;
  --color-box-header: #1a1a21;
  --color-box-body: #101017;
  --color-box-body-highlight: #232323;
  --color-text-dark: #f5f5f5;
  --color-text: #f5f5f5;
  --color-text-light: #d4d4d4;
  --color-text-light-1: #a59f9f;
  --color-text-light-2: #d4d4d4;
  --color-text-light-3: #927a7a;
  --color-footer: #161b22;
  --color-timeline: #25252b;
  --color-input-text: #adbac7;
  --color-input-background: #26262c;
  --color-input-toggle-background: #363636;
  --color-input-border: var(--color-secondary-dark-1);
  --color-light: #26262c;
  --color-light-border: #34343b;
  --color-hover: #2d2d34;
  --color-hover-opaque: #2d2d34; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #26262c;
  --color-menu: #1a1a21;
  --color-card: #101017;
  --color-markup-table-row: #f3f3f40f;
  --color-markup-code-block: #63637b66;
  --color-markup-code-inline: #f3f3f428;
  --color-button: #26262c;
  --color-code-bg: #101017;
  --color-shadow: #0d0d0d58;
  --color-shadow-opaque: #0d0d0d;
  --color-secondary-bg: #343439;
  --color-expand-button: #101017;
  --color-placeholder-text: var(--color-text-light-3);
  --color-editor-line-highlight: #0d1117;
  --color-editor-selection: var(--color-primary-alpha-50);
  --color-project-column-bg: var(--color-secondary-light-2);
  --color-caret: #bbc0ca; /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #f3f3f412;
  --color-reaction-hover-bg: var(--color-primary-light-4);
  --color-reaction-active-bg: var(--color-primary-light-5);
  --color-tooltip-text: #ffffff;
  --color-tooltip-bg: #2f2f31;
  --color-nav-bg: #02020b;
  --color-nav-hover-bg: #b1bac41f;
  --color-nav-text: var(--color-text);
  --color-secondary-nav-bg: #1b1b1d;
  --color-label-text: #4493f8;
  --color-label-bg: #3838fd1a;
  --color-label-hover-bg: #1f1feb;
  --color-label-active-bg: #7a7a8aff;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-highlight-fg: #b4b419;
  --color-highlight-bg: #53532a;
  --color-overlay-backdrop: #090909c0;
  --color-danger: var(--color-red);
  --color-transparency-grid-light: #2b2b2b;
  --color-transparency-grid-dark: #1b1b1b;
  --color-workflow-edge-hover: #666673;
  --color-syntax-keyword: #ec4899;
  --color-syntax-bool: #ec4899;
  --color-syntax-control: #ec4899;
  --color-syntax-name: #8aff80;
  --color-syntax-type: #80ffea;
  --color-syntax-number: #ec4899;
  --color-syntax-operator: #ec4899;
  --color-syntax-regexp: #ff9580;
  --color-syntax-string: #ffff80;
  --color-syntax-comment: #71717a;
  --color-syntax-invalid: #ff9580;
  --color-syntax-link: var(--color-primary);
  --color-syntax-tag: #ec4899;
  --color-syntax-attribute: #8aff80;
  --color-syntax-property: #80ffea;
  --color-syntax-variable: #f5f5f5;
  --color-syntax-string-special: #ffff80;
  --color-syntax-escape: #ec4899;
  --color-syntax-entity: #ec4899;
  --color-syntax-preproc: #ec4899;
  --color-syntax-preproc-file: #ffff80;
  --color-syntax-decorator: #8aff80;
  --color-syntax-namespace: #f5f5f5;
  --color-syntax-name-pseudo: #8aff80;
  --color-syntax-comment-special: #71717a;
  --color-syntax-text: #f5f5f5;
  --color-syntax-text-alt: #71717a;
  --color-syntax-punctuation: #f5f5f5;
  --color-syntax-whitespace: #71717a;
  --color-syntax-diff-fg: #f5f5f5;
  --color-syntax-deleted-bg: #ff9580;
  --color-syntax-inserted-bg: #8aff80;
  --color-syntax-emph: #ffff80;
  --color-syntax-strong: #ffca80;
  --color-syntax-heading: #ec4899;
  --color-syntax-subheading: #80ffea;
  --color-syntax-output: #f5f5f5;
  --color-syntax-prompt: #8aff80;
  --color-syntax-traceback: #ff9580;
  --color-syntax-matching-bracket-bg: #80ffea48;
  --color-syntax-nonmatching-bracket-bg: #ff958048;
  accent-color: var(--color-accent);
  color-scheme: dark;
}

a,
.ui.breadcrumb a {
  color: var(--color-blue);
}

/* invert emojis that are hard to read otherwise */
.emoji[aria-label="check mark"],
.emoji[aria-label="currency exchange"],
.emoji[aria-label="TOP arrow"],
.emoji[aria-label="END arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label="copyright"],
.emoji[aria-label="registered"],
.emoji[aria-label="trade mark"],
.emoji[aria-label="multiply"],
.emoji[aria-label="plus"],
.emoji[aria-label="minus"],
.emoji[aria-label="divide"],
.emoji[aria-label="curly loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy dash"],
.emoji[aria-label="paw prints"],
.emoji[aria-label="musical note"],
.emoji[aria-label="musical notes"] {
  filter: invert(100%) hue-rotate(180deg);
}
