gitea-theme-meta-info {
  --theme-display-name: "Dracula Pro Goth Dark";
  --theme-color-scheme: "dark";
}

:root {
  --is-dark-theme: true;
  --color-primary: #ffffff;
  --color-primary-contrast: #000000;
  --color-primary-dark-1: #f1eeee;
  --color-primary-dark-2: #f2eded;
  --color-primary-dark-3: #e0c0c0;
  --color-primary-dark-4: #e3c1c1;
  --color-primary-dark-5: #e39393;
  --color-primary-dark-6: #f1c9c9;
  --color-primary-dark-7: #fbefef;
  --color-primary-light-1: #e9e7e7;
  --color-primary-light-2: #dd7272;
  --color-primary-light-3: #d8d8d8;
  --color-primary-light-4: #ae5353;
  --color-primary-light-5: #904848;
  --color-primary-light-6: #552020;
  --color-primary-light-7: #240b0b;
  --color-primary-alpha-10: #ffffff19;
  --color-primary-alpha-20: #ffffff33;
  --color-primary-alpha-30: #ffffff4b;
  --color-primary-alpha-40: #ffffff66;
  --color-primary-alpha-50: #ffffff80;
  --color-primary-alpha-60: #ffffff99;
  --color-primary-alpha-70: #ffffffb3;
  --color-primary-alpha-80: #ffffffcc;
  --color-primary-alpha-90: #ffffffe1;
  --color-primary-hover: #ffffff;
  --color-primary-active: #f2f0f0;
  --color-secondary: #373737;
  --color-secondary-dark-1: #3f3e3e;
  --color-secondary-dark-2: #4b4747;
  --color-secondary-dark-3: #5e5656;
  --color-secondary-dark-4: #746565;
  --color-secondary-dark-5: #887070;
  --color-secondary-dark-6: #977d7d;
  --color-secondary-dark-7: #a48b8b;
  --color-secondary-dark-8: #b19c9c;
  --color-secondary-dark-9: #b7a4a4;
  --color-secondary-dark-10: #c3b2b2;
  --color-secondary-dark-11: #cec1c1;
  --color-secondary-dark-12: #d7cccc;
  --color-secondary-dark-13: #d9cfcf;
  --color-secondary-light-1: #2f2d2d;
  --color-secondary-light-2: #272525;
  --color-secondary-light-3: #1c1b1b;
  --color-secondary-light-4: #171515;
  --color-secondary-alpha-10: #37373719;
  --color-secondary-alpha-20: #37373733;
  --color-secondary-alpha-30: #3737374b;
  --color-secondary-alpha-40: #37373766;
  --color-secondary-alpha-50: #37373780;
  --color-secondary-alpha-60: #201919;
  --color-secondary-alpha-70: #373737b3;
  --color-secondary-alpha-80: #373737cc;
  --color-secondary-alpha-90: #373737e1;
  --color-secondary-button: #746565;
  --color-secondary-hover: #5e5656;
  --color-secondary-active: #4b4747;
  /* console colors - used for actions console and console files */
  --color-console-fg: #ffffff;
  --color-console-fg-subtle: #ffffff;
  --color-console-bg: #0a0a0a;
  --color-console-border: #292929;
  --color-console-hover-bg: #202020;
  --color-console-active-bg: #292929;
  --color-console-menu-bg: #1f1f1f;
  --color-console-menu-border: #444444;
  --color-console-link: #bebebe;
  /* named colors */
  --color-red: #ff0000;
  --color-orange: #df9f9f;
  --color-yellow: #ffffff;
  --color-olive: #ffffff;
  --color-green: #ffffff;
  --color-teal: #ffffff;
  --color-blue: #ffffff;
  --color-violet: #ffffff;
  --color-purple: #ffffff;
  --color-pink: #ffffff;
  --color-brown: #ac6c6c;
  --color-black: #141414;
  /* light variants - produced via Sass scale-color(color, $lightness: +10%) */
  --color-red-light: #fb1e1e;
  --color-orange-light: #f29393;
  --color-yellow-light: #f9f8f8;
  --color-olive-light: #f4f0f0;
  --color-green-light: #f7f1f1;
  --color-teal-light: #f0e8e8;
  --color-blue-light: #fefefe;
  --color-violet-light: #ffffff;
  --color-purple-light: #fefefe;
  --color-pink-light: #faf9f9;
  --color-brown-light: #b57979;
  --color-black-light: #434343;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #e10505;
  --color-orange-dark-1: #eb9797;
  --color-yellow-dark-1: #e4dede;
  --color-olive-dark-1: #e8e3e3;
  --color-green-dark-1: #e9e7e7;
  --color-teal-dark-1: #ebe8e8;
  --color-blue-dark-1: #e4d9d9;
  --color-violet-dark-1: #e1d9d9;
  --color-purple-dark-1: #e3dada;
  --color-pink-dark-1: #e3dede;
  --color-brown-dark-1: #a25a5a;
  --color-black-dark-1: #252525;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #c40a0a;
  --color-orange-dark-2: #e69a9a;
  --color-yellow-dark-2: #ceb6b6;
  --color-olive-dark-2: #d3c2c2;
  --color-green-dark-2: #d3c8c8;
  --color-teal-dark-2: #dacccc;
  --color-blue-dark-2: #d3a8a8;
  --color-violet-dark-2: #cdadad;
  --color-purple-dark-2: #ceacac;
  --color-pink-dark-2: #cdb6b6;
  --color-brown-dark-2: #8f4f4f;
  --color-black-dark-2: #1f1f1f;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #000000;
  --color-ansi-red: #ff0000;
  --color-ansi-green: #ffffff;
  --color-ansi-yellow: #ffffff;
  --color-ansi-blue: #ffffff;
  --color-ansi-magenta: #ffffff;
  --color-ansi-cyan: #ffffff;
  --color-ansi-white: #ffffff;
  --color-ansi-bright-black: #666666;
  --color-ansi-bright-red: #ff0000;
  --color-ansi-bright-green: #ffffff;
  --color-ansi-bright-yellow: #ffffff;
  --color-ansi-bright-blue: #ffffff;
  --color-ansi-bright-magenta: #ffffff;
  --color-ansi-bright-cyan: #ffffff;
  --color-ansi-bright-white: #ffffff;
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #383838;
  --color-grey-light: #dcdcdc;
  --color-gold: #d6d6d6;
  --color-white: #e6edf3;
  --color-diff-added-fg: #ffffff;
  --color-diff-added-linenum-bg: #422727;
  --color-diff-added-row-bg: #c5777726;
  --color-diff-added-row-border: #c577774d;
  --color-diff-added-word-bg: #c5777766;
  --color-diff-moved-row-bg: #977373;
  --color-diff-moved-row-border: #ffffff;
  --color-diff-removed-fg: #ff0000;
  --color-diff-removed-linenum-bg: #482121;
  --color-diff-removed-row-bg: #f0040426;
  --color-diff-removed-row-border: #f004044d;
  --color-diff-removed-word-bg: #f0040466;
  --color-diff-inactive: #0c0c0c;
  --color-error-border: #ff000066;
  --color-error-bg: #b62323;
  --color-error-bg-active: #492626;
  --color-error-bg-hover: #3c2424;
  --color-error-text: #ff0000;
  --color-success-border: #f0eded66;
  --color-success-bg: #5b4b4b;
  --color-success-text: #ffffff;
  --color-warning-border: #ffffff66;
  --color-warning-bg: #daacac1a;
  --color-warning-text: #ffffff;
  --color-info-border: #ffffff66;
  --color-info-bg: #f8f7f71a;
  --color-info-text: #ffffff;
  --color-priority-border: #8d2626;
  --color-priority-bg: #391c1c;
  --color-priority-text: #ffffff;
  --color-red-badge: #ff0000;
  --color-red-badge-bg: #ff00001a;
  --color-red-badge-hover-bg: #ff00004d;
  --color-green-badge: #ffffff;
  --color-green-badge-bg: #ffffff1a;
  --color-green-badge-hover-bg: #ffffff4d;
  --color-yellow-badge: #ffffff;
  --color-yellow-badge-bg: #ffffff1a;
  --color-yellow-badge-hover-bg: #ffffff4d;
  --color-orange-badge: #df9f9f;
  --color-orange-badge-bg: #df9f9f1a;
  --color-orange-badge-hover-bg: #df9f9f4d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #000000;
  --color-box-header: #0c0c0c;
  --color-box-body: #000000;
  --color-box-body-highlight: #131313;
  --color-text-dark: #ffffff;
  --color-text: #ffffff;
  --color-text-light: #dcdcdc;
  --color-text-light-1: #a9a3a3;
  --color-text-light-2: #dcdcdc;
  --color-text-light-3: #947c7c;
  --color-footer: #161b22;
  --color-timeline: #191919;
  --color-input-text: #adbac7;
  --color-input-background: #1a1a1a;
  --color-input-toggle-background: #2a2a2a;
  --color-input-border: #3f3e3e;
  --color-light: #1a1a1a;
  --color-light-border: #2c2c2c;
  --color-hover: #111111;
  --color-hover-opaque: #232323; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #262626;
  --color-menu: #0c0c0c;
  --color-card: #000000;
  --color-markup-table-row: #f4f3f30f;
  --color-markup-code-block: #7b636366;
  --color-markup-code-inline: #f4f3f328;
  --color-button: #1a1a1a;
  --color-code-bg: #000000;
  --color-shadow: #00000058;
  --color-shadow-opaque: #000000;
  --color-secondary-bg: #373737;
  --color-expand-button: #000000;
  --color-placeholder-text: #947c7c;
  --color-editor-line-highlight: #0d1117;
  --color-editor-selection: #ffffff80;
  --color-project-column-bg: #272525;
  --color-caret: #bbc0ca; /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #f4f3f312;
  --color-reaction-hover-bg: #ae5353;
  --color-reaction-active-bg: #904848;
  --color-tooltip-text: #ffffff;
  --color-tooltip-bg: #232323;
  --color-nav-bg: #050505;
  --color-nav-hover-bg: #b1bac41f;
  --color-nav-text: #ffffff;
  --color-secondary-nav-bg: #050505;
  --color-label-text: #ffffff;
  --color-label-bg: #2626261a;
  --color-label-hover-bg: #eb1f1f;
  --color-label-active-bg: #8a7a7aff;
  --color-accent: #ff0000;
  --color-small-accent: #904848;
  --color-highlight-fg: #b36666;
  --color-highlight-bg: #5b4646;
  --color-overlay-backdrop: #000000c0;
  --color-danger: #ff0000;
  --color-transparency-grid-light: #1d1d1d;
  --color-transparency-grid-dark: #0a0a0a;
  --color-workflow-edge-hover: #736666;
  --color-syntax-keyword: #ffffff;
  --color-syntax-bool: #ffffff;
  --color-syntax-control: #ffffff;
  --color-syntax-name: #ffffff;
  --color-syntax-type: #ffffff;
  --color-syntax-number: #ffffff;
  --color-syntax-operator: #ffffff;
  --color-syntax-regexp: #ff0000;
  --color-syntax-string: #ffffff;
  --color-syntax-comment: #666666;
  --color-syntax-invalid: #ff0000;
  --color-syntax-link: #ffffff;
  --color-syntax-tag: #ffffff;
  --color-syntax-attribute: #ffffff;
  --color-syntax-property: #ffffff;
  --color-syntax-variable: #ffffff;
  --color-syntax-string-special: #ffffff;
  --color-syntax-escape: #ffffff;
  --color-syntax-entity: #ffffff;
  --color-syntax-preproc: #ffffff;
  --color-syntax-preproc-file: #ffffff;
  --color-syntax-decorator: #ffffff;
  --color-syntax-namespace: #ffffff;
  --color-syntax-name-pseudo: #ffffff;
  --color-syntax-comment-special: #666666;
  --color-syntax-text: #ffffff;
  --color-syntax-text-alt: #666666;
  --color-syntax-punctuation: #ffffff;
  --color-syntax-whitespace: #666666;
  --color-syntax-diff-fg: #ffffff;
  --color-syntax-deleted-bg: #ff0000;
  --color-syntax-inserted-bg: #ffffff;
  --color-syntax-emph: #ffffff;
  --color-syntax-strong: #ffffff;
  --color-syntax-heading: #ffffff;
  --color-syntax-subheading: #ffffff;
  --color-syntax-output: #ffffff;
  --color-syntax-prompt: #ffffff;
  --color-syntax-traceback: #ff0000;
  --color-syntax-matching-bracket-bg: #ffffff48;
  --color-syntax-nonmatching-bracket-bg: #ff000048;
  accent-color: var(--color-accent);
  color-scheme: dark;
}

a,
.ui.breadcrumb a {
  color: var(--color-blue);
}

/* invert emojis that are hard to read otherwise */
.emoji[aria-label="check mark"],
.emoji[aria-label="currency exchange"],
.emoji[aria-label="TOP arrow"],
.emoji[aria-label="END arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label="copyright"],
.emoji[aria-label="registered"],
.emoji[aria-label="trade mark"],
.emoji[aria-label="multiply"],
.emoji[aria-label="plus"],
.emoji[aria-label="minus"],
.emoji[aria-label="divide"],
.emoji[aria-label="curly loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy dash"],
.emoji[aria-label="paw prints"],
.emoji[aria-label="musical note"],
.emoji[aria-label="musical notes"] {
  filter: invert(100%) hue-rotate(180deg);
}
