gitea-theme-meta-info {
  --theme-display-name: "Dracula Pro Eclipse Dark";
  --theme-color-scheme: "dark";
}

:root {
  --is-dark-theme: true;
  --color-primary: #a855f7;
  --color-primary-contrast: #0c0f13;
  --color-primary-dark-1: #a95df2;
  --color-primary-dark-2: #a95af5;
  --color-primary-dark-3: #ac6de8;
  --color-primary-dark-4: #ac68ec;
  --color-primary-dark-5: #bc93e3;
  --color-primary-dark-6: #ddc9f1;
  --color-primary-dark-7: #f5effb;
  --color-primary-light-1: #993bf2;
  --color-primary-light-2: #6f00d9;
  --color-primary-light-3: #aa92c2;
  --color-primary-light-4: #540f97;
  --color-primary-light-5: #471378;
  --color-primary-light-6: #250c3d;
  --color-primary-light-7: #0e0517;
  --color-primary-alpha-10: #a855f719;
  --color-primary-alpha-20: #a855f733;
  --color-primary-alpha-30: #a855f74b;
  --color-primary-alpha-40: #a855f766;
  --color-primary-alpha-50: #a855f780;
  --color-primary-alpha-60: #a855f799;
  --color-primary-alpha-70: #a855f7b3;
  --color-primary-alpha-80: #a855f7cc;
  --color-primary-alpha-90: #a855f7e1;
  --color-primary-hover: #ff5da2;
  --color-primary-active: #a961ee;
  --color-secondary: #32363b;
  --color-secondary-dark-1: #393d43;
  --color-secondary-dark-2: #42484f;
  --color-secondary-dark-3: #515962;
  --color-secondary-dark-4: #626b77;
  --color-secondary-dark-5: #6e7a8a;
  --color-secondary-dark-6: #7c8898;
  --color-secondary-dark-7: #8b96a4;
  --color-secondary-dark-8: #9ca5b1;
  --color-secondary-dark-9: #a4acb7;
  --color-secondary-dark-10: #b2bac3;
  --color-secondary-dark-11: #c1c7ce;
  --color-secondary-dark-12: #ccd1d7;
  --color-secondary-dark-13: #cfd3d9;
  --color-secondary-light-1: #2a2d31;
  --color-secondary-light-2: #222529;
  --color-secondary-light-3: #191b1d;
  --color-secondary-light-4: #131518;
  --color-secondary-alpha-10: #32363b19;
  --color-secondary-alpha-20: #32363b33;
  --color-secondary-alpha-30: #32363b4b;
  --color-secondary-alpha-40: #32363b66;
  --color-secondary-alpha-50: #32363b80;
  --color-secondary-alpha-60: #171b21;
  --color-secondary-alpha-70: #32363bb3;
  --color-secondary-alpha-80: #32363bcc;
  --color-secondary-alpha-90: #32363be1;
  --color-secondary-button: #626b77;
  --color-secondary-hover: #515962;
  --color-secondary-active: #42484f;
  /* console colors - used for actions console and console files */
  --color-console-fg: #ffffff;
  --color-console-fg-subtle: #e9eef2;
  --color-console-bg: #181818;
  --color-console-border: #313335;
  --color-console-hover-bg: #2a2b2d;
  --color-console-active-bg: #313335;
  --color-console-menu-bg: #292a2b;
  --color-console-menu-border: #47494d;
  --color-console-link: #a5b4c1;
  /* named colors */
  --color-red: #ff9580;
  --color-orange: #ffca80;
  --color-yellow: #ffff80;
  --color-olive: #c4ff80;
  --color-green: #8aff80;
  --color-teal: #80ffea;
  --color-blue: #6a99fc;
  --color-violet: #a855f7;
  --color-purple: #fb59f4;
  --color-pink: #ff5da2;
  --color-brown: #cb974e;
  --color-black: #1f2021;
  /* light variants - produced via Sass scale-color(color, $lightness: +10%) */
  --color-red-light: #fd9e8b;
  --color-orange-light: #facc8b;
  --color-yellow-light: #fdfd88;
  --color-olive-light: #c2fd7e;
  --color-green-light: #86ff7b;
  --color-teal-light: #74ffe8;
  --color-blue-light: #79a3fc;
  --color-violet-light: #b168f6;
  --color-purple-light: #fa6cf4;
  --color-pink-light: #fb6daa;
  --color-brown-light: #cda062;
  --color-black-light: #46484c;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #fb7358;
  --color-orange-dark-1: #fccb87;
  --color-yellow-dark-1: #fcfc59;
  --color-olive-dark-1: #b2fd5b;
  --color-green-dark-1: #6cfc60;
  --color-teal-dark-1: #5fffe5;
  --color-blue-dark-1: #457ffb;
  --color-violet-dark-1: #973af0;
  --color-purple-dark-1: #f63aee;
  --color-pink-dark-1: #fa3c8d;
  --color-brown-dark-1: #bf893d;
  --color-black-dark-1: #2e2f30;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #f55232;
  --color-orange-dark-2: #fdcb84;
  --color-yellow-dark-2: #f7f731;
  --color-olive-dark-2: #9ffb36;
  --color-green-dark-2: #4cf73d;
  --color-teal-dark-2: #3cffdf;
  --color-blue-dark-2: #1f65f9;
  --color-violet-dark-2: #8721e9;
  --color-purple-dark-2: #f01de7;
  --color-pink-dark-2: #f31b77;
  --color-brown-dark-2: #a57839;
  --color-black-dark-2: #292a2b;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #0c0f13;
  --color-ansi-red: #ff9580;
  --color-ansi-green: #8aff80;
  --color-ansi-yellow: #ffff80;
  --color-ansi-blue: #a855f7;
  --color-ansi-magenta: #ff5da2;
  --color-ansi-cyan: #80ffea;
  --color-ansi-white: #e9eef2;
  --color-ansi-bright-black: #7d8590;
  --color-ansi-bright-red: #ff9580;
  --color-ansi-bright-green: #8aff80;
  --color-ansi-bright-yellow: #ffff80;
  --color-ansi-bright-blue: #a855f7;
  --color-ansi-bright-magenta: #ff5da2;
  --color-ansi-bright-cyan: #80ffea;
  --color-ansi-bright-white: #ffffff;
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #3d3f41;
  --color-grey-light: #c0cfdb;
  --color-gold: #e0e04e;
  --color-white: #e6edf3;
  --color-diff-added-fg: #8aff80;
  --color-diff-added-linenum-bg: #294227;
  --color-diff-added-row-bg: #1df00b26;
  --color-diff-added-row-border: #1df00b4d;
  --color-diff-added-word-bg: #1df00b66;
  --color-diff-moved-row-bg: #38a694;
  --color-diff-moved-row-border: #80ffea;
  --color-diff-removed-fg: #ff9580;
  --color-diff-removed-linenum-bg: #482721;
  --color-diff-removed-row-bg: #fd816926;
  --color-diff-removed-row-border: #fd81694d;
  --color-diff-removed-word-bg: #fd816966;
  --color-diff-inactive: #15191e;
  --color-error-border: #ff958066;
  --color-error-bg: #b63b23;
  --color-error-bg-active: #492c26;
  --color-error-bg-hover: #3c2824;
  --color-error-text: #ff9580;
  --color-success-border: #8af78166;
  --color-success-bg: #275923;
  --color-success-text: #8aff80;
  --color-warning-border: #ffff8066;
  --color-warning-bg: #ffff2b1a;
  --color-warning-text: #ffff80;
  --color-info-border: #ff5da266;
  --color-info-bg: #76ffe81a;
  --color-info-text: #80ffea;
  --color-priority-border: #8d2689;
  --color-priority-bg: #391c38;
  --color-priority-text: #fb59f4;
  --color-red-badge: #ff9580;
  --color-red-badge-bg: #ff95801a;
  --color-red-badge-hover-bg: #ff95804d;
  --color-green-badge: #8aff80;
  --color-green-badge-bg: #8aff801a;
  --color-green-badge-hover-bg: #8aff804d;
  --color-yellow-badge: #ffff80;
  --color-yellow-badge-bg: #ffff801a;
  --color-yellow-badge-hover-bg: #ffff804d;
  --color-orange-badge: #ffca80;
  --color-orange-badge-bg: #ffca801a;
  --color-orange-badge-hover-bg: #ffca804d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #0c0f13;
  --color-box-header: #15191e;
  --color-box-body: #0c0f13;
  --color-box-body-highlight: #1f2020;
  --color-text-dark: #e6edf3;
  --color-text: #e6edf3;
  --color-text-light: #c0cfdb;
  --color-text-light-1: #8ea0b0;
  --color-text-light-2: #c0cfdb;
  --color-text-light-3: #6f8699;
  --color-footer: #161b22;
  --color-timeline: #212429;
  --color-input-text: #adbac7;
  --color-input-background: #22262a;
  --color-input-toggle-background: #323335;
  --color-input-border: #393d43;
  --color-light: #22262a;
  --color-light-border: #30343a;
  --color-hover: #21262d;
  --color-hover-opaque: #292d33; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #5b5f97;
  --color-menu: #15191e;
  --color-card: #0c0f13;
  --color-markup-table-row: #f3f3f40f;
  --color-markup-code-block: #636d7b66;
  --color-markup-code-inline: #f3f3f428;
  --color-button: #22262a;
  --color-code-bg: #0c0f13;
  --color-shadow: #09090958;
  --color-shadow-opaque: #090909;
  --color-secondary-bg: #32363b;
  --color-expand-button: #0c0f13;
  --color-placeholder-text: #6f8699;
  --color-editor-line-highlight: #0d1117;
  --color-editor-selection: #a855f780;
  --color-project-column-bg: #222529;
  --color-caret: #bbc0ca; /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #f3f3f412;
  --color-reaction-hover-bg: #540f97;
  --color-reaction-active-bg: #471378;
  --color-tooltip-text: #ffffff;
  --color-tooltip-bg: #2b2d30;
  --color-nav-bg: #080a0d;
  --color-nav-hover-bg: #b1bac41f;
  --color-nav-text: #e6edf3;
  --color-secondary-nav-bg: #080a0d;
  --color-label-text: #e6edf3;
  --color-label-bg: #5b5f971a;
  --color-label-hover-bg: #1f76eb;
  --color-label-active-bg: #7a818aff;
  --color-accent: #ff5da2;
  --color-small-accent: #471378;
  --color-highlight-fg: #b4b419;
  --color-highlight-bg: #53532a;
  --color-overlay-backdrop: #060606c0;
  --color-danger: #ff9580;
  --color-transparency-grid-light: #282828;
  --color-transparency-grid-dark: #181818;
  --color-workflow-edge-hover: #666c73;
  --color-syntax-keyword: #a855f7;
  --color-syntax-bool: #a855f7;
  --color-syntax-control: #a855f7;
  --color-syntax-name: #8aff80;
  --color-syntax-type: #80ffea;
  --color-syntax-number: #a855f7;
  --color-syntax-operator: #a855f7;
  --color-syntax-regexp: #ff9580;
  --color-syntax-string: #ffff80;
  --color-syntax-comment: #7d8590;
  --color-syntax-invalid: #ff9580;
  --color-syntax-link: #a855f7;
  --color-syntax-tag: #a855f7;
  --color-syntax-attribute: #8aff80;
  --color-syntax-property: #80ffea;
  --color-syntax-variable: #e6edf3;
  --color-syntax-string-special: #ffff80;
  --color-syntax-escape: #a855f7;
  --color-syntax-entity: #a855f7;
  --color-syntax-preproc: #a855f7;
  --color-syntax-preproc-file: #ffff80;
  --color-syntax-decorator: #8aff80;
  --color-syntax-namespace: #e6edf3;
  --color-syntax-name-pseudo: #8aff80;
  --color-syntax-comment-special: #7d8590;
  --color-syntax-text: #e6edf3;
  --color-syntax-text-alt: #7d8590;
  --color-syntax-punctuation: #e6edf3;
  --color-syntax-whitespace: #7d8590;
  --color-syntax-diff-fg: #e6edf3;
  --color-syntax-deleted-bg: #ff9580;
  --color-syntax-inserted-bg: #8aff80;
  --color-syntax-emph: #ffff80;
  --color-syntax-strong: #ffca80;
  --color-syntax-heading: #a855f7;
  --color-syntax-subheading: #80ffea;
  --color-syntax-output: #e6edf3;
  --color-syntax-prompt: #8aff80;
  --color-syntax-traceback: #ff9580;
  --color-syntax-matching-bracket-bg: #80ffea48;
  --color-syntax-nonmatching-bracket-bg: #ff958048;
  accent-color: var(--color-accent);
  color-scheme: dark;
}

a,
.ui.breadcrumb a {
  color: var(--color-blue);
}

/* invert emojis that are hard to read otherwise */
.emoji[aria-label="check mark"],
.emoji[aria-label="currency exchange"],
.emoji[aria-label="TOP arrow"],
.emoji[aria-label="END arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label="copyright"],
.emoji[aria-label="registered"],
.emoji[aria-label="trade mark"],
.emoji[aria-label="multiply"],
.emoji[aria-label="plus"],
.emoji[aria-label="minus"],
.emoji[aria-label="divide"],
.emoji[aria-label="curly loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy dash"],
.emoji[aria-label="paw prints"],
.emoji[aria-label="musical note"],
.emoji[aria-label="musical notes"] {
  filter: invert(100%) hue-rotate(180deg);
}
