gitea-theme-meta-info {
  --theme-display-name: "Dracula Pro Emerald Light";
  --theme-color-scheme: "light";
}

:root {
  --is-dark-theme: false;
  --color-primary: #6235e9;
  --color-primary-contrast: #ffffff;
  --color-primary-dark-1: #4f1de5;
  --color-primary-dark-2: #471ad0;
  --color-primary-dark-3: #3f18b6;
  --color-primary-dark-4: #38179d;
  --color-primary-dark-5: #27106d;
  --color-primary-dark-6: #170a3d;
  --color-primary-dark-7: #0c071e;
  --color-primary-light-1: #6a40e7;
  --color-primary-light-2: #724be5;
  --color-primary-light-3: #7956e3;
  --color-primary-light-4: #8160e2;
  --color-primary-light-5: #a088e7;
  --color-primary-light-6: #d0c4f3;
  --color-primary-light-7: #f0edfb;
  --color-primary-alpha-10: #6235e919;
  --color-primary-alpha-20: #6235e933;
  --color-primary-alpha-30: #6235e94b;
  --color-primary-alpha-40: #6235e966;
  --color-primary-alpha-50: #6235e980;
  --color-primary-alpha-60: #6235e999;
  --color-primary-alpha-70: #6235e9b3;
  --color-primary-alpha-80: #6235e9cc;
  --color-primary-alpha-90: #6235e9e1;
  --color-primary-hover: #4f1de5;
  --color-primary-active: #471ad0;
  --color-secondary: #d1ddd9;
  --color-secondary-dark-1: #c8d4d0;
  --color-secondary-dark-2: #bac6c2;
  --color-secondary-dark-3: #9aa6a2;
  --color-secondary-dark-4: #8a9692;
  --color-secondary-dark-5: #7a8883;
  --color-secondary-dark-6: #6a7873;
  --color-secondary-dark-7: #5b6964;
  --color-secondary-dark-8: #4b5954;
  --color-secondary-dark-9: #3c4a45;
  --color-secondary-dark-10: #2c3a35;
  --color-secondary-dark-11: #1d2b26;
  --color-secondary-dark-12: #0d1b16;
  --color-secondary-dark-13: #000b07;
  --color-secondary-light-1: #dfebe7;
  --color-secondary-light-2: #e4f2ed;
  --color-secondary-light-3: #ebf9f4;
  --color-secondary-light-4: #f1fffa;
  --color-secondary-alpha-10: #d1ddd919;
  --color-secondary-alpha-20: #d1ddd933;
  --color-secondary-alpha-30: #d1ddd94b;
  --color-secondary-alpha-40: #d1ddd966;
  --color-secondary-alpha-50: #d1ddd980;
  --color-secondary-alpha-60: #d1ddd999;
  --color-secondary-alpha-70: #d1ddd9b3;
  --color-secondary-alpha-80: #d1ddd9cc;
  --color-secondary-alpha-90: #d1ddd9e1;
  --color-secondary-button: #8a9692;
  --color-secondary-hover: #7a8883;
  --color-secondary-active: #6a7873;
  /* console colors - used for actions console and console files */
  --color-console-fg: #0b1912;
  --color-console-fg-subtle: #3d5046;
  --color-console-bg: #f0fbf6;
  --color-console-border: #bbe8d4;
  --color-console-hover-bg: #ddf8ec;
  --color-console-active-bg: #bbe8d4;
  --color-console-menu-bg: #e5fcf2;
  --color-console-menu-border: #bbe8d4;
  --color-console-link: #5c6d64;
  /* named colors */
  --color-red: #d31e1e;
  --color-orange: #e1792d;
  --color-yellow: #e0c223;
  --color-olive: #46c81d;
  --color-green: #138660;
  --color-teal: #178f9e;
  --color-blue: #1c53c7;
  --color-violet: #5020de;
  --color-purple: #d14ae5;
  --color-pink: #e23790;
  --color-brown: #ad6937;
  --color-black: #1d2823;
  /* light variants - produced via Sass scale-color(color, $lightness: +25%) */
  --color-red-light: #e55050;
  --color-orange-light: #ed9a5d;
  --color-yellow-light: #efd653;
  --color-olive-light: #6ce645;
  --color-green-light: #21c891;
  --color-teal-light: #19d6ee;
  --color-blue-light: #3e76ec;
  --color-violet-light: #7e5de1;
  --color-purple-light: #dc79ea;
  --color-pink-light: #e96aac;
  --color-brown-light: #c98e62;
  --color-black-light: #4b685b;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #bd1c1c;
  --color-orange-dark-1: #d76b1c;
  --color-yellow-dark-1: #d0b319;
  --color-olive-dark-1: #3fb51a;
  --color-green-dark-1: #117856;
  --color-teal-dark-1: #138290;
  --color-blue-dark-1: #174ab5;
  --color-violet-dark-1: #4a20c5;
  --color-purple-dark-1: #c930e0;
  --color-pink-dark-1: #dd2082;
  --color-brown-dark-1: #9b5f33;
  --color-black-dark-1: #2c3933;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #a81919;
  --color-orange-dark-2: #c15f17;
  --color-yellow-dark-2: #bca113;
  --color-olive-dark-2: #37a116;
  --color-green-dark-2: #106b4d;
  --color-teal-dark-2: #0f7582;
  --color-blue-dark-2: #1241a3;
  --color-violet-dark-2: #421ead;
  --color-purple-dark-2: #bb20d2;
  --color-pink-dark-2: #c31d73;
  --color-brown-dark-2: #89542d;
  --color-black-dark-2: #131916;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #091e16;
  --color-ansi-red: #f87171;
  --color-ansi-green: #10b981;
  --color-ansi-yellow: #fde047;
  --color-ansi-blue: #a78bfa;
  --color-ansi-magenta: #f472b6;
  --color-ansi-cyan: #67e8f9;
  --color-ansi-white: #3d5046;
  --color-ansi-bright-black: #668c7f;
  --color-ansi-bright-red: #f87171;
  --color-ansi-bright-green: #10b981;
  --color-ansi-bright-yellow: #fde047;
  --color-ansi-bright-blue: #a78bfa;
  --color-ansi-bright-magenta: #f472b6;
  --color-ansi-bright-cyan: #67e8f9;
  --color-ansi-bright-white: #0b1912;
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #697771;
  --color-grey-light: #354d41;
  --color-gold: #ac9620;
  --color-white: #ffffff;
  --color-diff-added-fg: #117856;
  --color-diff-added-linenum-bg: #d1f8eb;
  --color-diff-added-row-bg: #e6fff7;
  --color-diff-added-row-border: #e6fff7;
  --color-diff-added-word-bg: #acf2db;
  --color-diff-moved-row-bg: #d0f5f9;
  --color-diff-moved-row-border: #76deeb;
  --color-diff-removed-fg: #c81d1d;
  --color-diff-removed-linenum-bg: #ffcbcb;
  --color-diff-removed-row-bg: #ffeeee;
  --color-diff-removed-row-border: #f1c0c0;
  --color-diff-removed-word-bg: #fdb8b8;
  --color-diff-inactive: #dcf8eb;
  --color-error-border: #ff818166;
  --color-error-bg: #ffe9e9;
  --color-error-bg-active: #ffcbcb;
  --color-error-bg-hover: #ffd7d7;
  --color-error-text: #d61f1f;
  --color-success-border: #46c69c66;
  --color-success-bg: #dafbf0;
  --color-success-text: #138660;
  --color-warning-border: #c7af3966;
  --color-warning-bg: #fff5c5;
  --color-warning-text: #877413;
  --color-info-border: #fa59ad66;
  --color-info-bg: #ddfbff;
  --color-info-text: #1cb3c7;
  --color-priority-border: #f3a1ff66;
  --color-priority-bg: #fce7ff;
  --color-priority-text: #d14ae5;
  --color-red-badge: #e02323;
  --color-red-badge-bg: #e023231a;
  --color-red-badge-hover-bg: #e023234d;
  --color-green-badge: #1bc089;
  --color-green-badge-bg: #1bc0891a;
  --color-green-badge-hover-bg: #1bc0894d;
  --color-yellow-badge: #e0c223;
  --color-yellow-badge-bg: #e0c2231a;
  --color-yellow-badge-hover-bg: #e0c2234d;
  --color-orange-badge: #e1792d;
  --color-orange-badge-bg: #e1792d1a;
  --color-orange-badge-hover-bg: #e1792d4d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #f0fbf6;
  --color-box-header: #d1faeb;
  --color-box-body: #e8f8f2;
  --color-box-body-highlight: #d9ffee;
  --color-text-dark: #060a08;
  --color-text: #21322a;
  --color-text-light: #354d41;
  --color-text-light-1: #445e51;
  --color-text-light-2: #5c786a;
  --color-text-light-3: #739484;
  --color-footer: #e2fcf0;
  --color-timeline: #bbe8d4;
  --color-input-text: #060a08;
  --color-input-background: #f0fbf6;
  --color-input-toggle-background: #bbe8d4;
  --color-input-border: #c8d4d0;
  --color-light: #00170d06;
  --color-light-border: #00170d1d;
  --color-hover: #92999633;
  --color-hover-opaque: #d5f1e4; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #a4c8b833;
  --color-menu: #e5fcf2;
  --color-card: #e5fcf2;
  --color-markup-table-row: #0060340a;
  --color-markup-code-block: #a4c8b833;
  --color-markup-code-inline: #00603412;
  --color-button: #e2fcf0;
  --color-code-bg: #e8fff4;
  --color-shadow: #00170d26;
  --color-shadow-opaque: #b4dfcc;
  --color-secondary-bg: #f2f8f6;
  --color-expand-button: #bdffe1;
  --color-placeholder-text: #739484;
  --color-editor-line-highlight: #d1ddd94b;
  --color-editor-selection: #6235e94b;
  --color-project-column-bg: #f1fffa;
  --color-caret: #060a08;
  --color-reaction-bg: #00170d0a;
  --color-reaction-hover-bg: #a088e7;
  --color-reaction-active-bg: #d0c4f3;
  --color-tooltip-text: #fbfffd;
  --color-tooltip-bg: #252e2a;
  --color-nav-bg: #e2fcf0;
  --color-nav-hover-bg: #dfebe7;
  --color-nav-text: #21322a;
  --color-secondary-nav-bg: #f9fbfa;
  --color-label-text: #21322a;
  --color-label-bg: #a4c8b833;
  --color-label-hover-bg: #a4c8b8a0;
  --color-label-active-bg: #a4c8b8ff;
  --color-accent: #6a40e7;
  --color-small-accent: #d0c4f3;
  --color-highlight-fg: #eec900;
  --color-highlight-bg: #f5edc5;
  --color-overlay-backdrop: #080808c0;
  --color-danger: #d31e1e;
  --color-transparency-grid-light: #e9f9f2;
  --color-transparency-grid-dark: #cee9dd;
  --color-workflow-edge-hover: #a7c4b6;
  --color-syntax-keyword: #300d9a;
  --color-syntax-bool: #230970;
  --color-syntax-control: #240974;
  --color-syntax-name: #0a6e4d;
  --color-syntax-type: #10adc1;
  --color-syntax-number: #370eaf;
  --color-syntax-operator: #300d9a;
  --color-syntax-regexp: #ec1616;
  --color-syntax-string: #605208;
  --color-syntax-comment: #516f65;
  --color-syntax-invalid: #b20e0e;
  --color-syntax-link: #6235e9;
  --color-syntax-tag: #300d9a;
  --color-syntax-attribute: #1beba6;
  --color-syntax-property: #0e9fb2;
  --color-syntax-variable: #0e864e;
  --color-syntax-string-special: #746309;
  --color-syntax-escape: #23096f;
  --color-syntax-entity: #4f1aec;
  --color-syntax-preproc: #2c0b8c;
  --color-syntax-preproc-file: #af950e;
  --color-syntax-decorator: #0c8b61;
  --color-syntax-namespace: #109a59;
  --color-syntax-name-pseudo: #1beba6;
  --color-syntax-comment-special: #6d9587;
  --color-syntax-text: inherit;
  --color-syntax-text-alt: #445e55;
  --color-syntax-punctuation: inherit;
  --color-syntax-whitespace: #b0c6be;
  --color-syntax-diff-fg: #000000;
  --color-syntax-deleted-bg: #fce0e0;
  --color-syntax-inserted-bg: #e0fcf3;
  --color-syntax-emph: #816e0a;
  --color-syntax-strong: inherit;
  --color-syntax-heading: #240974;
  --color-syntax-subheading: #085660;
  --color-syntax-output: #12ae65;
  --color-syntax-prompt: #0c885f;
  --color-syntax-traceback: #b20e0e;
  --color-syntax-matching-bracket-bg: #0e96a738;
  --color-syntax-nonmatching-bracket-bg: #ec171738;
  accent-color: var(--color-accent);
  color-scheme: light;
}

a,
.ui.breadcrumb a {
  color: var(--color-blue);
}
