gitea-theme-meta-info {
  --theme-display-name: "Dracula Pro Synthwave Light";
  --theme-color-scheme: "light";
}

:root {
  --is-dark-theme: false;
  --color-primary: #9135e9;
  --color-primary-contrast: #ffffff;
  --color-primary-dark-1: #8220e1;
  --color-primary-dark-2: #731fc2;
  --color-primary-dark-3: #631fa5;
  --color-primary-dark-4: #541e88;
  --color-primary-dark-5: #371854;
  --color-primary-dark-6: #1a0c28;
  --color-primary-dark-7: #08040c;
  --color-primary-light-1: #9b4ce7;
  --color-primary-light-2: #a663e6;
  --color-primary-light-3: #b078e6;
  --color-primary-light-4: #bb8de7;
  --color-primary-light-5: #d0b4ea;
  --color-primary-light-6: #e6d9f3;
  --color-primary-light-7: #f8f4fb;
  --color-primary-alpha-10: #9135e919;
  --color-primary-alpha-20: #9135e933;
  --color-primary-alpha-30: #9135e94b;
  --color-primary-alpha-40: #9135e966;
  --color-primary-alpha-50: #9135e980;
  --color-primary-alpha-60: #9135e999;
  --color-primary-alpha-70: #9135e9b3;
  --color-primary-alpha-80: #9135e9cc;
  --color-primary-alpha-90: #9135e9e1;
  --color-primary-hover: var(--color-primary-dark-1);
  --color-primary-active: var(--color-primary-dark-2);
  --color-secondary: #d4cfdf;
  --color-secondary-dark-1: #cbc6d6;
  --color-secondary-dark-2: #bdb8c8;
  --color-secondary-dark-3: #9d98a8;
  --color-secondary-dark-4: #8d8898;
  --color-secondary-dark-5: #7e7a88;
  --color-secondary-dark-6: #6e6a78;
  --color-secondary-dark-7: #5f5b69;
  --color-secondary-dark-8: #4f4b59;
  --color-secondary-dark-9: #403c4a;
  --color-secondary-dark-10: #302c3a;
  --color-secondary-dark-11: #211d2b;
  --color-secondary-dark-12: #110d1b;
  --color-secondary-dark-13: #03000b;
  --color-secondary-light-1: #e2dded;
  --color-secondary-light-2: #e8e4f2;
  --color-secondary-light-3: #efebf9;
  --color-secondary-light-4: #f5f1ff;
  --color-secondary-alpha-10: #d4cfdf19;
  --color-secondary-alpha-20: #d4cfdf33;
  --color-secondary-alpha-30: #d4cfdf4b;
  --color-secondary-alpha-40: #d4cfdf66;
  --color-secondary-alpha-50: #d4cfdf80;
  --color-secondary-alpha-60: #d4cfdf99;
  --color-secondary-alpha-70: #d4cfdfb3;
  --color-secondary-alpha-80: #d4cfdfcc;
  --color-secondary-alpha-90: #d4cfdfe1;
  --color-secondary-button: var(--color-secondary-dark-4);
  --color-secondary-hover: var(--color-secondary-dark-5);
  --color-secondary-active: var(--color-secondary-dark-6);
  /* console colors - used for actions console and console files */
  --color-console-fg: #121212;
  --color-console-fg-subtle: #464646;
  --color-console-bg: #fbfafd;
  --color-console-border: #cfc4e6;
  --color-console-hover-bg: #ede8f8;
  --color-console-active-bg: #cfc4e6;
  --color-console-menu-bg: #f4f0fc;
  --color-console-menu-border: #cfc4e6;
  --color-console-link: #5c626d;
  /* named colors */
  --color-red: #e02323;
  --color-orange: #e1862d;
  --color-yellow: #e0e023;
  --color-olive: #39c81d;
  --color-green: #1bc089;
  --color-teal: #17969e;
  --color-blue: #1e45d3;
  --color-violet: #8120de;
  --color-purple: #dc1fdb;
  --color-pink: #e2378c;
  --color-brown: #ac7238;
  --color-black: #211d28;
  /* light variants - produced via Sass scale-color(color, $lightness: +25%) */
  --color-red-light: #e65c5c;
  --color-orange-light: #eda45d;
  --color-yellow-light: #efef53;
  --color-olive-light: #60e645;
  --color-green-light: #42e2ad;
  --color-teal-light: #19e1ee;
  --color-blue-light: #4f70e5;
  --color-violet-light: #a05de1;
  --color-purple-light: #e25ae1;
  --color-pink-light: #e96aa9;
  --color-brown-light: #c99662;
  --color-black-light: #554b68;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #cc1d1d;
  --color-orange-dark-1: #d7781c;
  --color-yellow-dark-1: #d0d019;
  --color-olive-dark-1: #33b51a;
  --color-green-dark-1: #19ac7b;
  --color-teal-dark-1: #138990;
  --color-blue-dark-1: #1c3ebd;
  --color-violet-dark-1: #7420c5;
  --color-purple-dark-1: #c31fc3;
  --color-pink-dark-1: #dd207e;
  --color-brown-dark-1: #9b6733;
  --color-black-dark-1: #302c39;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #b41b1b;
  --color-orange-dark-2: #c16b17;
  --color-yellow-dark-2: #bcbc13;
  --color-olive-dark-2: #2da116;
  --color-green-dark-2: #16996d;
  --color-teal-dark-2: #0f7b82;
  --color-blue-dark-2: #1837a8;
  --color-violet-dark-2: #671ead;
  --color-purple-dark-2: #ac1dab;
  --color-pink-dark-2: #c31d70;
  --color-brown-dark-2: #885b2e;
  --color-black-dark-2: #151319;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #140f1f;
  --color-ansi-red: #ef4444;
  --color-ansi-green: #10b981;
  --color-ansi-yellow: #ffff80;
  --color-ansi-blue: #a855f7;
  --color-ansi-magenta: #ff007f;
  --color-ansi-cyan: #00f0ff;
  --color-ansi-white: var(--color-console-fg-subtle);
  --color-ansi-bright-black: #7b6a9e;
  --color-ansi-bright-red: #ef4444;
  --color-ansi-bright-green: #10b981;
  --color-ansi-bright-yellow: #ffff80;
  --color-ansi-bright-blue: #a855f7;
  --color-ansi-bright-magenta: #ff007f;
  --color-ansi-bright-cyan: #00f0ff;
  --color-ansi-bright-white: var(--color-console-fg);
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #6e6977;
  --color-grey-light: #7c818a;
  --color-gold: #aeae1e;
  --color-white: #ffffff;
  --color-diff-added-fg: #117856;
  --color-diff-added-linenum-bg: #d1f8eb;
  --color-diff-added-row-bg: #e6fff7;
  --color-diff-added-row-border: #e6fff7;
  --color-diff-added-word-bg: #acf2db;
  --color-diff-moved-row-bg: #f9f9d0;
  --color-diff-moved-row-border: #ebeb76;
  --color-diff-removed-fg: #c81d1d;
  --color-diff-removed-linenum-bg: #ffcbcb;
  --color-diff-removed-row-bg: #ffeeee;
  --color-diff-removed-row-border: #f1c0c0;
  --color-diff-removed-word-bg: #fdb8b8;
  --color-diff-inactive: #ece7f7;
  --color-error-border: #ff818166;
  --color-error-bg: #ffe9e9;
  --color-error-bg-active: #ffcbcb;
  --color-error-bg-hover: #ffd7d7;
  --color-error-text: #d61f1f;
  --color-success-border: #46c69c66;
  --color-success-bg: #dafbf0;
  --color-success-text: #138660;
  --color-warning-border: #c7c73966;
  --color-warning-bg: #ffffc5;
  --color-warning-text: #878713;
  --color-info-border: #59f0fa66;
  --color-info-bg: #ddfdff;
  --color-info-text: #1cbdc7;
  --color-priority-border: #ffa1fe66;
  --color-priority-bg: #ffe7ff;
  --color-priority-text: #e54ae4;
  --color-red-badge: #e02323;
  --color-red-badge-bg: #e023231a;
  --color-red-badge-hover-bg: #e023234d;
  --color-green-badge: #1bc089;
  --color-green-badge-bg: #1bc0891a;
  --color-green-badge-hover-bg: #1bc0894d;
  --color-yellow-badge: #e0e023;
  --color-yellow-badge-bg: #e0e0231a;
  --color-yellow-badge-hover-bg: #e0e0234d;
  --color-orange-badge: #e1862d;
  --color-orange-badge-bg: #e1862d1a;
  --color-orange-badge-hover-bg: #e1862d4d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #fbfafd;
  --color-box-header: #ede8f8;
  --color-box-body: #fbfafd;
  --color-box-body-highlight: #ede4ff;
  --color-text-dark: #040507;
  --color-text: #1c1c1c;
  --color-text-light: #363636;
  --color-text-light-1: #464646;
  --color-text-light-2: #5b5f67;
  --color-text-light-3: #747984;
  --color-footer: var(--color-nav-bg);
  --color-timeline: #cfc4e6;
  --color-input-text: var(--color-text-dark);
  --color-input-background: #fbfafd;
  --color-input-toggle-background: #cfc4e6;
  --color-input-border: var(--color-secondary-dark-1);
  --color-light: #08001706;
  --color-light-border: #0800171d;
  --color-hover: #08001708;
  --color-hover-opaque: #ede8f8; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #08001714;
  --color-menu: #f4f0fc;
  --color-card: #f4f0fc;
  --color-markup-table-row: #2000600a;
  --color-markup-code-block: #20006010;
  --color-markup-code-inline: #20006012;
  --color-button: #f4f0fc;
  --color-code-bg: #f7f3ff;
  --color-shadow: #08001726;
  --color-shadow-opaque: #c7bbdd;
  --color-secondary-bg: #f4f2f8;
  --color-expand-button: #d8c5ff;
  --color-placeholder-text: var(--color-text-light-3);
  --color-editor-line-highlight: var(--color-secondary-alpha-30);
  --color-editor-selection: var(--color-primary-alpha-30);
  --color-project-column-bg: var(--color-secondary-light-4);
  --color-caret: var(--color-text-dark);
  --color-reaction-bg: #0800170a;
  --color-reaction-hover-bg: var(--color-primary-light-5);
  --color-reaction-active-bg: var(--color-primary-light-6);
  --color-tooltip-text: #fbfcff;
  --color-tooltip-bg: #28252e;
  --color-nav-bg: #f2eefc;
  --color-nav-hover-bg: var(--color-secondary-light-1);
  --color-nav-text: var(--color-text);
  --color-secondary-nav-bg: #faf9fb;
  --color-label-text: var(--color-text);
  --color-label-bg: #9a94a64b;
  --color-label-hover-bg: #9a94a6a0;
  --color-label-active-bg: #9a94a6ff;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-6);
  --color-highlight-fg: #eeee00;
  --color-highlight-bg: #f5f5c5;
  --color-overlay-backdrop: #080808c0;
  --color-danger: var(--color-red);
  --color-transparency-grid-light: #f6f3fa;
  --color-transparency-grid-dark: #ddd7e9;
  --color-workflow-edge-hover: #b2aac2;
  --color-syntax-keyword: #550d9a;
  --color-syntax-bool: #3e0970;
  --color-syntax-control: #400974;
  --color-syntax-name: #0a6e4d;
  --color-syntax-type: #10b7c1;
  --color-syntax-number: #600eaf;
  --color-syntax-operator: #550d9a;
  --color-syntax-regexp: #eb1717;
  --color-syntax-string: #606008;
  --color-syntax-comment: #594c74;
  --color-syntax-invalid: #b10f0f;
  --color-syntax-link: var(--color-primary);
  --color-syntax-tag: #550d9a;
  --color-syntax-attribute: #1beba6;
  --color-syntax-property: #0ea8b2;
  --color-syntax-variable: #0b2989;
  --color-syntax-string-special: #747409;
  --color-syntax-escape: #3d096f;
  --color-syntax-entity: #861aec;
  --color-syntax-preproc: #4d0b8c;
  --color-syntax-preproc-file: #afaf0e;
  --color-syntax-decorator: #0c8b61;
  --color-syntax-namespace: #0d2f9d;
  --color-syntax-name-pseudo: #1beba6;
  --color-syntax-comment-special: #78669c;
  --color-syntax-text: inherit;
  --color-syntax-text-alt: #4b4062;
  --color-syntax-punctuation: inherit;
  --color-syntax-whitespace: #b6adc9;
  --color-syntax-diff-fg: #000000;
  --color-syntax-deleted-bg: #fce0e0;
  --color-syntax-inserted-bg: #e0fcf3;
  --color-syntax-emph: #81810a;
  --color-syntax-strong: inherit;
  --color-syntax-heading: #400974;
  --color-syntax-subheading: #085b60;
  --color-syntax-output: #0e35b2;
  --color-syntax-prompt: #0c885f;
  --color-syntax-traceback: #b10f0f;
  --color-syntax-matching-bracket-bg: #0e9ea738;
  --color-syntax-nonmatching-bracket-bg: #eb181838;
  accent-color: var(--color-accent);
  color-scheme: light;
}
