gitea-theme-meta-info {
  --theme-display-name: "Dracula Pro Alucard Light";
  --theme-color-scheme: "light";
}

:root {
  --is-dark-theme: false;
  --color-primary: #5335e9;
  --color-primary-contrast: #ffffff;
  --color-primary-dark-1: #3e1de5;
  --color-primary-dark-2: #381ad0;
  --color-primary-dark-3: #3218b6;
  --color-primary-dark-4: #2d179d;
  --color-primary-dark-5: #20106d;
  --color-primary-dark-6: #130a3d;
  --color-primary-dark-7: #0b071e;
  --color-primary-light-1: #5c40e7;
  --color-primary-light-2: #654be5;
  --color-primary-light-3: #6e56e3;
  --color-primary-light-4: #7660e2;
  --color-primary-light-5: #9888e7;
  --color-primary-light-6: #ccc4f3;
  --color-primary-light-7: #efedfb;
  --color-primary-alpha-10: #5335e919;
  --color-primary-alpha-20: #5335e933;
  --color-primary-alpha-30: #5335e94b;
  --color-primary-alpha-40: #5335e966;
  --color-primary-alpha-50: #5335e980;
  --color-primary-alpha-60: #5335e999;
  --color-primary-alpha-70: #5335e9b3;
  --color-primary-alpha-80: #5335e9cc;
  --color-primary-alpha-90: #5335e9e1;
  --color-primary-hover: var(--color-primary-dark-1);
  --color-primary-active: var(--color-primary-dark-2);
  --color-secondary: #d6d6d8;
  --color-secondary-dark-1: #cecece;
  --color-secondary-dark-2: #c0c0c0;
  --color-secondary-dark-3: #9e9ea2;
  --color-secondary-dark-4: #8c8c94;
  --color-secondary-dark-5: #7b7b87;
  --color-secondary-dark-6: #6a6a78;
  --color-secondary-dark-7: #5b5b69;
  --color-secondary-dark-8: #4b4b59;
  --color-secondary-dark-9: #3c3c4a;
  --color-secondary-dark-10: #2c2c3a;
  --color-secondary-dark-11: #1d1d2b;
  --color-secondary-dark-12: #0d0d1b;
  --color-secondary-dark-13: #00000b;
  --color-secondary-light-1: #e1e1e9;
  --color-secondary-light-2: #e6e6f0;
  --color-secondary-light-3: #ececf8;
  --color-secondary-light-4: #f2f2fe;
  --color-secondary-alpha-10: #d6d6d819;
  --color-secondary-alpha-20: #d6d6d833;
  --color-secondary-alpha-30: #d6d6d84b;
  --color-secondary-alpha-40: #d6d6d866;
  --color-secondary-alpha-50: #d6d6d880;
  --color-secondary-alpha-60: #d6d6d899;
  --color-secondary-alpha-70: #d6d6d8b3;
  --color-secondary-alpha-80: #d6d6d8cc;
  --color-secondary-alpha-90: #d6d6d8e1;
  --color-secondary-button: var(--color-secondary-dark-4);
  --color-secondary-hover: var(--color-secondary-dark-5);
  --color-secondary-active: var(--color-secondary-dark-6);
  /* console colors - used for actions console and console files */
  --color-console-fg: #0b0b19;
  --color-console-fg-subtle: #3d3d50;
  --color-console-bg: #fafafc;
  --color-console-border: #c8c8e2;
  --color-console-hover-bg: #eaeaf5;
  --color-console-active-bg: #c8c8e2;
  --color-console-menu-bg: #f1f1fa;
  --color-console-menu-border: #c8c8e2;
  --color-console-link: #5c5c6d;
  /* named colors */
  --color-red: #d31e1e;
  --color-orange: #e1862d;
  --color-yellow: #e0e023;
  --color-olive: #78c81d;
  --color-green: #1c8613;
  --color-teal: #179e88;
  --color-blue: #1c72c7;
  --color-violet: #3f20de;
  --color-purple: #cb4ae5;
  --color-pink: #e2378c;
  --color-brown: #aa723a;
  --color-black: #1d1d28;
  /* light variants - produced via Sass scale-color(color, $lightness: +25%) */
  --color-red-light: #e55050;
  --color-orange-light: #eda45d;
  --color-yellow-light: #efef53;
  --color-olive-light: #9be645;
  --color-green-light: #2ec821;
  --color-teal-light: #19eecb;
  --color-blue-light: #3e96ec;
  --color-violet-light: #725de1;
  --color-purple-light: #d779ea;
  --color-pink-light: #e96aa9;
  --color-brown-light: #c89663;
  --color-black-light: #4b4b68;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #bd1c1c;
  --color-orange-dark-1: #d7781c;
  --color-yellow-dark-1: #d0d019;
  --color-olive-dark-1: #6cb51a;
  --color-green-dark-1: #197811;
  --color-teal-dark-1: #13907c;
  --color-blue-dark-1: #1766b5;
  --color-violet-dark-1: #3b20c5;
  --color-purple-dark-1: #c230e0;
  --color-pink-dark-1: #dd207e;
  --color-brown-dark-1: #996735;
  --color-black-dark-1: #2c2c39;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #a81919;
  --color-orange-dark-2: #c16b17;
  --color-yellow-dark-2: #bcbc13;
  --color-olive-dark-2: #60a116;
  --color-green-dark-2: #176b10;
  --color-teal-dark-2: #0f826f;
  --color-blue-dark-2: #125ba3;
  --color-violet-dark-2: #351ead;
  --color-purple-dark-2: #b420d2;
  --color-pink-dark-2: #c31d70;
  --color-brown-dark-2: #875b2f;
  --color-black-dark-2: #131319;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #1a1a1e;
  --color-ansi-red: #e53e3e;
  --color-ansi-green: #8aff80;
  --color-ansi-yellow: #ffff80;
  --color-ansi-blue: #9580ff;
  --color-ansi-magenta: #ff80bf;
  --color-ansi-cyan: #80ffea;
  --color-ansi-white: var(--color-console-fg-subtle);
  --color-ansi-bright-black: #787880;
  --color-ansi-bright-red: #e53e3e;
  --color-ansi-bright-green: #8aff80;
  --color-ansi-bright-yellow: #ffff80;
  --color-ansi-bright-blue: #9580ff;
  --color-ansi-bright-magenta: #ff80bf;
  --color-ansi-bright-cyan: #80ffea;
  --color-ansi-bright-white: var(--color-console-fg);
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #696977;
  --color-grey-light: #35354d;
  --color-gold: #aeae1e;
  --color-white: #ffffff;
  --color-diff-added-fg: #197811;
  --color-diff-added-linenum-bg: #d4f8d1;
  --color-diff-added-row-bg: #e8ffe6;
  --color-diff-added-row-border: #e8ffe6;
  --color-diff-added-word-bg: #b1f2ac;
  --color-diff-moved-row-bg: #f9f9d0;
  --color-diff-moved-row-border: #ebeb76;
  --color-diff-removed-fg: #c81d1d;
  --color-diff-removed-linenum-bg: #ffcbcb;
  --color-diff-removed-row-bg: #ffeeee;
  --color-diff-removed-row-border: #f1c0c0;
  --color-diff-removed-word-bg: #fdb8b8;
  --color-diff-inactive: #e9e9f5;
  --color-error-border: #ff818166;
  --color-error-bg: #ffe9e9;
  --color-error-bg-active: #ffcbcb;
  --color-error-bg-hover: #ffd7d7;
  --color-error-text: #d61f1f;
  --color-success-border: #50c64666;
  --color-success-bg: #ddfbda;
  --color-success-text: #1c8613;
  --color-warning-border: #c7c73966;
  --color-warning-bg: #ffffc5;
  --color-warning-text: #878713;
  --color-info-border: #59fade66;
  --color-info-bg: #ddfff9;
  --color-info-text: #1cc7aa;
  --color-priority-border: #efa1ff66;
  --color-priority-bg: #fbe7ff;
  --color-priority-text: #cb4ae5;
  --color-red-badge: #e02323;
  --color-red-badge-bg: #e023231a;
  --color-red-badge-hover-bg: #e023234d;
  --color-green-badge: #28c01b;
  --color-green-badge-bg: #28c01b1a;
  --color-green-badge-hover-bg: #28c01b4d;
  --color-yellow-badge: #e0e023;
  --color-yellow-badge-bg: #e0e0231a;
  --color-yellow-badge-hover-bg: #e0e0234d;
  --color-orange-badge: #e1862d;
  --color-orange-badge-bg: #e1862d1a;
  --color-orange-badge-hover-bg: #e1862d4d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #fafafc;
  --color-box-header: #efeffa;
  --color-box-body: #fafafc;
  --color-box-body-highlight: #e3e3ff;
  --color-text-dark: #06060a;
  --color-text: #212132;
  --color-text-light: #35354d;
  --color-text-light-1: #44445e;
  --color-text-light-2: #5c5c78;
  --color-text-light-3: #737394;
  --color-footer: var(--color-nav-bg);
  --color-timeline: #c8c8e2;
  --color-input-text: var(--color-text-dark);
  --color-input-background: #fafafc;
  --color-input-toggle-background: #c8c8e2;
  --color-input-border: var(--color-secondary-dark-1);
  --color-light: #00001706;
  --color-light-border: #0000171d;
  --color-hover: #92929933;
  --color-hover-opaque: #e1e1ed; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #aaaac433;
  --color-menu: #f1f1fa;
  --color-card: #f1f1fa;
  --color-markup-table-row: #0000600a;
  --color-markup-code-block: #aaaac433;
  --color-markup-code-inline: #00006012;
  --color-button: #efeffa;
  --color-code-bg: #f2f2ff;
  --color-shadow: #00001726;
  --color-shadow-opaque: #bfbfd9;
  --color-secondary-bg: #f3f3f7;
  --color-expand-button: #c5c5ff;
  --color-placeholder-text: var(--color-text-light-3);
  --color-editor-line-highlight: var(--color-secondary-alpha-30);
  --color-editor-selection: var(--color-primary-alpha-30);
  --color-project-column-bg: var(--color-secondary-light-4);
  --color-caret: var(--color-text-dark);
  --color-reaction-bg: #0000170a;
  --color-reaction-hover-bg: var(--color-primary-light-5);
  --color-reaction-active-bg: var(--color-primary-light-6);
  --color-tooltip-text: #fbfbff;
  --color-tooltip-bg: #25252e;
  --color-nav-bg: #efeffa;
  --color-nav-hover-bg: var(--color-secondary-light-1);
  --color-nav-text: var(--color-text);
  --color-secondary-nav-bg: #f9f9fb;
  --color-label-text: var(--color-text);
  --color-label-bg: #aaaac433;
  --color-label-hover-bg: #aaaac4a0;
  --color-label-active-bg: #aaaac4ff;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-6);
  --color-highlight-fg: #eeee00;
  --color-highlight-bg: #f5f5c5;
  --color-overlay-backdrop: #080808c0;
  --color-danger: var(--color-red);
  --color-transparency-grid-light: #f4f4f8;
  --color-transparency-grid-dark: #dadae5;
  --color-workflow-edge-hover: #adadc0;
  --color-syntax-keyword: #240d9a;
  --color-syntax-bool: #1a0970;
  --color-syntax-control: #1b0974;
  --color-syntax-name: #116f09;
  --color-syntax-type: #10c1a4;
  --color-syntax-number: #290eaf;
  --color-syntax-operator: #240d9a;
  --color-syntax-regexp: #e12121;
  --color-syntax-string: #606008;
  --color-syntax-comment: #5d5d63;
  --color-syntax-invalid: #a91717;
  --color-syntax-link: var(--color-primary);
  --color-syntax-tag: #240d9a;
  --color-syntax-attribute: #2aec1a;
  --color-syntax-property: #0eb297;
  --color-syntax-variable: #424252;
  --color-syntax-string-special: #747409;
  --color-syntax-escape: #1a096f;
  --color-syntax-entity: #3c1aec;
  --color-syntax-preproc: #210b8c;
  --color-syntax-preproc-file: #afaf0e;
  --color-syntax-decorator: #158c0b;
  --color-syntax-namespace: #4c4c5e;
  --color-syntax-name-pseudo: #2aec1a;
  --color-syntax-comment-special: #7d7d85;
  --color-syntax-text: inherit;
  --color-syntax-text-alt: #4e4e54;
  --color-syntax-punctuation: inherit;
  --color-syntax-whitespace: #b9b9bd;
  --color-syntax-diff-fg: #000000;
  --color-syntax-deleted-bg: #fbe1e1;
  --color-syntax-inserted-bg: #e2fce0;
  --color-syntax-emph: #81810a;
  --color-syntax-strong: inherit;
  --color-syntax-heading: #1b0974;
  --color-syntax-subheading: #086052;
  --color-syntax-output: #56566a;
  --color-syntax-prompt: #15890b;
  --color-syntax-traceback: #a91717;
  --color-syntax-matching-bracket-bg: #0ea78e38;
  --color-syntax-nonmatching-bracket-bg: #e1222238;
  accent-color: var(--color-accent);
  color-scheme: light;
}

a,
.ui.breadcrumb a {
  color: var(--color-blue);
}
