gitea-theme-meta-info {
  --theme-display-name: "Dracula Pro Moonlight Castle Dark";
  --theme-color-scheme: "dark";
}

:root {
  --is-dark-theme: true;
  --color-primary: #c77dff;
  --color-primary-contrast: #12131a;
  --color-primary-dark-1: #c47cfa;
  --color-primary-dark-2: #c479fc;
  --color-primary-dark-3: #bc7ced;
  --color-primary-dark-4: #bd78f2;
  --color-primary-dark-5: #c193e3;
  --color-primary-dark-6: #e0c9f1;
  --color-primary-dark-7: #f6effb;
  --color-primary-light-1: #b75dfc;
  --color-primary-light-2: #8e00f9;
  --color-primary-light-3: #b99ece;
  --color-primary-light-4: #6b0cb2;
  --color-primary-light-5: #58138d;
  --color-primary-light-6: #2f0d48;
  --color-primary-light-7: #12061b;
  --color-primary-alpha-10: #c77dff19;
  --color-primary-alpha-20: #c77dff33;
  --color-primary-alpha-30: #c77dff4b;
  --color-primary-alpha-40: #c77dff66;
  --color-primary-alpha-50: #c77dff80;
  --color-primary-alpha-60: #c77dff99;
  --color-primary-alpha-70: #c77dffb3;
  --color-primary-alpha-80: #c77dffcc;
  --color-primary-alpha-90: #c77dffe1;
  --color-primary-hover: #ff4d9d;
  --color-primary-active: #c37ff7;
  --color-secondary: #33333a;
  --color-secondary-dark-1: #3a3a42;
  --color-secondary-dark-2: #43434e;
  --color-secondary-dark-3: #525261;
  --color-secondary-dark-4: #626277;
  --color-secondary-dark-5: #6f6f89;
  --color-secondary-dark-6: #7c7c98;
  --color-secondary-dark-7: #8b8ba4;
  --color-secondary-dark-8: #9c9cb1;
  --color-secondary-dark-9: #a4a4b7;
  --color-secondary-dark-10: #b2b2c3;
  --color-secondary-dark-11: #c1c1ce;
  --color-secondary-dark-12: #ccccd7;
  --color-secondary-dark-13: #cfcfd9;
  --color-secondary-light-1: #2a2a31;
  --color-secondary-light-2: #232328;
  --color-secondary-light-3: #19191d;
  --color-secondary-light-4: #141417;
  --color-secondary-alpha-10: #33333a19;
  --color-secondary-alpha-20: #33333a33;
  --color-secondary-alpha-30: #33333a4b;
  --color-secondary-alpha-40: #33333a66;
  --color-secondary-alpha-50: #33333a80;
  --color-secondary-alpha-60: #171721;
  --color-secondary-alpha-70: #33333ab3;
  --color-secondary-alpha-80: #33333acc;
  --color-secondary-alpha-90: #33333ae1;
  --color-secondary-button: #626277;
  --color-secondary-hover: #525261;
  --color-secondary-active: #43434e;
  /* console colors - used for actions console and console files */
  --color-console-fg: #ffffff;
  --color-console-fg-subtle: #f7f7f7;
  --color-console-bg: #1e1e1e;
  --color-console-border: #373737;
  --color-console-hover-bg: #303030;
  --color-console-active-bg: #373737;
  --color-console-menu-bg: #2e2e2e;
  --color-console-menu-border: #4a4b4e;
  --color-console-link: #b7b7ba;
  /* named colors */
  --color-red: #ff9580;
  --color-orange: #ffca80;
  --color-yellow: #ffff80;
  --color-olive: #c4ff80;
  --color-green: #8aff80;
  --color-teal: #80ffea;
  --color-blue: #7ea5ff;
  --color-violet: #c77dff;
  --color-purple: #ff65f6;
  --color-pink: #ff4d9d;
  --color-brown: #cb974e;
  --color-black: #262626;
  /* light variants - produced via Sass scale-color(color, $lightness: +10%) */
  --color-red-light: #fd9e8b;
  --color-orange-light: #facc8b;
  --color-yellow-light: #fdfd88;
  --color-olive-light: #c2fd7e;
  --color-green-light: #86ff7b;
  --color-teal-light: #74ffe8;
  --color-blue-light: #8baeff;
  --color-violet-light: #cc8cfd;
  --color-purple-light: #fd76f5;
  --color-pink-light: #fb60a6;
  --color-brown-light: #cda062;
  --color-black-light: #494a4d;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #fb7358;
  --color-orange-dark-1: #fccb87;
  --color-yellow-dark-1: #fcfc59;
  --color-olive-dark-1: #b2fd5b;
  --color-green-dark-1: #6cfc60;
  --color-teal-dark-1: #5fffe5;
  --color-blue-dark-1: #5588fe;
  --color-violet-dark-1: #b457f9;
  --color-purple-dark-1: #fb43f0;
  --color-pink-dark-1: #fa2f8a;
  --color-brown-dark-1: #bf893d;
  --color-black-dark-1: #333333;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #f55232;
  --color-orange-dark-2: #fdcb84;
  --color-yellow-dark-2: #f7f731;
  --color-olive-dark-2: #9ffb36;
  --color-green-dark-2: #4cf73d;
  --color-teal-dark-2: #3cffdf;
  --color-blue-dark-2: #2b6afc;
  --color-violet-dark-2: #a136f2;
  --color-purple-dark-2: #f423e8;
  --color-pink-dark-2: #f31176;
  --color-brown-dark-2: #a57839;
  --color-black-dark-2: #2e2e2e;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #12131a;
  --color-ansi-red: #ff9580;
  --color-ansi-green: #8aff80;
  --color-ansi-yellow: #ffff80;
  --color-ansi-blue: #c77dff;
  --color-ansi-magenta: #ff4d9d;
  --color-ansi-cyan: #80ffea;
  --color-ansi-white: #f7f7f7;
  --color-ansi-bright-black: #7a7a89;
  --color-ansi-bright-red: #ff9580;
  --color-ansi-bright-green: #8aff80;
  --color-ansi-bright-yellow: #ffff80;
  --color-ansi-bright-blue: #c77dff;
  --color-ansi-bright-magenta: #ff4d9d;
  --color-ansi-bright-cyan: #80ffea;
  --color-ansi-bright-white: #ffffff;
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #424243;
  --color-grey-light: #d4d4d7;
  --color-gold: #e0e04e;
  --color-white: #e6edf3;
  --color-diff-added-fg: #8aff80;
  --color-diff-added-linenum-bg: #294227;
  --color-diff-added-row-bg: #1df00b26;
  --color-diff-added-row-border: #1df00b4d;
  --color-diff-added-word-bg: #1df00b66;
  --color-diff-moved-row-bg: #38a694;
  --color-diff-moved-row-border: #80ffea;
  --color-diff-removed-fg: #ff9580;
  --color-diff-removed-linenum-bg: #482721;
  --color-diff-removed-row-bg: #fd816926;
  --color-diff-removed-row-border: #fd81694d;
  --color-diff-removed-word-bg: #fd816966;
  --color-diff-inactive: #1b1c24;
  --color-error-border: #ff958066;
  --color-error-bg: #b63b23;
  --color-error-bg-active: #492c26;
  --color-error-bg-hover: #3c2824;
  --color-error-text: #ff9580;
  --color-success-border: #8af78166;
  --color-success-bg: #275923;
  --color-success-text: #8aff80;
  --color-warning-border: #ffff8066;
  --color-warning-bg: #ffff2b1a;
  --color-warning-text: #ffff80;
  --color-info-border: #ff4d9d66;
  --color-info-bg: #76ffe81a;
  --color-info-text: #80ffea;
  --color-priority-border: #8d2687;
  --color-priority-bg: #391c37;
  --color-priority-text: #ff65f6;
  --color-red-badge: #ff9580;
  --color-red-badge-bg: #ff95801a;
  --color-red-badge-hover-bg: #ff95804d;
  --color-green-badge: #8aff80;
  --color-green-badge-bg: #8aff801a;
  --color-green-badge-hover-bg: #8aff804d;
  --color-yellow-badge: #ffff80;
  --color-yellow-badge-bg: #ffff801a;
  --color-yellow-badge-hover-bg: #ffff804d;
  --color-orange-badge: #ffca80;
  --color-orange-badge-bg: #ffca801a;
  --color-orange-badge-hover-bg: #ffca804d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #12131a;
  --color-box-header: #1b1c24;
  --color-box-body: #12131a;
  --color-box-body-highlight: #252525;
  --color-text-dark: #f6f6f7;
  --color-text: #f6f6f7;
  --color-text-light: #d4d4d7;
  --color-text-light-1: #9d9da8;
  --color-text-light-2: #d4d4d7;
  --color-text-light-3: #797994;
  --color-footer: #161b22;
  --color-timeline: #27282d;
  --color-input-text: #adbac7;
  --color-input-background: #28292e;
  --color-input-toggle-background: #373737;
  --color-input-border: #3a3a42;
  --color-light: #28292e;
  --color-light-border: #35363c;
  --color-hover: #20222e;
  --color-hover-opaque: #2f2f36; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #5e6472;
  --color-menu: #1b1c24;
  --color-card: #12131a;
  --color-markup-table-row: #f3f3f40f;
  --color-markup-code-block: #63667b66;
  --color-markup-code-inline: #f3f3f428;
  --color-button: #28292e;
  --color-code-bg: #12131a;
  --color-shadow: #0f0f0f58;
  --color-shadow-opaque: #0f0f0f;
  --color-secondary-bg: #33333a;
  --color-expand-button: #12131a;
  --color-placeholder-text: #797994;
  --color-editor-line-highlight: #0d1117;
  --color-editor-selection: #c77dff80;
  --color-project-column-bg: #232328;
  --color-caret: #bbc0ca; /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #f3f3f412;
  --color-reaction-hover-bg: #6b0cb2;
  --color-reaction-active-bg: #58138d;
  --color-tooltip-text: #ffffff;
  --color-tooltip-bg: #313133;
  --color-nav-bg: #0e0f14;
  --color-nav-hover-bg: #b1bac41f;
  --color-nav-text: #f6f6f7;
  --color-secondary-nav-bg: #0e0f14;
  --color-label-text: #f6f6f7;
  --color-label-bg: #5e64721a;
  --color-label-hover-bg: #1f38eb;
  --color-label-active-bg: #7a7c8aff;
  --color-accent: #ff4d9d;
  --color-small-accent: #58138d;
  --color-highlight-fg: #b4b419;
  --color-highlight-bg: #53532a;
  --color-overlay-backdrop: #0c0c0cc0;
  --color-danger: #ff9580;
  --color-transparency-grid-light: #2d2d2d;
  --color-transparency-grid-dark: #1e1e1e;
  --color-workflow-edge-hover: #666873;
  --color-syntax-keyword: #c77dff;
  --color-syntax-bool: #c77dff;
  --color-syntax-control: #c77dff;
  --color-syntax-name: #8aff80;
  --color-syntax-type: #80ffea;
  --color-syntax-number: #c77dff;
  --color-syntax-operator: #c77dff;
  --color-syntax-regexp: #ff9580;
  --color-syntax-string: #ffff80;
  --color-syntax-comment: #7a7a89;
  --color-syntax-invalid: #ff9580;
  --color-syntax-link: #c77dff;
  --color-syntax-tag: #c77dff;
  --color-syntax-attribute: #8aff80;
  --color-syntax-property: #80ffea;
  --color-syntax-variable: #f6f6f7;
  --color-syntax-string-special: #ffff80;
  --color-syntax-escape: #c77dff;
  --color-syntax-entity: #c77dff;
  --color-syntax-preproc: #c77dff;
  --color-syntax-preproc-file: #ffff80;
  --color-syntax-decorator: #8aff80;
  --color-syntax-namespace: #f6f6f7;
  --color-syntax-name-pseudo: #8aff80;
  --color-syntax-comment-special: #7a7a89;
  --color-syntax-text: #f6f6f7;
  --color-syntax-text-alt: #7a7a89;
  --color-syntax-punctuation: #f6f6f7;
  --color-syntax-whitespace: #7a7a89;
  --color-syntax-diff-fg: #f6f6f7;
  --color-syntax-deleted-bg: #ff9580;
  --color-syntax-inserted-bg: #8aff80;
  --color-syntax-emph: #ffff80;
  --color-syntax-strong: #ffca80;
  --color-syntax-heading: #c77dff;
  --color-syntax-subheading: #80ffea;
  --color-syntax-output: #f6f6f7;
  --color-syntax-prompt: #8aff80;
  --color-syntax-traceback: #ff9580;
  --color-syntax-matching-bracket-bg: #80ffea48;
  --color-syntax-nonmatching-bracket-bg: #ff958048;
  accent-color: var(--color-accent);
  color-scheme: dark;
}

a,
.ui.breadcrumb a {
  color: var(--color-blue);
}

/* invert emojis that are hard to read otherwise */
.emoji[aria-label="check mark"],
.emoji[aria-label="currency exchange"],
.emoji[aria-label="TOP arrow"],
.emoji[aria-label="END arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label="copyright"],
.emoji[aria-label="registered"],
.emoji[aria-label="trade mark"],
.emoji[aria-label="multiply"],
.emoji[aria-label="plus"],
.emoji[aria-label="minus"],
.emoji[aria-label="divide"],
.emoji[aria-label="curly loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy dash"],
.emoji[aria-label="paw prints"],
.emoji[aria-label="musical note"],
.emoji[aria-label="musical notes"] {
  filter: invert(100%) hue-rotate(180deg);
}
