gitea-theme-meta-info {
  --theme-display-name: "Dracula Pro Neon Green Dark";
  --theme-color-scheme: "dark";
}

:root {
  --is-dark-theme: true;
  --color-primary: #9580ff;
  --color-primary-contrast: #0a0f0d;
  --color-primary-dark-1: #9e8cfb;
  --color-primary-dark-2: #a797f8;
  --color-primary-dark-3: #b0a2f5;
  --color-primary-dark-4: #b8acf3;
  --color-primary-dark-5: #c7bfef;
  --color-primary-dark-6: #ddd9f3;
  --color-primary-dark-7: #f5f4fb;
  --color-primary-light-1: #755af9;
  --color-primary-light-2: #5536f0;
  --color-primary-light-3: #3b1ae0;
  --color-primary-light-4: #351db1;
  --color-primary-light-5: #25195f;
  --color-primary-light-6: #110c28;
  --color-primary-light-7: #05040c;
  --color-primary-alpha-10: #9580ff19;
  --color-primary-alpha-20: #9580ff33;
  --color-primary-alpha-30: #9580ff4b;
  --color-primary-alpha-40: #9580ff66;
  --color-primary-alpha-50: #9580ff80;
  --color-primary-alpha-60: #9580ff99;
  --color-primary-alpha-70: #9580ffb3;
  --color-primary-alpha-80: #9580ffcc;
  --color-primary-alpha-90: #9580ffe1;
  --color-primary-hover: var(--color-primary-light-1);
  --color-primary-active: var(--color-primary-light-2);
  --color-secondary: #3d4a44;
  --color-secondary-dark-1: #44514b;
  --color-secondary-dark-2: #4d5b55;
  --color-secondary-dark-3: #5c6c65;
  --color-secondary-dark-4: #6d7f77;
  --color-secondary-dark-5: #7c8d85;
  --color-secondary-dark-6: #8b9892;
  --color-secondary-dark-7: #99a49f;
  --color-secondary-dark-8: #a8b1ad;
  --color-secondary-dark-9: #aeb8b3;
  --color-secondary-dark-10: #bbc3bf;
  --color-secondary-dark-11: #c8cfcc;
  --color-secondary-dark-12: #d2d7d5;
  --color-secondary-dark-13: #d5d9d7;
  --color-secondary-light-1: #343d39;
  --color-secondary-light-2: #2b332f;
  --color-secondary-light-3: #1e2522;
  --color-secondary-light-4: #191c1b;
  --color-secondary-alpha-10: #3d4a4419;
  --color-secondary-alpha-20: #3d4a4433;
  --color-secondary-alpha-30: #3d4a444b;
  --color-secondary-alpha-40: #3d4a4466;
  --color-secondary-alpha-50: #3d4a4480;
  --color-secondary-alpha-60: #3d4a4499;
  --color-secondary-alpha-70: #3d4a44b3;
  --color-secondary-alpha-80: #3d4a44cc;
  --color-secondary-alpha-90: #3d4a44e1;
  --color-secondary-button: var(--color-secondary-dark-4);
  --color-secondary-hover: var(--color-secondary-dark-3);
  --color-secondary-active: var(--color-secondary-dark-2);
  /* console colors - used for actions console and console files */
  --color-console-fg: #e6f2ec;
  --color-console-fg-subtle: #b3ccbf;
  --color-console-bg: #070b09;
  --color-console-border: #1f2e28;
  --color-console-hover-bg: #17241f;
  --color-console-active-bg: #1f2e28;
  --color-console-menu-bg: #16211d;
  --color-console-menu-border: #374b43;
  --color-console-link: #96a19c;
  /* named colors */
  --color-red: #ff9580;
  --color-orange: #ffca80;
  --color-yellow: #ffff80;
  --color-olive: #b3ff4a;
  --color-green: #39ff14;
  --color-teal: #80ffea;
  --color-blue: #80c0ff;
  --color-violet: #9580ff;
  --color-purple: #ea80ff;
  --color-pink: #ff80bf;
  --color-brown: #cb974e;
  --color-black: #0d1512;
  /* light variants - produced via Sass scale-color(color, $lightness: +10%) */
  --color-red-light: #fc9f8d;
  --color-orange-light: #facd8d;
  --color-yellow-light: #ffff80;
  --color-olive-light: #b5fc53;
  --color-green-light: #54f536;
  --color-teal-light: #74ffe8;
  --color-blue-light: #8bc4fb;
  --color-violet-light: #a18ffd;
  --color-purple-light: #ea8efc;
  --color-pink-light: #fc8ac3;
  --color-brown-light: #cda062;
  --color-black-light: #364942;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #f97459;
  --color-orange-dark-1: #fccc88;
  --color-yellow-dark-1: #fefe59;
  --color-olive-dark-1: #a5fd2b;
  --color-green-dark-1: #30ea0d;
  --color-teal-dark-1: #5fffe5;
  --color-blue-dark-1: #5babfa;
  --color-violet-dark-1: #745af9;
  --color-purple-dark-1: #de5af8;
  --color-pink-dark-1: #fb59a9;
  --color-brown-dark-1: #bf893d;
  --color-black-dark-1: #1b2823;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #f15536;
  --color-orange-dark-2: #fdcb85;
  --color-yellow-dark-2: #ffff2d;
  --color-olive-dark-2: #96fa0c;
  --color-green-dark-2: #33c418;
  --color-teal-dark-2: #3cffdf;
  --color-blue-dark-2: #3695f1;
  --color-violet-dark-2: #5738f2;
  --color-purple-dark-2: #d137ef;
  --color-pink-dark-2: #f43393;
  --color-brown-dark-2: #a57839;
  --color-black-dark-2: #16211d;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: #0a0f0d;
  --color-ansi-red: #ff9580;
  --color-ansi-green: #39ff14;
  --color-ansi-yellow: #ffff80;
  --color-ansi-blue: #9580ff;
  --color-ansi-magenta: #ff80bf;
  --color-ansi-cyan: #80ffea;
  --color-ansi-white: var(--color-console-fg-subtle);
  --color-ansi-bright-black: #5c7066;
  --color-ansi-bright-red: #ff9580;
  --color-ansi-bright-green: #39ff14;
  --color-ansi-bright-yellow: #ffff80;
  --color-ansi-bright-blue: #9580ff;
  --color-ansi-bright-magenta: #ff80bf;
  --color-ansi-bright-cyan: #80ffea;
  --color-ansi-bright-white: var(--color-console-fg);
  /* 16-color series */
  --color-series-16-0: #7db233;
  --color-series-16-1: #499a37;
  --color-series-16-2: #ce4751;
  --color-series-16-3: #8f9121;
  --color-series-16-4: #ac32a6;
  --color-series-16-5: #7445e9;
  --color-series-16-6: #c67d28;
  --color-series-16-7: #4db392;
  --color-series-16-8: #aa4d30;
  --color-series-16-9: #2a6f84;
  --color-series-16-10: #c45327;
  --color-series-16-11: #3d965c;
  --color-series-16-12: #792a93;
  --color-series-16-13: #439d73;
  --color-series-16-14: #103aad;
  --color-series-16-15: #982e85;
  /* other colors */
  --color-grey: #2d3d37;
  --color-grey-light: #899690;
  --color-gold: #e0e04e;
  --color-white: #ffffff;
  --color-diff-added-fg: #39ff14;
  --color-diff-added-linenum-bg: #2b4227;
  --color-diff-added-row-bg: #233220;
  --color-diff-added-row-border: #334b2f;
  --color-diff-added-word-bg: #37702c;
  --color-diff-moved-row-bg: #a6a638;
  --color-diff-moved-row-border: #ffff80;
  --color-diff-removed-fg: #ff9580;
  --color-diff-removed-linenum-bg: #482721;
  --color-diff-removed-row-bg: #30211e;
  --color-diff-removed-row-border: #634943;
  --color-diff-removed-word-bg: #6f3d33;
  --color-diff-inactive: #121c18;
  --color-error-border: #7d4034;
  --color-error-bg: #322522;
  --color-error-bg-active: #492c26;
  --color-error-bg-hover: #3c2824;
  --color-error-text: #ff9580;
  --color-success-border: #27651b;
  --color-success-bg: #1f351b;
  --color-success-text: #39ff14;
  --color-warning-border: #88881c;
  --color-warning-bg: #3e3e23;
  --color-warning-text: #ffff80;
  --color-info-border: #299281;
  --color-info-bg: #1b3a35;
  --color-info-text: #80ffea;
  --color-priority-border: #7c268d;
  --color-priority-bg: #341c39;
  --color-priority-text: #ea80ff;
  --color-red-badge: #ff9580;
  --color-red-badge-bg: #ff95801a;
  --color-red-badge-hover-bg: #ff95804d;
  --color-green-badge: #39ff14;
  --color-green-badge-bg: #39ff141a;
  --color-green-badge-hover-bg: #39ff144d;
  --color-yellow-badge: #ffff80;
  --color-yellow-badge-bg: #ffff801a;
  --color-yellow-badge-hover-bg: #ffff804d;
  --color-orange-badge: #ffca80;
  --color-orange-badge-bg: #ffca801a;
  --color-orange-badge-hover-bg: #ffca804d;
  --color-git: #f05133;
  --color-logo: #609926;
  /* target-based colors */
  --color-body: #0a0f0d;
  --color-box-header: #080d0b;
  --color-box-body: #050706;
  --color-box-body-highlight: #0d1411;
  --color-text-dark: #e6f2ec;
  --color-text: #c1dbce;
  --color-text-light: #b2cbbf;
  --color-text-light-1: #a3b7ad;
  --color-text-light-2: #96a19c;
  --color-text-light-3: #808f88;
  --color-footer: var(--color-nav-bg);
  --color-timeline: #273831;
  --color-input-text: var(--color-text-dark);
  --color-input-background: #070b09;
  --color-input-toggle-background: #202e28;
  --color-input-border: var(--color-secondary-dark-1);
  --color-light: #00000028;
  --color-light-border: #f3f4f428;
  --color-hover: #f3f4f419;
  --color-hover-opaque: #101915; /* TODO: color-mix(in srgb, var(--color-body), var(--color-hover)); */
  --color-active: #f3f4f424;
  --color-menu: #070b09;
  --color-card: #070b09;
  --color-markup-table-row: #f3f4f40f;
  --color-markup-code-block: #f3f4f412;
  --color-markup-code-inline: #f3f4f428;
  --color-button: #070b09;
  --color-code-bg: #050706;
  --color-shadow: #00000058;
  --color-shadow-opaque: #000000;
  --color-secondary-bg: #2d3431;
  --color-expand-button: #21302a;
  --color-placeholder-text: var(--color-text-light-3);
  --color-editor-line-highlight: var(--color-secondary-alpha-40);
  --color-editor-selection: var(--color-primary-alpha-50);
  --color-project-column-bg: var(--color-secondary-light-2);
  --color-caret: var(--color-text); /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #f3f4f412;
  --color-reaction-hover-bg: var(--color-primary-light-4);
  --color-reaction-active-bg: var(--color-primary-light-5);
  --color-tooltip-text: #e9f3ee;
  --color-tooltip-bg: #192721;
  --color-nav-bg: #060a08;
  --color-nav-hover-bg: var(--color-secondary-light-1);
  --color-nav-text: var(--color-text);
  --color-secondary-nav-bg: #1a1e1c;
  --color-label-text: var(--color-text);
  --color-label-bg: #7a8a844b;
  --color-label-hover-bg: #7a8a84a0;
  --color-label-active-bg: #7a8a84ff;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-highlight-fg: #b4b419;
  --color-highlight-bg: #53532a;
  --color-overlay-backdrop: #000000c0;
  --color-danger: var(--color-red);
  --color-transparency-grid-light: #161e1b;
  --color-transparency-grid-dark: #070a09;
  --color-workflow-edge-hover: #61736c;
  --color-syntax-keyword: #9580ff;
  --color-syntax-bool: #9580ff;
  --color-syntax-control: #9580ff;
  --color-syntax-name: #39ff14;
  --color-syntax-type: #80ffea;
  --color-syntax-number: #9580ff;
  --color-syntax-operator: #9580ff;
  --color-syntax-regexp: #ff9580;
  --color-syntax-string: #ffff80;
  --color-syntax-comment: #5c7066;
  --color-syntax-invalid: #ff9580;
  --color-syntax-link: var(--color-primary);
  --color-syntax-tag: #9580ff;
  --color-syntax-attribute: #39ff14;
  --color-syntax-property: #80ffea;
  --color-syntax-variable: #e6f2ec;
  --color-syntax-string-special: #ffff80;
  --color-syntax-escape: #9580ff;
  --color-syntax-entity: #9580ff;
  --color-syntax-preproc: #9580ff;
  --color-syntax-preproc-file: #ffff80;
  --color-syntax-decorator: #39ff14;
  --color-syntax-namespace: #e6f2ec;
  --color-syntax-name-pseudo: #39ff14;
  --color-syntax-comment-special: #5c7066;
  --color-syntax-text: #e6f2ec;
  --color-syntax-text-alt: #5c7066;
  --color-syntax-punctuation: #e6f2ec;
  --color-syntax-whitespace: #5c7066;
  --color-syntax-diff-fg: #e6f2ec;
  --color-syntax-deleted-bg: #ff9580;
  --color-syntax-inserted-bg: #39ff14;
  --color-syntax-emph: #ffff80;
  --color-syntax-strong: #ffca80;
  --color-syntax-heading: #9580ff;
  --color-syntax-subheading: #80ffea;
  --color-syntax-output: #e6f2ec;
  --color-syntax-prompt: #39ff14;
  --color-syntax-traceback: #ff9580;
  --color-syntax-matching-bracket-bg: #80ffea48;
  --color-syntax-nonmatching-bracket-bg: #ff958048;
  accent-color: var(--color-accent);
  color-scheme: dark;
}

/* invert emojis that are hard to read otherwise */
.emoji[aria-label="check mark"],
.emoji[aria-label="currency exchange"],
.emoji[aria-label="TOP arrow"],
.emoji[aria-label="END arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label="copyright"],
.emoji[aria-label="registered"],
.emoji[aria-label="trade mark"],
.emoji[aria-label="multiply"],
.emoji[aria-label="plus"],
.emoji[aria-label="minus"],
.emoji[aria-label="divide"],
.emoji[aria-label="curly loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy dash"],
.emoji[aria-label="paw prints"],
.emoji[aria-label="musical note"],
.emoji[aria-label="musical notes"] {
  filter: invert(100%) hue-rotate(180deg);
}
